<template>
    <layout>
        <div id="content">
            <div class="page-header">
                <div class="container">
                    <button-toggle-column-left></button-toggle-column-left>
                    <div class="pull-right">
                        <app-button @click="$router.push({ name: 'internship.index' })" icon="reply">Cancel</app-button>
                        <app-button :loading="saving" icon="save" @click="create" status="primary">Save</app-button>
                    </div>
                    <h1>{{ pageTitle }}</h1>
                    <breadcrumb></breadcrumb>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 text-right">
                        <h3>Base infomation</h3>
                        <small>Some internship's basic infomation</small>
                    </div>
                    <div class="col-sm-9">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group required">
                                    <label class="control-label">Name</label>
                                    <input-text placeholder="Enter name" :value="name" :status="statusBags.name" :message="messageBags.name" @input="inputName"></input-text>
                                </div>
                                <div class="form-group required">
                                    <label class="control-label">Time open</label>
                                    <input-date-range :from="date_open" :to="date_close" @selectFrom="selectDateOpen" @selectTo="selectDateClose" :from-status="statusBags.date_open" :to-status="statusBags.date_close" :from-message="messageBags.date_open" :to-message="messageBags.date_close"></input-date-range>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right">
                        <h3>Lecturers</h3>
                        <small>Lecturers participate in internship guides</small>
                    </div>
                    <div class="col-sm-9">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row" style="margin-bottom: 15px;">
                                    <div class="col-sm-6">
                                        <app-button icon="plus" @click="openDialogLecturerBrowser">Add lecturer</app-button>
                                        <span><i>{{ lecturers.length ? 'Selected ' + lecturers.length + ' lecturers' : 'Nobody selected' }}</i></span>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <page-control @next="lecturerFilterToPage" @prev="lecturerFilterToPage" :current="lecturerFilterCollection.page" :total="lecturerFilterCollection.totalPage"></page-control>
                                        <input-search @input="inputLecturerKeyword" @clear="clearLecturerKeyword" :keyword="lecturerKeyword" placeholder="Enter lecturers's code or name to search"></input-search>
                                    </div>
                                </div>
                                <table class="table table-hover table-bordered table-stripped" style="margin-bottom: 0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Code</th>
                                            <th>Lecturer</th>
                                            <th>Max students</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template v-if="lecturers.length">
                                            <tr v-for="(lecturer, index) in lecturerFilterCollection.data" :key="index">
                                                <td>{{ lecturerFilterPage == 1 ? index + 1 :  index + 1 + 10 }}</td>
                                                <td>{{ lecturer.code }}</td>
                                                <td><avatar :url="lecturerAvatar(lecturer.avatar)" :fullname="lecturer.lastname + ' ' + lecturer.firstname"></avatar> {{ lecturer.lastname + ' ' + lecturer.firstname }}</td>
                                                <td>
                                                    <input-number size="sm" :value="lecturer.limit_student" @decrement="decrementLimitStudent" @input="inputLimitStudent" @increment="incrementLimitStudent" :index="index"></input-number>
                                                </td>
                                                <td class="text-right text-nowrap">
                                                    <app-button status="danger" @click="deleteLecturer(index)" icon="trash" size="sm" ></app-button>
                                                </td>
                                            </tr>
                                        </template>
                                        <template v-else>
                                            <tr>
                                                <td colspan="5" class="text-center">
                                                    <p class="text-danger">Empty!</p>
                                                </td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right">
                        <h3>Student scope</h3>
                        <small>The scope of students is allowed to participate in this internship</small>
                    </div>
                    <div class="col-sm-9">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label">Student scope</label>
                                    <input-radio :checked="type == 1" @change="inputType($event)" name="type" value="1">All student of school</input-radio>
                                    <input-radio :checked="type == 2" @change="inputType($event)" name="type" value="2" :status="statusBags['faculty_id[]']">Student in faculties</input-radio>
                                    <div v-if="showInputFaculty">
                                        <input-faculty :status="statusBags['faculty_id[]']" :message="messageBags['faculty_id[]']" :value="facultyCode" @select="addFaculty" @input="inputFacultyCode"></input-faculty>
                                        <div>
                                            <h6>Faculties selected:</h6>
                                            <template v-if="facultyIds.length">
                                                <chip v-for="(item, index) in faculties" :title="item.name" :key="index" @close="deleteFaculty(index)">{{ item.code }}</chip>
                                            </template>
                                            <template v-else>
                                                <span class="text-danger">Empty!</span>
                                            </template>
                                        </div>
                                    </div>
                                    <input-radio :checked="type == 3" @change="inputType($event)" name="type" value="3" :status="statusBags['major_id[]']"> Student in majors</input-radio>
                                    <div v-if="showInputMajor">
                                        <input-major :status="statusBags['major_id[]']" :message="messageBags['major_id[]']" :value="majorCode" @select="addMajor" @input="inputMajorCode"></input-major>
                                        <div>
                                            <h6>Majors selected:</h6>
                                            <template v-if="majorIds.length">
                                                <chip v-for="(item, index) in majors" :title="item.name" :key="index" @close="deleteMajor(index)">{{ item.code }}</chip>
                                            </template>
                                            <template v-else>
                                                <span class="text-danger">Empty!</span>
                                            </template>
                                        </div>
                                    </div>
                                    <input-radio :checked="type == 4" @change="inputType($event)" name="type" value="4" :status="statusBags['class_id[]']"> Student in classes</input-radio>
                                    <div v-if="showInputClass">
                                        <input-class :status="statusBags['class_id[]']" :message="messageBags['class_id[]']" :value="classCode" @select="addClass" @input="inputClassCode"></input-class>
                                        <div>
                                            <h6>Classes selected:</h6>
                                            <template v-if="classIds.length">
                                                <chip v-for="(item, index) in classes" :title="item.name" :key="index" @close="deleteClass(index)">{{ item.code }}</chip>
                                            </template>
                                            <template v-else>
                                                <span class="text-danger">Empty!</span>
                                            </template>
                                        </div>
                                    </div>
                                    <input-radio :checked="type == 5" @change="inputType($event)" name="type" value="5" :status="statusBags['student_id[]']"> Only students bellow</input-radio>
                                    <div v-if="showInputStudent">
                                        <input-student :status="statusBags['student_id[]']" :message="messageBags['student_id[]']" :value="studentCode" @select="addStudent" @input="inputStudentCode"></input-student>
                                        <div>
                                            <h6>Students selected:</h6>
                                            <template v-if="studentIds.length">
                                                <chip v-for="(item, index) in students" :title="item.code" :key="index" @close="deleteStudent(index)">{{ item.lastname }} {{ item.firstname }}</chip>
                                            </template>
                                            <template v-else>
                                                <span class="text-danger">Empty!</span>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                                <template v-if="showInputTerm">
                                    <div class="form-group">
                                        <label class="control-label">Student in term</label>
                                        <input-number :value="term" @decrement="decrementTerm" @increment="incrementTerm" @input="inputTerm" :status="statusBags.term"></input-number>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <app-button @click="$router.push({ name: 'internship.index' })" icon="reply">Cancel</app-button>
                    <app-button :loading="saving" icon="save" @click="create" status="primary">Save</app-button>
                </div>
            </div>
        </div>
        <dialog-lecturer-browser @close="closeDialogLecturerBrowser" @select="selectLecturer" :default-selected="lecturers" :open="dialogLecturerBrowserOpenStatus"></dialog-lecturer-browser>
    </layout>
</template>

<script>
    import { mapActions, mapState, mapGetters } from 'vuex'
    import avatar from '../../components/avatar'
    import button from '../../components/button'
    import breadcrumb from '../../common/breadcrumb'
    import buttonToggleColumnLeft from '../../common/buttonToggleColumnLeft'
    import chip from '../../components/chip'
    import columnLeft from '../../common/columnLeft'
    import dialogLecturerBrowser from '../../superComponents/dialogLecturerBrowser'
    import pageControl from '../../components/pageControl'
    import inputClass from '../../superComponents/inputClass'
    import inputDateRange from '../../components/inputDateRange'
    import inputFaculty from '../../superComponents/inputFaculty'
    import inputLecturer from '../../superComponents/inputLecturer'
    import inputNumber from '../../components/inputNumber'
    import inputMajor from '../../superComponents/inputMajor'
    import inputStudent from '../../superComponents/inputStudent'
    import inputRadio from '../../components/inputRadio'
    import inputText from '../../components/inputText'
    import inputSearch from '../../components/inputSearch'
    import layout from '../../layouts/layout'
    import toastr from '../../../plugins/toastr'
    import validateForm from '../../../mixins/validateForm'

    export default {
        components: {
            appButton: button,
            avatar,
            breadcrumb,
            buttonToggleColumnLeft,
            chip,
            dialogLecturerBrowser,
            pageControl,
            inputClass,
            inputDateRange,
            inputFaculty,
            inputLecturer,
            inputNumber,
            inputMajor,
            inputStudent,
            inputRadio,
            inputText,
            inputSearch,
            layout
        },

        mixins: [validateForm],

        data () {
            return {
                saving: false,
                lecturerKeyword: '',
                facultyCode: '',
                majorCode: '',
                classCode: '',
                studentCode: '',
                name: '',
                date_open: '',
                date_close: '',

                dialogLecturerBrowserOpenStatus: false,
                lecturerFilterPage: 1,

                // store objects
                lecturers: [],
                faculties: [],
                majors: [],
                classes: [],
                students: [],

                // store objects ids, faster to check exists
                lecturerIds: [],
                facultyIds: [],
                majorIds: [],
                classIds: [],
                studentIds: [],

                // message bags
                messageBags: {
                    name: '',
                    date_open: '',
                    date_close: '',
                    term: '',
                    'lecturer[]': '',
                    'student_id[]': '',
                    'major_id[]': '',
                    'faculty_id[]': '',
                    'class_id[]': '',
                },

                // status bags
                statusBags: {
                    name: 'normal',
                    date_open: 'normal',
                    date_close: 'normal',
                    term: 'normal',
                    'lecturer[]': 'normal',
                    'student_id[]': 'normal',
                    'major_id[]': 'normal',
                    'faculty_id[]': 'normal',
                    'class_id[]': 'normal',
                },

                type: 1,
                term: 13
            }
        },
        
        computed: {
            showInputFaculty () {
                return this.type == 2
            },

            showInputMajor () {
                return this.type == 3
            },
            
            showInputClass () {
                return this.type == 4
            },

            showInputStudent () {
                return this.type == 5
            },

            showInputTerm () {
                return this.type != 5 && this.type != 4
            },

            lecturerFilterCollection () {
                const perpage = 10
                const page = this.lecturerFilterPage
                const results = this.lecturerFilterResults

                return {
                    perpage: perpage,
                    page: page,
                    totalPage: Math.ceil(results.length/perpage),
                    data: results.slice((page - 1) * perpage).slice(0, perpage)
                }
            },

            lecturerFilterResults () {
                if (!this.lecturerKeyword) {
                    return this.lecturers
                }

                return this.lecturers.filter (item => {
                    return item.lastname.toLowerCase().indexOf(this.lecturerKeyword) != -1
                    || item.firstname.toLowerCase().indexOf(this.lecturerKeyword) != -1
                    || item.code.toLowerCase().indexOf(this.lecturerKeyword) != -1
                })
            },

            ...mapState(['pageTitle']),
        },

        created () {

        },

        mounted () {
            this.setPageTitle('Internships')
            this['menu/setActive']('internship')
            this.setBreadcrumb([
                { route: { name: 'home' }, name: 'Home' },
                { route: { name: 'internship.index' } , name: 'Internships' }
            ])
        },

        methods: {
            setSaving (val) {
                this.saving = val
            },

            selectDateOpen (val) {
                this.date_open = val
            },

            selectDateClose (val) {
                this.date_close = val
            },

            inputName (val) {
                this.name = val
            },

            inputType (event) {
                this.type = event.target.value
            },

            inputLecturerKeyword:_.debounce(function (keyword) {
                this.lecturerKeyword = keyword
            }, 500),

            clearLecturerKeyword () {
                this.lecturerKeyword = ''
            },

            inputStudentCode (val) {
                this.studentCode = val
            },

            inputMajorCode (val) {
                this.majorCode = val
            },

            inputClassCode (val) {
                this.classCode = val
            },

            inputFacultyCode (val) {
                this.facultyCode = val
            },

            selectLecturer (lecturers) {
                // reset
                const oldLectuers = this.lecturers

                this.lecturerIds = []
                this.lecturers = []

                lecturers.forEach(lecturer => {
                    const oldLecturer = oldLectuers.find(item => { return lecturer.id == item.id })
                    
                    if (oldLecturer) {
                        lecturer.limit_student = oldLecturer.limit_student
                    } else {
                        lecturer.limit_student = 5
                    }

                    if (this.lecturerIds.indexOf(lecturer.id) == -1) {
                        this.lecturerIds.push(lecturer.id)
                        this.lecturers.push(lecturer)
                    }
                })
                this.closeDialogLecturerBrowser()
            },
            
            incrementLimitStudent (data) {
                let index = data.index
                let value = data.value
                let lecturers = _.cloneDeep(this.lecturers)
                lecturers[index].limit_student = value
                this.lecturers = lecturers
            },

            inputLimitStudent (data) {
                let index = data.index
                let value = data.value
                let lecturers = _.cloneDeep(this.lecturers)
                lecturers[index].limit_student = value
                this.lecturers = lecturers
            },

            decrementLimitStudent (data) {
                let index = data.index
                let value = data.value
                if (value > 0) {
                    let lecturers = _.cloneDeep(this.lecturers)
                    lecturers[index].limit_student = value
                    this.lecturers = lecturers
                }
            },

            deleteLecturer (index) {
                if (!confirm('Are you surce')) {
                    return false
                }

                const lecturer = this.lecturerFilterCollection.data[index]

                if (lecturer) {
                    this.lecturers = this.lecturers.filter(item => { return item.id != lecturer.id })
                    this.lecturerIds = this.lecturerIds.filter(item => { return item != lecturer.id })
                }
            },

            addStudent (student) {
                if (this.studentIds.indexOf(student.id) == -1) {
                    this.studentIds.push(student.id)
                    this.students.push(student)
                    this.studentCode = ''
                }
            },

            deleteStudent (index) {
                if (!confirm('Are you surce')) {
                    return false
                }

                this.studentIds.splice(index, 1)
                this.students.splice(index, 1)
            },

            addClass (clas) {
                if (this.classIds.indexOf(clas.id) == -1) {
                    this.classIds.push(clas.id)
                    this.classes.push(clas)
                    this.classCode = ''
                    this.term = clas.term
                }
            },

            deleteClass (index) {
                if (!confirm('Are you surce')) {
                    return false
                }

                this.classIds.splice(index, 1)
                this.classes.splice(index, 1)
            },

            addMajor (major) {
                if (this.majorIds.indexOf(major.id) == -1) {
                    this.majorIds.push(major.id)
                    this.majors.push(major)
                    this.majorCode = ''
                }
            },

            deleteMajor (index) {
                if (!confirm('Are you surce')) {
                    return false
                }

                this.majorIds.splice(index, 1)
                this.majors.splice(index, 1)
            },

            addFaculty (faculty) {
                if (this.facultyIds.indexOf(faculty.id) == -1) {
                    this.facultyIds.push(faculty.id)
                    this.faculties.push(faculty)
                    this.facultyCode = ''
                }
            },

            deleteFaculty (index) {
                if (!confirm('Are you surce')) {
                    return false
                }

                this.facultyIds.splice(index, 1)
                this.faculties.splice(index, 1)
            },

            decrementTerm (val) {
                if (val > 0) {
                    this.term = val
                }
            },

            incrementTerm (val) {
                this.term = val
            },

            inputTerm (val) {
                this.term = val
            },

            create () {
                this.setSaving(true)
                this.setAppLoading(true)
                this.resetStatusBags()
                this.resetMessageBags()

                const data = {}
                data.name = this.name
                data.date_open = this.date_open
                data.date_close = this.date_close
                data.lecturer = this.lecturers
                data.type = this.type

                switch (this.type) {
                    case 1: case '1':
                        data.term = this.term
                        break;
                    case 2: case '2': 
                        data.faculty_id = this.facultyIds
                        data.term = this.term
                        break;
                    case 3: case '3':
                        data.major_id = this.majorIds
                        data.term = this.term
                        break;
                    case 4: case '4':
                        data.class_id = this.classIds
                        data.term = this.term
                        break;
                    case 5: case '5':
                        data.student_id = this.studentIds
                        break;
                }

                this['internship/create']({ data })
                    .done(res => {
                        toastr.success(res.message)
                        this.$router.push({ name: 'internship.edit', params: { internshipId: res.internship.id } })
                    })
                    .fail(xhr => {
                        this.formFail(xhr.responseJSON)
                    }).always(() => {
                        this.setAppLoading(false)
                        this.setSaving(false)
                    })
            },

            lecturerAvatar (val) {
                if (!val) {
                    return 'storage/no-avatar.png'
                }
                return val
            },

            closeDialogLecturerBrowser () {
                this.dialogLecturerBrowserOpenStatus = false
            },

            openDialogLecturerBrowser () {
                this.dialogLecturerBrowserOpenStatus = true
            },

            lecturerFilterToPage (page) {
                this.lecturerFilterPage = page
            },

            ...mapActions(['setBreadcrumb', 'setAppLoading', 'setPageTitle', 'menu/setActive']),
            ...mapActions(['internship/create'])
        }
    }
</script>