<template>
    <layout>
        <div id="content">
            <div class="page-header">
                <div class="container">
                    <button-toggle-column-left></button-toggle-column-left>
                    <div class="pull-right">
                        <page-control :current="page" :total="internships.totalPage" @next="toPage" @prev="toPage"></page-control>
                        <input-search :keyword="keyword" placeholder="Enter internship name to search..." @clear="clearKeyword" @input="inputKeyword"></input-search>
                        <app-button v-can="'internship.create'" @click="$router.push({ name: 'internship.create' })" status="primary" icon="plus">New internship</app-button>
                    </div>
                    <h1>{{ pageTitle }}</h1>
                    <breadcrumb></breadcrumb>
                </div>
            </div>
            <visible-frame :visible="visible">
                <div class="container">
                    <div class="table-responsive">
                        <table id="table-internships" class="table table-hover master-table table-striped" style="margin-bottom: 0">
                            <thead>
                                <tr>
                                    <th style="width: 1px">#</th>
                                    <th style="width: 1px"><a href="" :class="sortClass('id')" @click.prevent="rerort('id')">ID</a></th>
                                    <th><a href="" :class="sortClass('name')" @click.prevent="rerort('name')">Name</a></th>
                                    <th>Lecturers</th>
                                    <th><a href="" :class="sortClass('date_open')" @click.prevent="rerort('date_open')">Date open</a></th>
                                    <th><a href="" :class="sortClass('date_close')" @click.prevent="rerort('date_close')">Date open</a></th>
                                    <th><a href="" :class="sortClass('day_left')" @click.prevent="rerort('day_left')">Days left</a></th>
                                    <th><a href="" :class="sortClass('updated_at')" @click.prevent="rerort('updated_at')">Updated at</a></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <template v-if="isEmpty">
                                <tbody>
                                    <tr>
                                        <td colspan="9" class="text-center">
                                            Empty
                                        </td>
                                    </tr>
                                </tbody>
                                </template>
                                <template v-else>
                                    <tbody>
                                        <tr v-for="(internship, index) in internships.data">
                                            <td>#{{ page == 1 ? index + 1 :  index + 1 + perpage }}</td>
                                            <td><strong>{{ internship.id }}</strong></td>
                                            <td>
                                                <router-link v-can="'internship.edit'" :to="{ name: 'internship.edit', params: { internshipId: internship.id } }">
                                                    <strong>{{ internship.name }}</strong>
                                                </router-link>
                                                <strong v-cannot="'internship.edit'">{{ internship.name }}</strong>
                                            </td>
                                            <td>
                                                <template v-for="(lecturer, index) in lecturers(internship.id).data">
                                                    <avatar style="margin-right: 10px;" :fullname="lecturer.lastname + ' ' + lecturer.firstname" :url="lecturerAvatar(lecturer.avatar)"></avatar> 
                                                </template>
                                            </td>
                                            <td>{{ internship.date_open | dateFormat('DD-MM-YYYY') }}</td>
                                            <td>{{ internship.date_close | dateFormat('DD-MM-YYYY') }}</td>
                                            <td>{{ internship.day_left > 0 ? internship.day_left + ' days': '0 (closed)' }}</td>
                                            <td>{{ internship.updated_at | fromNow }}</td>
                                            <td class="text-right text-nowrap">
                                                <app-button v-can="'internship.report.read'" @click="$router.push({ name: 'internship.show', params: { internshipId: internship.id } })" status="info" size="sm" icon="line-chart"></app-button>
                                                <app-button v-can="'internship.edit'" @click="$router.push({ name: 'internship.edit', params: { internshipId: internship.id } })" status="primary" size="sm" icon="pencil"></app-button>
                                                <app-button :loading="internship.id == internshipIdDeleting" v-can="'internship.delete'" @click="deleteInternship(internship.id)" status="danger" size="sm" icon="trash"></app-button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </template>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center hidden-xs">
                        <pagination :current="page" :perpage="perpage" :total="internships.total" @next="toPage" @prev="toPage" @first="toPage" @last="toPage" @change="toPage"></pagination>
                    </div>
                </div>
            </visible-frame>
        </div>
    </layout>
</template>

<script>
    import { mapActions, mapState, mapGetters } from 'vuex'
    import { imageUrl } from '../../../helpers/url'
    import { fromNow, format as dateFormat } from '../../../helpers/datetime'
    import avatar from '../../components/avatar'
    import button from '../../components/button'
    import breadcrumb from '../../common/breadcrumb'
    import buttonToggleColumnLeft from '../../common/buttonToggleColumnLeft'
    import canDirective from '../../../directives/can'
    import cannotDirective from '../../../directives/cannot'
    import columnLeft from '../../common/columnLeft'
    import config from '../../../configs'
    import inputSearch from '../../components/inputSearch'
    import layout from '../../layouts/layout'
    import pageControl from '../../components/pageControl'
    import pagination from '../../components/pagination'
    import toastr from '../../../plugins/toastr'
    import visibleFrame from '../../components/visibleFrame'
    import vue from 'vue'

    vue.filter('fromNow', fromNow)
    vue.filter('dateFormat', dateFormat)
    vue.directive('can', canDirective)
    vue.directive('cannot', cannotDirective)

    export default {
        data () {
            const queries = this.$store.state.internship.queries
            return {
                internshipIdDeleting: false,
                page: queries.page <= 1 ? 1 : queries.page,
                perpage: queries.perpage <= 1 ? 10 : queries.perpage,
                sort: 'id',
                order: 'desc',
                keyword: ''
            }
        },

        components: {
            appButton: button,
            avatar,
            breadcrumb,
            buttonToggleColumnLeft,
            inputSearch,
            pageControl,
            pagination,
            visibleFrame,
            layout
        },

        computed: {
            internships () {
                return this['internship/collections']
            },

            queries () {
                return {
                    page: this.page,
                    perpage: this.perpage,
                    sort: this.sort,
                    keyword: this.keyword,
                    order_by: {
                        [this.sort]: this.order
                    },
                    with: ['lecturer']
                }
            },

            visible () {
                return !this.appLoading
            },

            isEmpty () {
                return this['internship/isEmpty']
            },

            ...mapState(['pageTitle', 'appLoading']),
            ...mapGetters(['internship/collections', 'internship/isEmpty']),
        },

        created () {
            this.fetchData(['internships'])
        },

        mounted () {
            this.setPageTitle('Internships')
            this['menu/setActive']('internship')

            this.setBreadcrumb([
                {route: { name: 'home' }, name: 'Home'},
                {route: { name: 'internship.index' }, name: 'Internships'}
            ])
        },

        methods: {
            setInternshipIdDeleting (internshipId) {
                this.internshipIdDeleting = internshipId
            },

            fetchData () {
                this.setAppLoading(true)
                this['internship/paginate']({ query: this.queries }).done(() => {
                    this.setAppLoading(false)
                })
            },

            sortClass (field) {
                if (this.sort != field) {
                    return null
                }

                if (this.order == 'desc') {
                    return 'asc'
                }

                return 'desc'
            },

            toPage (page) {
                this.page = page
            },

            rerort (sort) {
                this.sort = sort
                if (this.order == 'desc') {
                    this.order = 'asc'
                } else {
                    this.order = 'desc'
                }
            },

            deleteInternship (internshipId) {
                if (!confirm('Are you sure?')) {
                    return false
                }

                this.setAppLoading(true)
                this.setInternshipIdDeleting(internshipId)
                this['internship/delete']({ internshipId: internshipId }).done(res => {
                    toastr.success(res.message)
                    this.fetchData(['internships'])
                }).fail(xhr => {
                    let res = xhr.responseJSON
                    if (res.errors) {
                        for (var error in res.errors) break
                        toastr.error(res.errors[error])
                    } else if (res.message) {
                        toastr.error(res.message)
                    }
                }).always(() => {
                    this.setInternshipIdDeleting(false)
                    this.setAppLoading(false)
                })
            },

            inputKeyword:_.debounce(function (keyword) {
                this.keyword = keyword
            }, 500),

            clearKeyword () {
                this.keyword = ''
            },

            lecturerAvatar (val) {
                if (!val) {
                    return 'storage/no-avatar.png'
                }
                return val
            },

            lecturers (internshipId) {
                const internships = _.cloneDeep(this.internships)
                const internship = internships.data.find(item => { return item.id == internshipId })

                if (internship) {
                    const lecturers = internship.lecturer.data.splice(0, 5)
                    const more = (internship.lecturer.data.length - lecturers.length) > 0 ? internship.lecturer.data.length - lecturers.length : 0
                    
                    return {
                        data: lecturers,
                        more: more
                    }
                }

                return {
                    data: [],
                    more: 0
                }
            },

            ...mapActions(['setAppLoading', 'setBreadcrumb', 'setPageTitle', 'menu/setActive']),
            ...mapActions(['internship/paginate', 'internship/delete'])
        },

        watch: {
            queries () {
                this.fetchData()
            }
        },
    }
</script>