<template>
    <layout>
        <div id="content">
            <div class="page-header">
                <div class="container">
                    <button-toggle-column-left></button-toggle-column-left>
                    <div class="pull-right">
                        <app-button @click="$router.push({ name: 'internship.index' })" icon="reply">Back</app-button>
                        <app-button v-can="'internship.edit'" :loading="internship.id == 0" @click="$router.push({ name: 'internship.edit', params: { internshipId: internship.id } })" icon="pencil">Edit</app-button>
                    </div>
                    <h1>{{ pageTitle }}</h1>
                    <breadcrumb></breadcrumb>
                </div>
            </div>
            <visible-frame :visible="visible">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <databox name="Students registerd today" :revenue="studentToday"></databox>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <databox name="Total students" :revenue="totalStudent"></databox>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <databox name="Total lecturers" :revenue="totalLecturer"></databox>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <databox :name="dayLeftName" :revenue="dayLeft"></databox>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-users"></i>  Students register</h3></div>
                        <div class="panel-body">
                            <div style="margin-bottom: 0px">
                                <div class="text-right">
                                    <page-control :current="studentPage" :total="students.totalPage" @next="studentToPage" @prev="studentToPage"></page-control>
                                    <input-search :keyword="studentKeyword" @clear="clearStudentKeyword" @input="inputStudentKeyword" placeholder="Enter student's name, student's code, lecturer's name, lecturers'code to serch..."></input-search>
                                    <button-dropdown :caret="true" text="Export excel" status="default" icon="download">
                                        <li><a @click.prevent="exportExcelStudent('all')" href="">Export all results</a></li>
                                        <li class="divider"></li>
                                        <li :class="{ disabled: students.data.length == 0 }"><a @click.prevent="exportExcelStudent('current')" href="">Export results bellow</a></li>
                                    </button-dropdown>
                                    <app-button v-can="'internship.report.add-student'" @click="openDialogAddStudentToInternship" status="primary" icon="plus">Add</app-button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover table-striped" style="margin-bottom: 0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th><a href="" :class="studentSortClass('student_firstname')" @click.prevent="studentRerort('student_firstname')">Student</a></th>
                                            <th><a href="" :class="studentSortClass('student_code')" @click.prevent="studentRerort('student_code')">Code</a></th>
                                            <th><a href="" :class="studentSortClass('student_phone')" @click.prevent="studentRerort('student_phone')">Phone</a></th>
                                            <th><a href="" :class="studentSortClass('lecturer_firstname')" @click.prevent="studentRerort('lecturer_firstname')">Lecturer</a></th>
                                            <th><a href="" :class="studentSortClass('created_at')" @click.prevent="studentRerort('created_at')">Registered at</a></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <template v-if="students.data.length == 0">
                                        <tbody>
                                            <tr>
                                                <td colspan="7" class="text-center">Empty</td>
                                            </tr>
                                        </tbody>
                                    </template>
                                    <template v-else>
                                        <tbody>
                                            <tr v-for="(student, index) in students.data" :key="index">
                                                <td>#{{ studentPage == 1 ? index + 1 :  index + 1 + studentPerpage }}</td>
                                                <td>
                                                    <avatar :fullname="student.student_lastname + ' ' + student.student_firstname" :url="studentAvatar(student)"></avatar>
                                                    <span class="offline"></span>
                                                    <router-link v-can="'student.edit'" :to="{ name: 'student.edit', params: { studentId: student.student_id } }">
                                                        <strong>{{ student.student_lastname + ' ' + student.student_firstname }}</strong>
                                                    </router-link>
                                                    <strong v-cannot="'student.edit'">{{ student.student_lastname + ' ' + student.student_firstname }}</strong>
                                                </td>
                                                <td>{{ student.student_code }}</td>
                                                <td>{{ student.student_phone }}</td>
                                                <td>
                                                    <avatar :fullname="student.lecturer_lastname + ' ' + student.lecturer_firstname" :url="lecturerAvatar(student)"></avatar>
                                                    <span class="offline"></span>
                                                    <router-link v-can="'lecturer.edit'" :to="{ name: 'lecturer.edit', params: { lecturerId: student.lecturer_id } }">
                                                        <strong>{{ student.lecturer_lastname + ' ' + student.lecturer_firstname }}</strong>
                                                    </router-link>
                                                    <strong v-cannot="'lecturer.edit'">{{ student.lecturer_lastname + ' ' + student.lecturer_firstname }}</strong>
                                                </td>
                                                <td>
                                                    {{ student.created_at | fromNow }}
                                                </td>
                                                <td class="text-right text-nowrap">
                                                    <app-button v-can="'internship.report.edit-student'" @click="openDialogEditStudentFromInternship(student.student_id)" status="primary" size="sm" icon="pencil"></app-button>
                                                    <app-button v-can="'internship.report.delete-student'" @click="deleteStudent(student.student_id)" :loading="studentIdDeleting == student.student_id" status="danger" size="sm" icon="trash"></app-button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </template>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Lecturers</h3>
                                </div>
                                <div class="panel-heading text-right">
                                    <page-control :current="lecturerPage" :total="lecturers.totalPage" @next="lecturerToPage" @prev="lecturerToPage"></page-control>
                                    <input-search width="234px" @input="inputLecturerKeyword" @clear="clearLecturerKeyword" :keyword="lecturerKeyword" placeholder="Search lecturer"></input-search>
                                </div>
                                <div class="">
                                    <table class="table table-striped table-hover" style="margin-bottom: 0">
                                        <template v-if="lecturers.data.length == 0">
                                            <tbody>
                                                <tr>
                                                    <td colspan="4" class="text-center">Empty</td>
                                                </tr>
                                            </tbody>
                                        </template>
                                        <template v-else>
                                            <tbody>
                                                <tr v-for="(lecturer, index) in lecturers.data" :key="index">
                                                    <td class="text-nowrap">
                                                        <avatar :fullname="lecturer.lecturer_lastname + ' ' + lecturer.lecturer_firstname" :url="lecturerAvatar(lecturer)"></avatar>
                                                        <span class="offline"></span>
                                                        <router-link v-can="'lecturer.edit'" :to="{ name: 'lecturer.edit', params: { lecturerId: lecturer.lecturer_id } }">
                                                            <strong>{{ lecturer.lecturer_lastname + ' ' + lecturer.lecturer_firstname }}</strong>
                                                        </router-link>
                                                        <strong v-cannot="'lecturer.edit'">{{ lecturer.lecturer_lastname + ' ' + lecturer.lecturer_firstname }}</strong>
                                                    </td>
                                                    <td class="text-right text-nowrap">
                                                        <strong>{{ lecturer.total_student }}</strong>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="panel panel-default">
                                <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-line-chart"></i> Analytics</h3></div>
                                <chart-line></chart-line>
                            </div>
                        </div>
                    </div>
                </div>
            </visible-frame>
        </div>
        <dialog-add-student-to-internship :internship-id="internshipId" :open="dialogAddStudentToInternshipOpenStatus" @added="addStudent" @close="closeDialogAddStudentToInternship"></dialog-add-student-to-internship>
        <dialog-edit-student-from-internship :internship-id="internshipId" :student-id="studentIdEditing" :open="dialogEditStudentFromInternshipOpenStatus" @updated="editStudent" @close="closeDialogEditStudentFromInternship"></dialog-edit-student-from-internship>
    </layout>
</template>

<script>
    import { mapActions, mapState, mapGetters } from 'vuex'
    import { format as formatDate, fromNow, today } from '../../../helpers/datetime'
    import excelExport from '../../../plugins/excelExport'
    import avatar from '../../components/avatar'
    import button from '../../components/button'
    import buttonDropdown from '../../components/buttonDropdown'
    import breadcrumb from '../../common/breadcrumb'
    import buttonToggleColumnLeft from '../../common/buttonToggleColumnLeft'
    import canDirective from '../../../directives/can'
    import cannotDirective from '../../../directives/cannot'
    import chartLine from '../../components/chartLine'
    import columnLeft from '../../common/columnLeft'
    import databox from '../../components/databox'
    import dialogAddStudentToInternship from '../../superComponents/dialogAddStudentToInternship'
    import dialogEditStudentFromInternship from '../../superComponents/dialogEditStudentFromInternship'
    import inputSearch from '../../components/inputSearch'
    import pageControl from '../../components/pageControl'
    import internshipApi from '../../../api/internship'
    import layout from '../../layouts/layout'
    import visibleFrame from '../../components/visibleFrame'
    import vue from 'vue'

    vue.filter('fromNow', fromNow)
    vue.directive('can', canDirective)
    vue.directive('cannot', cannotDirective)

    export default {
        components: {
            appButton: button,
            avatar,
            breadcrumb,
            buttonDropdown,
            buttonToggleColumnLeft,
            chartLine,
            databox,
            dialogAddStudentToInternship,
            dialogEditStudentFromInternship,
            inputSearch,
            pageControl,
            layout,
            visibleFrame
        },

        data () {
            return {
                visible: false,
                searchLecturer: false,
                studentIdDeleting: null,
                dialogAddStudentToInternshipOpenStatus: false,
                dialogEditStudentFromInternshipOpenStatus: false,

                studentIdEditing: false,
                internshipId: this.$route.params.internshipId,
                internship: {
                    id: 0,
                    name: '',
                    is_open: false,
                    date_close: '0000-00-00',
                    date_open: '0000-00-00',
                    day_left: 0,
                    term: 0,
                    type: 0,
                    updated_at: '0000-00-00 00:00:00',
                },
                students: {
                    data: [],
                    total: 0,
                    totalPage: 0
                },

                studentSort: 'created_at',
                studentOrder: 'desc',
                studentPage: 0,
                studentPerpage: 10,
                studentKeyword: '',

                lecturers: {
                    data: [],
                    total: 0,
                    totalPage: 0
                },

                lecturerPage: 0,
                lecturerPerpage: 10,
                lecturerKeyword: '',

                statistic: {
                    studentToday: 0,
                    totalStudent: 0,
                    totalLecturer: 0,
                    dayLeft: 0
                }
            }
        },
        
        computed: {
            pageTitle () {
                if (this.internship.name) {
                    return this.internship.name
                }
                return '...'
            },

            studentToday () {
                return this.statistic.studentToday + ' students'
            },

            totalStudent () {
                return this.statistic.totalStudent + ' students'  
            },

            totalLecturer () {
                return this.statistic.totalLecturer + ' lecturers'  
            },

            dayLeft () {
                return this.statistic.dayLeft + ' days'
            },

            dayLeftName () {
                return 'Days left ('+ today('DD/MM/YYYY') +')'
            },

            lecturerQueries () {
                return {
                    page: this.lecturerPage,
                    perpage: this.lecturerPerpage,
                    keyword: this.lecturerKeyword,
                    with: ['total_student', 'lecturer']
                }
            },

            studentQueries () {
                return {
                    page: this.studentPage,
                    perpage: this.studentPerpage,
                    keyword: this.studentKeyword,
                    order_by: {
                        [this.studentSort]: this.studentOrder
                    },
                    with: ['student', 'lecturer']
                }
            },
            
            ...mapState(['appLoading'])
        },

        created () {
            this.fetchData(['internship', 'statistic', 'students', 'lecturers'])
        },

        mounted () {
            this.setPageTitle(this.pageTitle)
            this['menu/setActive']('internship')
            this.setBreadcrumb([
                { route: { name: 'home' }, name: 'Home' },
                { route: { name: 'internship.index' } , name: 'Internships' }
            ])
        },

        methods: {
            setVisible (val) {
                this.visible = val
            },

            studentSortClass (field) {
                if (this.studentSort != field) {
                    return null
                }

                if (this.studentOrder == 'desc') {
                    return 'asc'
                }

                return 'desc'
            },

            studentRerort (sort) {
                this.studentSort = sort
                if (this.studentOrder == 'desc') {
                    this.studentOrder = 'asc'
                } else {
                    this.studentOrder = 'desc'
                }
            },

            fetchData (include) {
                const requests = []
                this.setAppLoading(true)

                if (include.indexOf('internship') != - 1) {
                    requests.push(internshipApi.get(this.internshipId).done(res => {
                        const internship = res.internship
                        for (let key in internship) {
                            this.internship[key] = internship[key]
                        }
                    }))
                }

                if (include.indexOf('statistic') != - 1) {
                    requests.push(internshipApi.statistic(this.internshipId).done(res => {
                        this.statistic.totalStudent = res.data.total_student
                        this.statistic.totalLecturer = res.data.total_lecturer
                        this.statistic.dayLeft = res.data.day_left > 0 ? res.data.day_left : 0
                        this.statistic.studentToday = res.data.student_today
                    }))
                }

                if (include.indexOf('students') != - 1) {
                    requests.push(internshipApi.getStudents(this.internshipId, { data: this.studentQueries }).done(res => {
                        this.students.data = res.data
                        this.students.totalPage = res.total_page
                        this.students.total = res.total
                        this.studentPerpage = res.perpage
                        this.studentPage = res.page
                    }))
                }

                if (include.indexOf('lecturers') != - 1) {
                    requests.push(internshipApi.getLecturers(this.internshipId, { data: this.lecturerQueries }).done(res => {
                        this.lecturers.data = res.data
                        this.lecturers.totalPage = res.total_page
                        this.lecturers.total = res.total
                        this.lecturerPerpage = res.perpage
                        this.lecturerPage = res.page
                    }))
                }

                $.when.apply($, requests).done(() => {
                    this.setAppLoading(false)
                    this.setVisible(true)
                })
            },

            clearStudentKeyword () {
                this.studentKeyword = ''
            },

            inputStudentKeyword:_.debounce(function (keyword) {
                this.studentKeyword = keyword
            }, 500),

            inputLecturerKeyword:_.debounce(function (keyword) {
                this.lecturerKeyword = keyword
            }, 500),

            clearLecturerKeyword () {
                this.lecturerKeyword = ''  
            },

            studentToPage (page) {
                this.studentPage = page
            },

            studentAvatar (student) {
                if (student.student_avatar) {
                    return student.student_avatar
                }

                return 'storage/no-avatar.png'
            },

            deleteStudent (studentId) {
                if (!confirm('Are you sure?')) {
                    return false
                }

                this.studentIdDeleting = studentId
                this.setAppLoading(true)

                internshipApi.deleteStudent(this.internshipId, studentId).done(res => {
                    this.studentIdDeleting = null
                    this.fetchData(['students'])
                    this.setAppLoading(false)
                })
            },

            addStudent (info) {
                this.fetchData(['students'])
                this.closeDialogAddStudentToInternship()
            },

            openDialogAddStudentToInternship () {
                this.dialogAddStudentToInternshipOpenStatus = true
            },

            closeDialogAddStudentToInternship () {
                this.dialogAddStudentToInternshipOpenStatus = false
            },

            editStudent (info) {
                this.fetchData(['students'])
                this.closeDialogEditStudentFromInternship()
            },

            openDialogEditStudentFromInternship (studentId) {
                this.studentIdEditing = studentId
                this.dialogEditStudentFromInternshipOpenStatus = true
            },

            closeDialogEditStudentFromInternship () {
                this.dialogEditStudentFromInternshipOpenStatus = false
            },

            lecturerAvatar (lecturer) {
                if (lecturer.lecturer_avatar) {
                    return lecturer.lecturer_avatar
                }

                return 'storage/no-avatar.png'
            },

            lecturerToPage (page) {
                this.lecturerPage = page
            },

            exportExcelStudent (scope) {
                const _export = (students) => {
                    const data = []

                    students.forEach((item, index) => {
                        const student = {
                            index: index + 1,
                            lastname: item.student_lastname,
                            firstname: item.student_firstname,
                            code: item.student_code,
                            phone: item.student_phone,
                            lecturer: item.lecturer_lastname + ' ' + item.lecturer_firstname,
                            message: item.message,
                            registered_at: formatDate(item.created_at, 'DD-MM-YYYY')
                        }
                        data.push(student)
                    })

                    const options = {
                        name: 'internship',
                        data
                    }

                    excelExport(options)
                }

                if (scope == 'all') {
                    this.setAppLoading(true)
                    internshipApi.getStudents(this.internshipId, { data: { page: 1, perpage: 99999, with: ['student', 'lecturer'] } }).done(res => {
                        this.setAppLoading(false)
                        _export(res.data)
                    })
                } else {
                    this.setAppLoading(true)
                    const queries = this.studentQueries
                    queries.perpage = 99999
                    queries.page = 1
                    internshipApi.getStudents(this.internshipId, { data: this.studentQueries }).done(res => {
                        this.setAppLoading(false)
                        _export(res.data)
                    })
                }
            },

            ...mapActions(['setBreadcrumb', 'setAppLoading', 'setPageTitle', 'menu/setActive'])
        },

        watch: {
            studentQueries: {
                deep: true,
                handler () {
                    this.fetchData(['students'])
                }
            },

            lecturerQueries: {
                deep: true,
                handler () {
                    this.fetchData(['lecturers'])
                }
            }
        }
    }
</script>
