<template>
    <button :disabled="loading" :class="btnClasses" @click="eventClick($event)" @mousedown="eventMousedown($event)"><span v-html="faIcon"></span> <span class="hidden-xs"><slot></slot></span></button>
</template>
<script>
    export default {
        props: ['icon', 'type', 'size', 'loading'],
        computed: {
            btnClasses () {
                let classes = ['btn']

                if (!this.type) {
                    classes.push('btn-default')
                } else {
                    classes.push('btn-' + this.type)
                }

                if (this.size) {
                    classes.push('btn-' + this.size)
                }

                if (this.loading) {
                    classes.push('disabled')
                }

                return classes.join(' ')
            },

            faIcon () {
                let classes = []
                classes.push('fa')
                
                if (this.loading) {
                    classes.push('fa-pulse')
                    classes.push('fa-spinner')
                } else if (this.icon) {
                    classes.push('fa-'+ this.icon)
                }
                return '<i class="'+ classes.join(' ') +'"></i>'
            }
        },

        methods: {
            eventClick (event) {
                this.$emit('click', event)
            },

            eventMousedown (event) {
                this.$emit('mousedown', event)  
            }
        }
    }
</script>