<template>
    <span :class="spanClasses">
        <span class="text" :data-original-title="title" :title="title"><slot></slot></span>
        <button type="button" @click="eventClose($event)" class="close">×</button>
    </span>
</template>
<script>
    import { strRandom } from '../../helpers/string'
    import componentIndex from '../../mixins/componentIndex'

    export default {
        mixins: [componentIndex],
        props: {
            type: {
                type: String,
                default: 'default'
            },

            title: {
                type: String
            }
        },

        computed: {
            id () {
                return strRandom()
            },

            spanClasses () {
                const classes = []
                classes.push('label')
                classes.push('chip')
                classes.push('label-' + this.type)

                return classes
            }
        },

        mounted () {
            $('#' + this.id).tooltip()
        },

        methods: {
            eventClose (event) {
                if (this.hasIndex) {
                    this.$emit('close', {
                        index: this.index,
                        event: event
                    })
                } else {
                    this.$emit('close', event)
                }
            }
        }
    }
</script>