<template>
    <div class="btn-group">
        <a href="" dropdown-toggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <template v-if="text">
                <span class="text">{{ text }}</span>
            </template>
            <template v-if="caret">
                <span class="caret"></span>
            </template>
            <template v-if="faIcon">
                <i :class="faIcon"></i>
            </template>
        </a>
        <ul class="dropdown-menu">
            <slot></slot>
        </ul>
    </div>
</template>
<script>
    export default {
        props: ['text', 'icon', 'caret'],

        computed: {
            faIcon () {
                const classes = []
                if (this.icon) {
                    classes.push('fa')
                    classes.push('fa-' + this.icon)
                }

                return classes
            }
        }
    }
</script>