<template>
    <div>
        <textarea :id="editorId" :name="name"></textarea>
        <media-browser
            :id="mediaBrowserId"
            :open="openMediaBrowserStatus"
            @close="closeMediaBrowser"
            @insert="insertMedia"></media-browser>
    </div>
</template>
<script>
    import tinymce from 'tinymce/tinymce'
    import { urlStorage } from '../../helpers/url'
    import { strRandom } from '../../helpers/string'
    import mediaBrowser from '../dialogs/mediaBrowser'

    import 'tinymce/themes/modern/theme'
    import 'tinymce/plugins/advlist'
    import 'tinymce/plugins/autolink'
    import 'tinymce/plugins/lists'
    import 'tinymce/plugins/charmap'
    import 'tinymce/plugins/print'
    import 'tinymce/plugins/preview'
    import 'tinymce/plugins/anchor'
    import 'tinymce/plugins/textcolor'
    import 'tinymce/plugins/searchreplace'
    import 'tinymce/plugins/visualblocks'
    import 'tinymce/plugins/code'
    import 'tinymce/plugins/fullscreen'
    import 'tinymce/plugins/insertdatetime'
    import 'tinymce/plugins/table'
    import 'tinymce/plugins/contextmenu'
    import 'tinymce/plugins/paste'
    import 'tinymce/plugins/textpattern'
    import 'tinymce/plugins/link'
    import 'tinymce/plugins/codesample'
    import 'tinymce/plugins/media'

    export default {
        props: {
            content: {
                default: '',
            },

            plugin: {
                type: Array,
                default () {
                    return [
                        'advlist autolink lists link charmap print preview anchor textcolor',
                        'searchreplace visualblocks code fullscreen',
                        'insertdatetime table contextmenu paste code textpattern media'
                    ]
                }
            },
            
            toolbar: {
                type: String,
                default: 'addmedia | styleselect | bold italic underline strikethrough | bullist numlist | blockquote | backcolor | alignleft aligncenter alignright alignjustify | link unlink | table | removeformat | code  | fullscreen'
            },

            name: {
                default: '',
            }
        },

        components: {
            mediaBrowser
        },

        data () {
            return {
                editor: null,
                openMediaBrowserStatus: false,
                checkerTimeout: true,
                isTyping : false,
            }
        },

        computed: {
            editorId () {
                return strRandom()
            },

            mediaBrowserId () {
                return 'media-browser' + this.editorId
            }
        },

        mounted () {
            const vm = this
            tinymce.init({
                selector: '#' + this.editorId,
                content_css: '/static/vendor/tinymce/skins/lightgray/content.min.css',
                skin_url: '/static/vendor/tinymce/skins/lightgray',
                skin: true,
                height: 200,
                menubar: false,
                convert_urls: false,
                setup: function (editor) {
                    this.editor = editor
                    editor.on('init', (e) => {
                        editor.setContent(vm.content);
                    });

                    editor.on('change', () => {
                        editor.save()
                    })

                    editor.on('Change', (e) => {
                        if(editor.getContent() !== vm.content){
                            vm.submitNewContent()
                        }
                    });

                    editor.on('KeyUp', (e) => {
                        vm.$emit('input', tinymce.activeEditor.getContent())
                        vm.submitNewContent()
                    })

                    editor.addButton('addmedia', {
                        text: "Add media",
                        onclick: function () {
                            vm.openMediaBrowser()
                        }
                    })
                },
                plugins: vm.plugin,
                toolbar: vm.toolbar
            })
        },

        watch: {
            content (newContent) {
                if (!this.isTyping) {
                    tinymce.get(this.editorId).setContent(newContent);
                }
            }
        },

        methods: {
            insertMedia (itemsSelected) {
                $.each(itemsSelected, function (index, item) {
                    if (item.type.split('/')[0] === 'image') {
                        var imageSrc = urlStorage(item.path)
                        tinymce.activeEditor.execCommand('mceInsertContent', false, '<img src="' + imageSrc +'" />')
                    } else {
                        // do something when type diffrent image
                    }
                })

                this.closeMediaBrowser()
            },

            openMediaBrowser () {
                this.openMediaBrowserStatus = true
            },

            closeMediaBrowser () {
                this.openMediaBrowserStatus = false  
            },

            submitNewContent () {
                this.isTyping = true;
                if(this.checkerTimeout !== null) {   
                    clearTimeout(this.checkerTimeout);
                }
                this.checkerTimeout = setTimeout(()=>{
                    this.isTyping = false;
                }, 300);
            }
        }
    }
</script>