<template>
    <input-base type="text"
        :placeholder="placeholder"
        :value="value"
        :name="name"
        :status="status"
        :icon="icon"
        :autofocus="autofocus"
        :message="message"
        :size="size"
        :disabled="disabled"
        :regex="regex"
        @input="inputEvent"
        @focus="focusEvent"
        @blur="blurEvent"
        @keydown="keydownEvent"
        @keyup="keyupEvent"
    />
    </input-base>
</template>
<script>
    import inputBase from './inputBase'

    export default {
        props: ['placeholder', 'size', 'value', 'name', 'status', 'message', 'icon', 'autoselect', 'autofocus', 'disabled', 'regex'],

        components: { inputBase },

        methods: {
            inputEvent(value) {
                this.$emit('input', value)
            },

            keyupEvent(e) {
                this.$emit('keyup', e)
            },

            keydownEvent(e) {
                this.$emit('keydown', e)
            },

            focusEvent (e) {
                this.$emit('focus', e)
            },

            blurEvent (e) {
                this.$emit('blur', e)
            },
        }
    }
</script>