<template>
    <div :class="radioClasses">
        <label>
            <input type="radio" :name="name" :checked="checked" @change="changeEvent($event)" :value="value" />
            <slot></slot>
        </label>
        <template v-if="hasMessage">
            <p class="help-block">{{ message }}</p>
        </template>
    </div>
</template>
<script>
    import componentIndex from '../../mixins/componentIndex'

    export default {
        props: {
            checked: {
                type: Boolean
            },

            value: {
                type: String
            },

            message: {
                type: String
            },

            status: {
                type: String
            },

            name: {
                type: String
            }
        },
        
        computed: {
            radioClasses () {
                const classes = ['radio']
                if (this.status == 'error') {
                    classes.push('has-error')
                }

                return classes
            },

            hasMessage () {
                if (this.message) {
                    return true
                }

                return false
            },
        },

        mixins: [componentIndex],

        methods: {
            changeEvent (event) {
                if (this.hasIndex) {
                    this.$emit('change', {
                        index: this.index,
                        event: event
                    })
                } else {
                    this.$emit('change', event)
                }
            }
        }
    }
</script>