<template>
    <div class="input-group">
        <span class="input-group-btn">
            <app-button @click="incrementEvent" icon="plus" type="primary" :size="size"></app-button>
        </span>
        <input-base type="number"
        :placeholder="placeholder"
        :value="value"
        :name="name"
        :status="status"
        :message="message"
        :size="size"
        @input="inputEvent"
        @focus="focusEvent"
        @blur="blurEvent"
        @keydown="keydownEvent"
        @keyup="keyupEvent"
    />
    </input-base>
        <span class="input-group-btn">
            <app-button @click="decrementEvent" icon="minus" type="danger" :size="size"></app-button>
        </span>
    </div>
</template>
<script>
    import button from './button'
    import inputBase from './inputBase'

    export default {
        components: {
            appButton: button,
            inputBase
        },

        props: {
            value: {
            },
            placeholder: {
                type: String
            },
            size: {
                type: String
            },
            index: {
                default: ''
            },
            message: {
                type: String
            },
            status: {
                type: String
            },
            name: {
                type: String
            }
        },

        computed: {
            inputClasses () {
                const classes = ['form-control']

                if (this.size) {
                    classes.push('input-' + this.size)
                }

                return classes
            },
            hasIndex () {
                if (this.index.toString().length) {
                    return true
                }

                return false
            }
        },

        methods: {
            incrementEvent () {
                if (this.hasIndex) {
                    this.$emit('increment', {
                        index: this.index,
                        value: parseInt(this.value) + 1
                    })
                } else {
                    this.$emit('increment', parseInt(this.value) + 1)
                }
            },

            decrementEvent () {
                if (this.hasIndex) {
                    this.$emit('decrement', {
                        index: this.index,
                        value: parseInt(this.value) - 1
                    })
                } else {
                    this.$emit('decrement', parseInt(this.value) - 1)
                }
            },

            inputEvent(value) {
                if (this.hasIndex) {
                    this.$emit('input', {
                        index: this.index,
                        value: value
                    })
                } else {
                    this.$emit('input', value)
                }
            },

            keyupEvent(e) {
                this.$emit('keyup', e)
            },

            keydownEvent(e) {
                this.$emit('keydown', e)
            },

            focusEvent (e) {
                this.$emit('focus', e)
            },

            blurEvent (e) {
                this.$emit('blur', e)
            },
        }
    }
</script>
