<template>
    <div>
        <div class="input-image">
            <img :src="imagePreview" />
            <input type="hidden" :name="name" :value="value" />
            <span class="upload" @click="openUpload"></span>
            <span class="remove" @click="resetImage"></span>
        </div>
        <media-browser
            modal-title="Chose your avatar"
            txt-btn-insert="Chose"
            :type="['image']"
            :mutiple-insert="false"
            :open="openMediaBrowserStatus"
            @close="closeMediaBrowser"
            @insert="insertMedia"></media-browser>
    </div>
</template>

<script>
    import mediaBrowser from '../dialogs/mediaBrowser'

    export default {
        props: ['value', 'name', 'defaultPreview'],

        data () {
            return {
                openMediaBrowserStatus: false,
            }
        },

        components: {
            mediaBrowser
        },

        computed: {
            imagePreview () {
                return this.defaultPreview;
            }
        },

        methods: {
            openUpload () {
                this.openMediaBrowserStatus = true
            },

            closeMediaBrowser () {
                this.openMediaBrowserStatus = false
            },

            insertMedia (images) {
                this.$emit('change', images[0].path)
                this.closeMediaBrowser()
            },

            resetImage () {
                this.$emit('reset')
            }
        }
    }
</script>