<template>
    <div>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
            <input readonly
                :id="id"
                :class="inputClasses"
                :autofocus="autofocus"
                :name="name"
                :value="value"
                :placeholder="placeholder"
                :disabled="disabled"/>
        </div>
        <template v-if="hasMessage">
            <p class="help-block">{{ message }}</p>
        </template>
    </div>
</template>
<style lang="css" src="jquery-ui/themes/base/all.css"></style>
<script>
    import 'jquery-ui/ui/widgets/datepicker'
    import { strRandom } from '../../helpers/string'

    export default {
        props: ['placeholder', 'size', 'value', 'name', 'status', 'message', 'autofocus', 'autoselect', 'disabled', 'options'],
        computed: {
            id () {
                return strRandom()
            },

            inputEl () {
                return $('#' + this.id)
            },

            datePickerOptions() {
                const vm = this
                return $.extend({
                    changeMonth: false,
                    changeYear: false,
                    dateFormat: 'dd-mm-yy',
                    yearRange: (() => {
                        const date = new Date()
                        const currentYear = date.getFullYear()
                        return  (currentYear - 100) + ':' + currentYear
                    })(),
                    onSelect (dateText, inst) {
                        vm.$emit('select', dateText)
                    }
                }, this.options)
            },

            statusClasses () {
                if (!this.status || this.status === 'normal') {
                    return ''
                } else if (this.status === 'error') {
                    return 'has-error'
                }
            },

            hasMessage () {
                if (this.message) {
                    return true
                }

                return false
            },

            inputClasses () {
                const classes = ['form-control']

                if (this.size) {
                    classes.push('input-' + this.size)
                }

                return classes
            }
        },

        mounted () {
            $(() => {
                this.inputEl.datepicker(this.datePickerOptions)
            })
        }
    }
</script>