<template>
    <div class="btn-group" v-if="need">
        <button type="button" @click="prev" :disabled="disabledPrev" class="btn btn-default pre"><i class="fa fa-chevron-left"></i></button>
        <button type="button" @click="next" :disabled="disabledNext" class="btn btn-default next"><i class="fa fa-chevron-right"></i></button>
    </div>
</template>
<script>
    export default {
        props: ['current', 'total'],
        computed: {
            need () {
                return !this.disabledNext || !this.disabledPrev
            },

            disabledNext () {
                if (this.current < this.total) {
                    return false
                }

                return true
            },

            disabledPrev () {
                if (this.current > 1) {
                    return false
                }

                return true
            },
        },
        methods: {
            next () {
                this.$emit('next', this.current + 1)
            },

            prev () {
                this.$emit('prev', this.current - 1)
            }
        }
    }
</script>