<template>
    <li role="presentation" :class="{ active: active }">
        <a href="#tab">
            <slot></slot>
        </a>
    </li>
</template>
<script>
    export default {
        props: ['active']
    }
</script>