<template>
    <div :class="classes">
        <slot></slot>
    </div>
</template>

<script>

    export default {
        props:['visible', 'effect', 'spinner'],

        computed: {
            classes () {
                let classes = []
                const effect = this.effect ? this.effect : 'fadeIn'

                if (this.visible === true) {
                    classes.push(effect)
                    classes.push('animated')
                    classes.push('visible-frame-visible')
                } else {
                    classes.push('visible-frame-hidden')
                }

                if (this.spinner) {
                    classes.push('position-relative')
                }

                return classes
            }
        }
    }
</script>

<style>
    .fadeIn {
        -webkit-animation-duration: .3s;
        animation-duration: .3s;
    }

    .visible-frame-hidden {
        opacity: 0;
        visibility: hidden;
    }

    .visible-frame-visible {
        opacity: 1;
        visibility: visible;
    }
</style>

<style scoped>
    .position-relative {
        position: relative;
    }
</style>