// @import url(https://fonts.googleapis.com/css?family=Roboto|RobotoDraft&subset=latin,cyrillic-ext,greek-ext,vietnamese);
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(193, 193, 193, 0.3);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(193, 193, 193, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(193, 193, 193, 0.5);
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    overflow-y: scroll;

    &.has-notify {
        #column-left {
            top: 28px;
        }

        #content {
            padding-top: 98px;

            .page-header {
                top: 28px;
            }
        }
    }
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

label {
    font-weight: normal;
}

a {
    &:hover, &:focus {
        text-decoration: none;
    }
}

.logo {
    display: none;
}

#container {
    min-height: 100%;
    width: 100%;
    position: relative;
}

#column-left {
    min-height: 100%;
    background-color: #fff;
    position: fixed;
    left: -100%;
    top: 0px;
    z-index: ($zindex-navbar-fixed + 2);
    transition: all .3s;
    width: $column-left-width;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#column-left-under {
    display: none;
    transition: all .3s;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: ($zindex-navbar-fixed + 1);
    background: rgba(0, 0, 0, 0.36);
}

#header {
    min-height: 0px;
    background: #fafafa;
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 0;
    padding: 16px;
    height: $header-bar-height;
    overflow: hidden;
}

#footer {
    height: 100px;
    text-align: center;
}

#button-menu {
    padding: 5px 20px 0px 0px;
    line-height: 25px;
    float: left;
    display: inline-block;
    cursor: pointer;
    color: #6D6D6D;
}

#profile {
    display: block;
    white-space: nowrap;
    margin-bottom: 15px;
    transition: all .3s;
    background-repeat: no-repeat;
    background-position: left top;

    &:after {
        content: " ";
        display: block;
        clear: both;
    }
    
    .profile-body {
        padding: 15px 0;
        overflow: hidden;
        transition: all .3s;

        a {
            color: #fff;
        }

        div.avatar {
            display: inline-block;

            &:first-child {
                img {
                    margin-top: -15px;
                    max-width: 50px;
                    border: 3px solid rgba(0, 0, 0, 0.14);
                }
            }
        }
        
        .base-info {
            display: inline-block;
            margin-left: 7px;

            h4 {
                margin-top: 6px;
                font-family: 'Open Sans', sans-serif;
                font-size: 15px;
                font-weight: 400;
                margin-bottom: 0;
            }
        }
    }

    .profile-sub {
        background: rgba(0, 0, 0, 0.37);
        padding: 7px 14px;
        color: #fff;
        position: relative;
        text-align: center;
        
        .btn-group {
            > a {
                color: #fff;
                font-weight: bold;
                > span.text {
                    display: none;
                }
            }

            > ul {
                right: auto;
                left: 0;
            }
        }
    }
}

#content {
    transition: all .3s;
    padding-top: 70px;
    padding-bottom: 15px;
    .container {
        max-width: 100%;
    }
}

#menu {
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    a {
        text-decoration: none;
        display: block;
        padding: 5px;
        cursor: pointer;
        border-radius: 3px;
        white-space: nowrap;
        max-width: 100%;

        &.parent {
            transition: all .3s;
            &:after {
                font-family: FontAwesome;
                content: "\f107";
                position: absolute;
                top: calc(50% - 10px);
                right: 10px;
            }
        }

        > span.remove {
            display: none;
        }
    }

    i {
        font-size: 16px;
    }

    img {
        width: 30px;
        height: 30px;
        display: inline-block;
        background: #fff;
        border: 1px solid #fff;
        border-radius: 50%;
    }

    li {
        > ul {
            height: 0;
            overflow: hidden;
            transition: all .3s;
        }

        ul a {
            padding-left: 20px;
        }
        
        li {
            ul a {
                padding-left: 40px;
            }
            li {
                ul a {
                    padding-left: 60px;
                }
                li ul a {
                    padding-left: 80px;
                }
            }
        }

        &.open {
            > ul {
                height: auto;
            }
        }
    }

    .menu-group {
        margin: 0 15px;

        &:first-child,
        &:last-child {
            border-bottom-width: 0;
        }

        .menu-name {
            display: none;
            padding: 0 5px;
            white-space: nowrap;
            word-wrap: normal;
            text-overflow: ellipsis;
        }

        ul.menu-body {
            > li {
                position: relative;
                margin-bottom: 5px;

                > a {
                    color: #000;
                    font-size: 14px;
                    padding-left: 10px;
                    text-shadow: 0 0 #333;
                    margin-bottom: 5px;

                    &:hover {
                        background-color: #e2e2e2;
                        padding-left: 13px;
                    }

                    > span {
                        margin-left: 10px;
                    }
                }

                > ul {
                    position: absolute;
                    left: 50px;
                    top: 0px;
                    width: 210px;
                    background-color: #fff;
                    visibility: hidden;
                    border-radius: 3px;
                }

                li {
                    a {
                        color: #333;
                        &:hover {
                            color: #FFFFFF;
                            background-color: $brand-info;
                        }
                        &:before {
                            content: "\f101";
                            font-size: 14px;
                            font-family: FontAwesome;
                            margin-left: 10px;
                            margin-right: 10px;
                            transition: margin ease 0.5s;
                        }
                        &:hover:before {
                            margin-right: 20px;
                        }
                    }
                    
                    ul {
                        overflow: hidden;
                    }

                    &.active {
                        a {
                            &:last-child:before {
                                margin-left: 20px;
                                margin-right: 10px;
                            }
                        }
                    }
                }

                &.open {
                    > a {
                        color: #fff;
                        background: darken($brand-info, 6.5%);
                    }
                }

                &.active {
                    > a {
                        color: #fff;
                        border-left: 3px solid #266d82;
                        background: #56b5d2;
                        padding-left: 10px;
                    }
                }

                &:hover {
                    ul {
                        visibility: visible;
                        box-shadow: 10px 10px 15px #cbcbcb;
                    }
                }
            }
        }
    
        // Khi kéo thả sắp xếp menu
        .menu-item-state-highlight {
            min-height: 37px;
            border: 1px dashed #333;
            border-radius: 3px;
            background: #f7f7f7;
        }
    }

    &.editing {
        .menu-group {
            ul.menu-body {
                > li {
                    > a {
                        > span.remove {
                            margin: 0;
                            margin-right: 8px;
                            color: $brand-danger;
                        }

                        &:hover {
                            background-color: darken($brand-info, 6.5%);
                            color: #fff;
                        }
                    }
                    
                    &.active,
                    &.open {
                        > a {
                            color: #333;
                            background: none;
                            border-left-width: 0;

                            &:hover {
                                background-color: darken($brand-info, 6.5%);
                                color: #fff;
                            }
                        }
                        
                        ul {
                            display: none !important; // Ẩn hết các menu đang mở, khi menu đang ở trạng thái chỉnh sửa
                        }
                    }
                }
            }
        }
    }
}

#column-left {
    &.active {
        left: 0;

        .logo {
            display: inline;
        }

        #profile {
            .profile-body {
                padding: 15px;
            }

            .profile-sub {
                text-align: right;
                .btn-group {
                    > a {
                        color: #fff;
                        font-weight: bold;
                        > span.text {
                            display: inline;
                        }
                    }

                    > ul {
                        right: 0;
                        left: auto;                        
                    }
                }
            }
        }

        #menu {
            .menu-group {
                .menu-name {
                    display: none;
                }

                ul.menu-body {
                    li {
                        a {
                            // padding: 7px;
                            margin-right: 0;
                        }
                        i {
                            font-size: 14px;  
                        }
                    }

                    > li {
                        white-space: nowrap;
                        word-wrap: normal;
                        text-overflow: ellipsis;
                    
                        &:hover {
                            > ul {
                                box-shadow: none;
                            }
                        }

                        ul {
                           position: relative;
                           left: auto;
                           top: auto;
                           width: auto;
                           visibility: visible;
                        }

                        > a {
                            > span {
                                // display: inline;

                                &.remove {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        
            // ul.menu-body > li > a > span.remove
            &.editing {
                ul.menu-body {
                    > li {
                        > a {
                            > span.remove {
                                display: inline-block;
                            }
                        }
                    }
                }

                .find-module {
                    display: block;
                }
            }
        }

        + #column-left-under {
            display: block;
        }
    }

    .btn-edit-menu {
        position: fixed;
        left: -100%;
        bottom: -100%;
        transition: all .3s;
    }

    &:hover {
        .btn-edit-menu {
            left: -3px;
            bottom: -3px;
        }
    }
}

#content {
    + #footer {
        margin-left: 50px;
    }

    .page-header {
        margin: 0 0 15px;
        padding: 10px 0;
        background: #fff;
        position: fixed;
        z-index: $zindex-navbar-fixed;
        width: 100%;
        top: 0;
        right: 0;
        height: $header-bar-height;
        transition: all .3s;

        h1 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: #848484;
            display: block;
            margin-bottom: 0;
            text-transform: uppercase;
            white-space: nowrap;
            margin: 0;
            padding: 10px;
        }
    }
}

.page-footer {
    vertical-align: middle;
    padding: 10px 0;
    background: #fff;
    border-top: 2px solid #e5e5e5;
    max-width: inherit;
    width: calc(100% - #{$column-left-width});
    position: fixed;
    z-index: $zindex-navbar-fixed;
    bottom: 0;
}

span {
    &.hidden-xs, &.hidden-sm, &.hidden-md, &.hidden-lg {
        display: inline;
    }
}

// fix animated css
.animated {
    -webkit-animation-fill-mode: none !important;
    animation-fill-mode: none !important;
}