@media (min-width: $screen-sm) {
    #menu {
        .menu-group {
            margin: 0;
            transition: all .3s;

            a.parent:after {
                visibility: hidden;
            }
        }
    }
    
    #content {
        .page-header {
            h1 {
                font-size: 12px;
                padding: 0;
            }
        }
    }

    #column-left {
        width: 50px;
        left: 0;

        + #column-left-under + #content {
            margin-left: 50px;
            .page-header {
                width: calc(100% - 50px);
            }
        }

        #menu {
            > .menu-group {
                > ul.menu-body {
                    > li {
                        > a {
                            > span {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        &.active {
            width: $column-left-width;
            
            #menu {
                .menu-group {
                    margin: 0 15px;

                    > ul.menu-body {
                        > li {
                            > a {
                                > span {
                                    display: inline;
                                }
                            }
                        }
                    }
                }

                a.parent:after {
                    visibility: visible;
                }
            }

            + #column-left-under + #content {
                .page-header {
                    width: calc(100% - #{$column-left-width});
                }
            }

            + #column-left-under {
                display: none;
            }
        }
    }
}