$icon-font-path: "/admin/static/fonts/";
$body-bg: #f1f1f1;
$font-size-base: 14px;
$font-family-sans-serif: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
$header-bar-height: 56px;
$header-bar-height-md: 64px;
$column-left-width: 235px;
$grid-gutter-width: 30px !default;

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

// $gray-base:              #000 !default;
// $gray-darker:            lighten($gray-base, 13.5%) !default; // #222
// $gray-dark:              lighten($gray-base, 20%) !default;   // #333
// $gray:                   lighten($gray-base, 33.5%) !default; // #555
// $gray-light:             lighten($gray-base, 46.7%) !default; // #777
// $gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         #4899de !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

// == screens
// xs: Mobile 0 -> 768
// sm: tablet 768 -> 992
// md: laptop: 992 -> 1200
// lg: desktop: 1200 -> trở lên

$screen-sm:                  768px !default;
$screen-md:                  992px !default;

$btn-default-color:              #333 !default;
$btn-default-bg:                 #fff !default;
$btn-default-border:             #eee !default;

$input-border:                   #eee !default;

$zindex-loading:           1090 !default;
$zindex-loading-background:1080 !default;
$zindex-toast:             1070 !default;
$zindex-fullscreen:        1039 !default;

$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-modal-background:  1040 !default;
$zindex-modal:             1050 !default;