.label-arrow {
    background: $brand-primary;
    color: #fff;
    position: relative;
    margin-bottom: 1px;

    .arrow-title {
        display: block;
        padding: 7px 15px;
        margin: 0;

        a, span {
            color: #fff;
            white-space: nowrap;
        }
    }

    .arrow-description {
        display: block;
        padding: 7px 15px;
        white-space: nowrap;
    }

    // &:before {
    //     content: " ";
    //     display: block;
    //     width: 0;
    //     height: 0;
    //     border-top: 50px solid transparent;
    //     border-bottom: 50px solid transparent;
    //     border-left: 30px solid #ddd;
    //     position: absolute;
    //     top: 50%;
    //     margin-top: -50px;
    //     margin-left: 1px;
    //     left: 100%;
    //     z-index: 1;
    // }

    &:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 31.5px solid transparent;
        border-bottom: 31.5px solid transparent;
        border-left: 15px solid $brand-primary;
        position: absolute;
        top: 80%;
        margin-top: -50px;
        left: 100%;
        z-index: 2;
    }
}