.breadcrumb {
    display: block;
    background: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    li {
        a {
            color: #999999;
            font-size: 11px;
            padding: 0px;
            margin: 0px;

            &:hover {
                text-decoration: none;
            }
        }
        + li:before {
            content: "/";
            color: #BBBBBB;
            padding: 0 5px;
        }
    }
}