.btn {
    box-shadow: 0px 1px 2px -1px rgba(255,255,255,0.5) inset, 0px -2px 0px 0px rgba(0,0,0,0.1) inset;

    &:active {
        box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.05) inset, 0px 2px 0px 0px rgba(0,0,0,0.1) inset;
        padding: 7px 12px 5px 12px;
    }

    &.btn-sm {
        padding: 4px 10px 6px 10px;
        &:active {
            padding: 6px 10px 4px 10px;
        }
    }
}

.btn-default {
    color: #0078bd;
    box-shadow: none !important;
    padding: 6px 12px !important;

    &:active {
        box-shadow: none !important;
        padding: 6px 12px !important;
    }
}