.input-image {
    width: 100px;
    height: 100px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    border: 2px dashed #d9d9d9;
    border-radius: 3px;
    background: #f1f1f1;
    overflow: hidden;
    
    .upload,
    .remove {
        display: block;

        &:after {
            display: block;
            position: absolute;
            font-size: 20px;
            color: #fff;
            z-index: 0;
            visibility: hidden;
        }
    }

    .upload:after {
        content: "\f093";
        font-family: FontAwesome;
        bottom: 0;
        right: 28px;
    }   

    .remove:after {
        content: "\f1f8";
        font-family: FontAwesome;
        bottom: 0;
        right: 0;
    }

    &:before {
        content: " ";
        display: block;
        position: absolute;
        height: calc(100% + 4px);
        width: calc(100% + 4px);
        left: -2px;
        top: -2px;
        z-index: 0;
        transition: all .2s;
    }

    &:hover {
        &:before  {
            z-index: 5;
            background: rgba(0, 0, 0, 0.19);
        }
        
        .remove:after,
        .upload:after {
            z-index: 9;
            visibility: visible;
        }
    }

    img {
        position: absolute;
        height: calc(100% + 4px);
        display: block;
        left: 50%;
        top: -2px;
        z-index: 1;
        transform: translate(-50%, 0);
    }

    input[type="file"] {
        display: none;
    }
}
