@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.loading {
    &:after {
        display: block;
        content: " ";
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        right: 0;
        background: rgba(208, 208, 208, 0.62);
        z-index: $zindex-loading-background;
    }

    &:before {
        display: block;
        content: " ";
        border: 3px solid #f3f3f3;
        border-top: 3px solid #3498db;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 1s linear infinite;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        z-index: $zindex-loading;
    }

    &.absolute {
        &:after,
        &:before {
            position: absolute;
        }
    }
}

.placeholder {
    margin: 0 auto;
    position: relative;

    > .animated-background {
        animation-duration: 1.25s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%) !important;
        position: relative;
        background-size: 800px 104px !important;
        position: absolute;
        height: 100%;
        width: 100%;
    }
}
