.pagination-group {
    display: flex;
    justify-content: center;

    .total {
        margin: 18px 5px;
        float: left;
        padding: 7px 8px;
        font-weight: 700;
    }

    .perpage {
        margin: 18px 5px;
        label {
            display: inline-block;
            font-weight: 700;
            margin-right: 5px;
            padding: 7px 8px;
        }
        select {
            width: auto;
            display: inline-block;
        }
    }

    &:after {
        display: block;
        content: " ";
        clear: both;
    }
}