.master-table {
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);

    th {
        white-space: nowrap;   
    }

    tr > th:first-child,
    tr > td:first-child {
        text-align: center;
        max-width: 50px;
        min-width: 40px;
        padding-left: 0;
        padding-right: 0;
    }
    
    thead {
        border-bottom: 1px solid #ddd;
    }

    tbody > tr > th,
    tbody > tr > td {
        border-top: none;
    }

    td.action {
        white-space: nowrap;
    }
}

.table {
    thead {
        td {
            font-weight: bold;
        }
    
        > tr > th,
        > tr > td {
            vertical-align: middle;
        }
    }
    tbody > tr > td {
        vertical-align: middle;
    }
    a {
        &.asc:after {
            content: " \f107";
            font-family: FontAwesome;
            font-size: 14px;
        }
        &.desc:after {
            content: " \f106";
            font-family: FontAwesome;
            font-size: 14px;
        }
    }
}

.table thead td span[data-toggle="tooltip"]:after, label.control-label span:after {
    font-family: FontAwesome;
    color: darken($brand-info, 6.5%);
    content: "\f059";
    margin-left: 4px;
}