<template>
    <ul class="breadcrumb hidden-xs">
        <li v-for="(item, index) in breadcrumbs" :key="index">
            <router-link :to="item.route">
                <span>{{ item.name }}</span>
            </router-link>
        </li>
    </ul>
</template>
<script>
    import { mapState } from 'vuex'
    
    export default {
        computed: mapState(['breadcrumbs'])
    }
</script>