<template>
    <div class="pull-left">
        <a type="button" @click.prevent="togglecolumnLeft" id="button-menu" class="pull-left"><i class="fa fa-bars fa-2x"></i></a>
    </div>
</template>

<script>
    import { mapActions } from 'vuex'

    export default {
        methods: mapActions(['togglecolumnLeft'])
    }
</script>