<template>
    <nav id="column-left" :class="{active: activeColumnLeft}">
        <div id="header">
            <a href="" class="logo">
                <img style="width: 100px" :src="logo" alt="" title="" />
            </a>
            <a target="_blank" href="" data-placement="bottom" data-toggle="tooltip" title="Xem trang web" class="pull-right">
                <i class="fa fa-external-link"></i>
            </a>
        </div>
        <div id="sidebar-menu">
            <div id="profile" :style="{ 'background-image': bgProfile }">
                <div class="profile-body">
                    <div class="avatar">
                        <a href="">
                            <img :src="avatar"  :title="fullname" class="img-circle">
                        </a>
                    </div>
                    <div class="base-info">
                        <a href="" @click.prevent="pushRoute({ name: 'profile.index' })">
                            <h4>{{ fullname }}</h4>
                            <small>{{ email }}</small>
                        </a>
                    </div>
                </div>
                <div class="profile-sub">
                    <div class="btn-group">
                        <a href="" dropdown-toggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="text">Your profile</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="" @click.prevent="pushRoute({ name: 'profile.index' })">Profile info</a>
                            </li>
                            <li>
                                <a href="" @click.prevent="pushRoute({ name: 'profile.change-password' })">Change login password</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="" @click.prevent="logout"><i class="fa fa-power-off"></i> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="menu">
                <div class="menu-group" id="anonymus">
                    <ul class="menu-body">
                        <li v-for="menu in menus" :class="{ active: menuActive == menu.name }" v-can="menu.gate">
                            <a data-toggle="tooltip" data-placement="right" href="" @click.prevent="pushRoute({ name: menu.route })" :title="menu.label">
                                <img :src="menu.icon | imageUrl" />
                                <span>{{ menu.label }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</template>
<script>
    import { mapActions, mapState, mapGetters } from 'vuex'
    import { imageUrl } from '../../helpers/url'
    import canDirective from '../../directives/can'
    import vue from 'vue'

    vue.filter('imageUrl', imageUrl)
    vue.directive('can', canDirective)

    export default {
        computed: {
            logo () {
                return imageUrl('storage/logo.png')
            },

            bgProfile () {
                let image = imageUrl('storage/profile-menu.jpg')
                return 'url('+ image +')'
            },

            avatar () {
                let avatar = this['auth/user'].avatar
                if (!avatar) {
                    avatar = 'storage/no-avatar_50x50.png'
                }

                return imageUrl(avatar)
            },

            fullname () {
                let fullname = this['auth/user'].firstname + ' ' + this['auth/user'].lastname
                if (fullname.trim() == 'null null') {
                    fullname = 'You are no name'
                }
                return fullname
            },

            email () {
                return this['auth/user'].email
            },

            menus () {
                return this['menu/collections']
            },

            menuActive () {
                return this['menu/active']
            },

            ...mapState(['activeColumnLeft']),
            ...mapGetters(['menu/collections', 'menu/active', 'auth/user']),
        },

        methods: {
            logout () {
                this['auth/logout']()
                this.$router.push({ name: 'auth.login' })
            },
            
            pushRoute (route) {
                const screenWidth = $(document).width()
                if (screenWidth <= 768) {
                    this.setActiveColumnLeft(false)
                }
                this.$router.push(route)
            },

            ...mapActions(['auth/logout', 'setActiveColumnLeft'])
        }
    }
</script>