<template>
    <layout>
        <div id="content">
            <div class="page-header">
                <div class="container">
                    <button-toggle-column-left></button-toggle-column-left>
                    <div class="pull-right">
                        <app-button type="default" icon="reply">Back</app-button>
                        <app-button :loading="changing" type="primary" @click="change" icon="save">Change</app-button>
                    </div>
                    <h1>{{ pageTitle }}</h1>
                    <breadcrumb></breadcrumb>
                </div>
            </div>
            <div class="container">
                <form method="post" @submit.prevent>
                    <div class="panel panel-default form">
                        <div class="panel-heading"><h3 class="panel-title">Change password login</h3></div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group required">
                                    <label class="control-label col-sm-2">Current password</label>
                                    <div class="col-sm-10">
                                        <input-password placeholder="Current password" name="old_password" @input="inputOldPassword" :value="oldPassword" :status="statusBags.old_password" :message="messageBags.old_password"></input-password>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="control-label col-sm-2">New password</label>
                                    <div class="col-sm-10">
                                        <input-password placeholder="New password" name="password" @input="inputPassword" :value="password" :status="statusBags.password" :message="messageBags.password"></input-password>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="control-label col-sm-2">Confirm password</label>
                                    <div class="col-sm-10">
                                        <input-password placeholder="Confirm password" name="password_confirmation" @input="inputPasswordConfirmation" :value="passwordConfirmation" :status="statusBags.password_confirmation" :message="messageBags.password_confirmation"></input-password>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer text-right">
                            <app-button type="default" icon="reply">Back</app-button>
                            <app-button :loading="changing" @click="change" type="primary" icon="save">Change</app-button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </layout>
</template>

<script>
    import { mapActions, mapState } from 'vuex'
    import button from '../../components/button'
    import breadcrumb from '../../common/breadcrumb'
    import buttonToggleColumnLeft from '../../common/buttonToggleColumnLeft'
    import columnLeft from '../../common/columnLeft'
    import inputPassword from '../../components/inputPassword'
    import layout from '../../layouts/layout'
    import validateForm from '../../../mixins/validateForm'
    import toastr from '../../../plugins/toastr'


    export default {
        components: {
            appButton: button,
            breadcrumb,
            buttonToggleColumnLeft,
            inputPassword,
            layout,
        },

        mixins: [validateForm],
        
        data () {
            return {
                oldPassword: '',
                password: '',
                passwordConfirmation: '',

                changing: false,

                statusBags: {
                    old_password: 'normal',
                    password: 'normal',
                    password_confirmation: 'normal',
                },
                messageBags: {
                    old_password: '',
                    password: '',
                    password_confirmation: '',
                },
            }
        },

        computed: mapState(['pageTitle']),

        mounted () {
            this.setPageTitle('Change passowrd')
            this['menu/setActive']('profile')
            this.setBreadcrumb([
                {route: { name: 'home' }, name: 'Home'},
                {route: { name: 'profile.index' }, name: 'Profile'}
            ])
        },

        methods: {
            setChanging (val) {
                this.changing = val
            },

            inputPassword (val) {
                this.password = val
            },

            inputOldPassword (val) {
                this.oldPassword = val
            },

            inputPasswordConfirmation (val) {
                this.passwordConfirmation = val
            },

            change () {
                this.setAppLoading(true)
                this.setChanging(true)
                this.resetStatusBags()
                this.resetMessageBags()

                this['auth/updatePassword']({ data: {
                    old_password: this.password,
                    password: this.password,
                    password_confirmation: this.passwordConfirmation,
                }}).done(res => {
                    toastr.success(res.message)
                }).fail(xhr => {
                    this.formFail(xhr.responseJSON)
                }).always(() => {
                    this.setAppLoading(false)
                    this.setChanging(false)
                })
            },

            ...mapActions(['setBreadcrumb', 'setAppLoading', 'setPageTitle', 'menu/setActive']),
            ...mapActions(['auth/updatePassword'])
        }
    }
</script>