<template>
    <layout>
        <div id="content">
            <div class="page-header">
                <div class="container">
                    <button-toggle-column-left></button-toggle-column-left>
                    <div class="pull-right">
                        <app-button @click="$router.push({ name: 'home' })" icon="reply">Back</app-button>
                        <app-button :loading="saving" icon="save" @click="save" type="primary">Save</app-button>
                    </div>
                    <h1>{{ pageTitle }}</h1>
                    <breadcrumb></breadcrumb>
                </div>
            </div>
            <div class="container">
                <form method="post" @submit.prevent>
                    <div class="panel panel-default form">
                        <div class="panel-heading"><h3 class="panel-title">Profile infomation</h3></div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="" class="col-sm-2 control-label">Avatar</label>
                                        <div class="col-sm-10">
                                            <input-image name="avatar" :value="avatar" :default-preview="defaultPreview" @reset="resetAvatar" @change="inputAvatar"></input-image>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label for="" class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-10">
                                        <input-text placeholder="Email" name="email" disabled="true" :value="email" :status="statusBags.email" :message="messageBags.email"></input-text>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label for="" class="col-sm-2 control-label">Fullname</label>
                                    <div class="col-sm-10">
                                        <input-text placeholder="Fullname" name="fullname" :value="fullname" :status="statusBags.fullname" :message="messageBags.fullname" @input="inputFullname"></input-text>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label for="" class="col-sm-2 control-label">Birth</label>
                                    <div class="col-sm-10">
                                        <input-date :options="{ changeMonth: true, changeYear: true }" placeholder="Birth" name="birth" :value="birth" :status="statusBags.birth" :message="messageBags.birth" @select="selectBirth"></input-date>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-2 control-label">Phone</label>
                                    <div class="col-sm-10">
                                        <input-text placeholder="Phone" name="phone" :value="phone":status="statusBags.phone" :message="messageBags.phone" @input="inputPhone"></input-text>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer text-right">
                            <app-button @click="$router.push({ name: 'home' })" icon="reply">Back</app-button>
                            <app-button :loading="saving" icon="save" @click="save" type="primary">Save</app-button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </layout>
</template>

<script>
    import { mapActions, mapState, mapGetters } from 'vuex'
    import { format as formatDate } from '../../../helpers/datetime'
    import { url, imageUrl } from '../../../helpers/url'
    import button from '../../components/button'
    import breadcrumb from '../../common/breadcrumb'
    import buttonToggleColumnLeft from '../../common/buttonToggleColumnLeft'
    import config from '../../../configs'
    import inputImage from '../../components/inputImage'
    import inputDate from '../../components/inputDate'
    import inputText from '../../components/inputText'
    import layout from '../../layouts/layout'
    import toastr from '../../../plugins/toastr'
    import validateForm from '../../../mixins/validateForm'

    export default {
        components: {
            appButton: button,
            breadcrumb,
            buttonToggleColumnLeft,
            inputDate,
            inputImage,
            inputText,
            layout,
        },

        mixins: [validateForm],

        data () {
            const user = _.cloneDeep(this.$store.state.auth.user)
            return {
                avatar: user.avatar,
                birth: formatDate(user.birth, 'DD-MM-YYYY'),
                email: user.email,
                fullname: (user.firstname + ' ' + user.lastname != 'null null') ? user.firstname + ' ' + user.lastname : '',
                phone: user.phone,
                send_email_new_login: user.send_email_new_login,

                saving: false,

                statusBags: {
                    birth: 'normal',
                    email: 'normal',
                    phone: 'normal',
                    fullname: 'normal',
                },

                messageBags: {
                    birth: '',
                    email: '',
                    phone: '',
                    fullname: '',
                }
            }
        },
        
        computed: {
            pageTitle () {
                if (this.fullname) {
                    return this.fullname
                } else {
                    return 'Empty fullname'
                }
            },

            defaultPreview () {
                if (this.avatar) {
                    return imageUrl(this.avatar, [100, 100])
                }
                return url('storage/no-avatar_100x100.png')
            },

            ...mapGetters(['auth/user']),
        },

        mounted () {
            this['menu/setActive']('profile')
            this.setBreadcrumb([
                {route: { name: 'home' }, name: 'Home'},
                {route: { name: 'profile.index' }, name: 'Profile'}
            ])
        },

        methods: {
            setSaving (val) {
                this.saving = val
            },

            inputPhone (val) {
                this.phone = val
            },

            selectBirth (val) {
                this.birth = val
            },

            inputFullname (val) {
                this.fullname = val
            },

            inputAvatar (val) {
                this.avatar = val
            },

            resetAvatar () {
                this.avatar = ''
            },

            save () {
                this.setAppLoading(true)
                this.setSaving(true)
                this.resetStatusBags()
                this.resetMessageBags()

                this['auth/update']({
                    data: {
                        fullname: this.fullname,
                        birth: this.birth,
                        birth: this.birth,
                        phone: this.phone,
                        avatar: this.avatar
                    }
                }).done(res => {
                    toastr.success(res.message)
                }).fail(xhr => {
                    this.formFail(xhr.responseJSON)
                }).always(() => {
                    this.setAppLoading(false)
                    this.setSaving(false)
                })
            },
            ...mapActions(['setBreadcrumb', 'setAppLoading', 'menu/setActive']),
            ...mapActions(['auth/update'])
        }
    }
</script>