<template>
    <div :style="{height: '100%'}">
        <router-view></router-view>
        <app-loading :loading="appLoading"></app-loading>
    </div>
</template>

<style src="../assets/sass/style.scss" lang="scss"></style>
<style src="../assets/sass/components.scss" lang="scss"></style>

<script>
    import { mapActions, mapState, mapGetters } from 'vuex'
    import notify from '../plugins/notify'
    import appLoading from './components/appLoading'

    export default {
        components: { appLoading },

        computed: {
            ...mapState(['appLoading']),
            ...mapGetters(['auth/check'])
        },

        created () {
            this.fetchData()
        },

        mounted () {
            this.notifyInternet()
        },

        methods: {
            notifyInternet (lastStatus) {
                if (lastStatus !== navigator.onLine || lastStatus === false) {
                    if (navigator.onLine === true) {
                        notify.success('Internet access', 2000)
                    } else if (navigator.onLine === false) {
                        notify.error('No Internet access')
                    }
                }

                lastStatus = navigator.onLine
                setTimeout(() => { this.notifyInternet(lastStatus) }, 1000)
            },
            
            fetchData () {
                const requests = []
                this.setAppLoading(true)
                
                if (this['auth/check'] == true) {
                    requests.push(this['auth/getMe']())
                }
                
                requests.push(this['setting/all']())

                $.when.apply($, requests).done(() => {
                    this.setAppLoading(false)
                })
            },

            ...mapActions(['setAppLoading', 'auth/getMe', 'setting/all'])
        }
    }
</script>
