@media (min-width: $screen-md) {
    #column-left,
    #column-left-under {
        &.active {
            + #column-left-under + #content {
                margin-left: $column-left-width;
            }
        }
    }
}