<template>
    <layout>
        <div id="content">
            <div class="page-header">
                <div class="container">
                    <button-toggle-column-left></button-toggle-column-left>
                    <h1>{{ pageTitle }}</h1>
                    <breadcrumb></breadcrumb>
                </div>
            </div>
            <visible-frame :visible="visible">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <arrow description="Faculties" :title="facultyActive.name"></arrow>
                                <list-sort className="list-group" @stop="sortFaculty">
                                    <a v-for="(faculty, index) in faculties" :data-id="faculty.id" href="" @click.prevent="facultyActiveIndex = index" class="list-group-item hover-display sortable" :class="{ active: index == facultyActiveIndex }">
                                        {{ faculty.name }} <span class="pull-right">#{{ index + 1 }}</span>
                                    </a>
                                    <div class="list-group-item text-right" style="background: #fafafa">
                                        <app-button v-can="'school.create'" @click="openDialogCreateFaculty" size="btn-sm" icon="plus"></app-button>
                                        <app-button v-can="'school.edit'" v-if="facultyActive" @click="openDialogEditFaculty" :loading="facultyEditing" size="btn-sm" icon="pencil"></app-button>
                                        <app-button v-can="'school.delete'" v-if="facultyActive" @click="deleteFaculty" :loading="facultyDeleting" size="btn-sm" icon="trash"></app-button>
                                    </div>
                                </list-sort>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="panel panel-default">
                                <arrow description="Majors" :title="majorActiveName"></arrow>
                                <list-sort className="list-group" @stop="sortMajor">
                                    <a :data-id="major.id" href="#" @click.prevent="majorActiveIndex = index" class="list-group-item hover-display sortable" :class="{ active: index == majorActiveIndex }" v-for="(major, index) in majors">
                                        {{ major.name }} <span class="pull-right">#{{ index + 1 }}</span>
                                    </a>
                                    <div class="list-group-item text-right" style="background: #fafafa">
                                        <app-button v-can="'school.create'" @click="openDialogCreateMajor" size="btn-sm" icon="plus"></app-button>
                                        <app-button v-can="'school.create'" v-if="majorActive" @click="openDialogEditMajor" :loading="majorEditing" size="btn-sm" icon="pencil"></app-button>
                                        <app-button v-can="'school.create'" v-if="majorActive" @click="deleteMajor" :loading="majorDeleting" size="btn-sm" icon="trash"></app-button>
                                    </div>
                                </list-sort>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="panel panel-default">
                                <arrow description="Terms" :title="termActive.term"></arrow>
                                <div class="list-group">
                                    <a href="#" @click.prevent="termActiveIndex = index" class="list-group-item hover-display" :class="{ active: index == termActiveIndex }" v-for="(term, index) in terms">
                                        {{ term.term }} <span class="pull-right">#{{ index + 1 }}</span>
                                    </a>
                                    <div class="list-group-item text-right" style="background: #fafafa">
                                        <app-button v-can="'school.create'" @click="openDialogCreateTerm" size="btn-sm" icon="plus"></app-button>
                                        <app-button v-can="'school.create'" v-if="termActive" @click="openDialogEditTerm" :loading="termEditing" size="btn-sm" icon="pencil"></app-button>
                                        <app-button v-can="'school.create'" v-if="termActive" @click="deleteTerm" :loading="termDeleting" size="btn-sm" icon="trash"></app-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="panel panel-default">
                                <arrow description="Classes" :title="classActiveName"></arrow>
                                <list-sort className="list-group" @stop="sortClass">
                                    <a href="#" :data-id="clas.id" @click.prevent="classActiveIndex = index" class="list-group-item hover-display sortable" :class="{ active: index == classActiveIndex }" v-for="(clas, index) in classes">
                                        {{ clas.name }} <span class="pull-right">#{{ index + 1 }}</span>
                                    </a>
                                    <div class="list-group-item text-right" style="background: #fafafa">
                                        <app-button v-can="'school.create'" @click="openDialogCreateClass" size="btn-sm" icon="plus"></app-button>
                                        <app-button v-can="'school.create'" v-if="classActive" @click="openDialogEditClass" :loading="facultyEditing" size="btn-sm" icon="pencil"></app-button>
                                        <app-button v-can="'school.create'" v-if="classActive" @click="deleteClass" :loading="facultyDeleting" size="btn-sm" icon="trash"></app-button>
                                    </div>
                                </list-sort>
                            </div>
                        </div>
                    </div>
                </div>
            </visible-frame>
        </div>
        
        <dialog-create-faculty :open="dialogCreateFacultyOpenStatus" @close="closeDialogCreateFaculty" @done="createDoneFaculty"></dialog-create-faculty>
        <dialog-edit-faculty v-if="facultyActive" :faculty-id="facultyActive.id" :open="dialogEditFacultyOpenStatus" @close="closeDialogEditFaculty" @done="editDoneFaculty"></dialog-edit-faculty>
        
        <dialog-create-major v-if="facultyActive" :faculty="facultyActive" :open="dialogCreateMajorOpenStatus" @close="closeDialogCreateMajor" @done="createDoneMajor"></dialog-create-major>
        <dialog-edit-major v-if="majorActive" :major-id="majorActive.id" :open="dialogEditMajorOpenStatus" @close="closeDialogEditMajor" @done="editDoneMajor"></dialog-edit-major>

        <dialog-create-term :open="dialogCreateTermOpenStatus" @close="closeDialogCreateTerm" @done="createDoneTerm"></dialog-create-term>
        <dialog-edit-term v-if="termActive" :term-id="termActive.term" :open="dialogEditTermOpenStatus" @close="closeDialogEditTerm" @done="editDoneTerm"></dialog-edit-term>

        <dialog-create-class v-if="facultyActive && majorActive && termActive" :faculty="facultyActive" :major="majorActive" :term="termActive" :open="dialogCreateClassOpenStatus" @close="closeDialogCreateClass" @done="createDoneClass"></dialog-create-class>
        <dialog-edit-class v-if="classActive" :class-id="classActive.id" :open="dialogEditClassOpenStatus" @close="closeDialogEditClass" @done="editDoneClass"></dialog-edit-class>
    </layout>
</template>

<script>
    import { mapActions, mapState, mapGetters } from 'vuex'
    import arrow from '../../components/arrow'
    import button from '../../components/button'
    import breadcrumb from '../../common/breadcrumb'
    import buttonToggleColumnLeft from '../../common/buttonToggleColumnLeft'
    import canDirective from '../../../directives/can'
    import cannotDirective from '../../../directives/cannot'
    import dialogCreateFaculty from '../../superComponents/dialogCreateFaculty'
    import dialogEditFaculty from '../../superComponents/dialogEditFaculty'
    import dialogCreateClass from '../../superComponents/dialogCreateClass'
    import dialogEditClass from '../../superComponents/dialogEditClass'
    import dialogCreateTerm from '../../superComponents/dialogCreateTerm'
    import dialogEditTerm from '../../superComponents/dialogEditTerm'
    import dialogCreateMajor from '../../superComponents/dialogCreateMajor'
    import dialogEditMajor from '../../superComponents/dialogEditMajor'
    import columnLeft from '../../common/columnLeft'
    import layout from '../../layouts/layout'
    import listSort from '../../components/listSort'
    import visibleFrame from '../../components/visibleFrame'
    import toastr from '../../../plugins/toastr'
    import vue from 'vue'

    vue.directive('can', canDirective)
    vue.directive('cannot', cannotDirective)

    export default {
        components: {
            appButton: button,
            arrow,
            breadcrumb,
            buttonToggleColumnLeft,
            dialogCreateFaculty,
            dialogEditFaculty,
            dialogCreateMajor,
            dialogEditMajor,
            dialogCreateTerm,
            dialogEditTerm,
            dialogCreateClass,
            dialogEditClass,
            visibleFrame,
            layout,
            listSort
        },

        data () {
            return {
                facultyActiveIndex: 0,
                majorActiveIndex: 0,
                termActiveIndex: 0,
                classActiveIndex: 0,
                visible: true,

                dialogCreateFacultyOpenStatus: false,
                dialogEditFacultyOpenStatus: false,
                facultyDeleting: false,
                facultyEditing: false,

                dialogCreateClassOpenStatus: false,
                dialogEditClassOpenStatus: false,
                classDeleting: false,
                classEditing: false,

                dialogCreateTermOpenStatus: false,
                dialogEditTermOpenStatus: false,
                termDeleting: false,
                termEditing: false,

                dialogCreateMajorOpenStatus: false,
                dialogEditMajorOpenStatus: false,
                majorDeleting: false,
                majorEditing: false
            }
        },

        computed: {
            facultyActive () {
                return this.faculties[this.facultyActiveIndex]
            },

            majorActive () {
                return this.majors[this.majorActiveIndex]  
            },

            termActive () {
                return this.terms[this.termActiveIndex]  
            },

            majorActiveName () {
                if (this.majorActive) {
                    return this.majorActive.name
                }

                return '...'
            },

            classActiveName () {
                if (this.classActive) {
                    return this.classActive.name
                }

                return '...'
            },

            classActive () {
                return this.classes[this.classActiveIndex]  
            },

            faculties () {
                return this['faculty/collections'].data
            },

            majors () {
                return this['major/collections'].data.filter(item => {
                    return this.facultyActive.id == item.faculty_id
                })
            },
            
            terms () {
                return this['term/collections'].data
            },

            classes () {
                return this['class/collections'].data.filter(item => {
                    return item.faculty_id == this.facultyActive.id && item.major_id == this.majorActive.id && item.term == this.termActive.term
                })
            },

            ...mapGetters(['faculty/collections', 'major/collections', 'term/collections', 'class/collections']),
            ...mapState(['pageTitle']),
        },

        created () {
            this.fetchData(['faculty', 'major', 'term', 'class'])
        },

        mounted () {
            this.setPageTitle('School')
            this['menu/setActive']('school')
            this.setBreadcrumb([
                {route: { name: 'home' }, name: 'Home'},
                {route: { name: 'student.index' }, name: 'School'}
            ])
        },

        methods: {
            setVisible (val) {
                this.visible = val
            },

            fetchData (include) {
                const requests = []
                if (include.indexOf('faculty') != -1) {
                    requests.push(this['faculty/paginate']({ query: { perpage: 9999 } }))
                }

                if (include.indexOf('major') != -1) {
                    requests.push(this['major/paginate']({ query: { perpage: 9999 } }))
                }

                if (include.indexOf('term') != -1) {
                    requests.push(this['term/paginate']({ query: { perpage: 9999 } }))
                }

                if (include.indexOf('class') != -1) {
                    requests.push(this['class/paginate']({ query: { perpage: 9999 } }))
                }

                $.when.apply($, requests).done(() => {
                    this.setVisible(true)
                    this.setAppLoading(false)
                })
            },

            closeDialogCreateFaculty () {
                this.dialogCreateFacultyOpenStatus = false
            },

            openDialogCreateFaculty () {
                this.dialogCreateFacultyOpenStatus = true  
            },

            createDoneFaculty (faculty) {
                this.closeDialogCreateFaculty()
                this.fetchData(['faculty'])
            },

            setFacultyDeleting (val) {
                this.facultyDeleting = val
            },

            deleteFaculty () {
                if (!confirm('Are you sure')) {
                    return false
                }

                this.setFacultyDeleting(true)
                this.setAppLoading(true)
                this['faculty/delete']({ facultyId: this.facultyActive.id }).done(res => {
                    this.fetchData(['faculty'])
                    toastr.success(res.message)
                    if (this.facultyActiveIndex > 0) {
                        this.facultyActiveIndex--
                    }
                }).fail(xhr => {
                    let res = xhr.responseJSON
                    if (res.errors) {
                        for (var error in res.errors) break;
                        toastr.error(res.errors[error])
                    } else if (res.message) {
                        toastr.error(res.message)
                    }
                }).always(() => {
                    this.setAppLoading(false)
                    this.setFacultyDeleting(false)
                })
            },

            closeDialogEditFaculty () {
                this.dialogEditFacultyOpenStatus = false
            },

            openDialogEditFaculty () {
                this.dialogEditFacultyOpenStatus = true  
            },

            editDoneFaculty (faculty) {
                this.closeDialogEditFaculty()
                this.fetchData(['faculty'])
            },

            setFacultyEditing (val) {
                this.facultyEditing = val
            },

            sortFaculty (sort) {
                const vm = this
                const $list = $(sort.event.target)
                const sortOrders = {}
                $list.find('a[data-id]').each((index, item) => {
                    sortOrders[index] = {
                        id: $(item).attr('data-id')
                    }
                })

                this.setAppLoading(true)
                this['faculty/sortOrder']({ data: sortOrders }).always(() => {
                    this.setAppLoading(false)
                })
            },

            closeDialogCreateMajor () {
                this.dialogCreateMajorOpenStatus = false
            },

            openDialogCreateMajor () {
                this.dialogCreateMajorOpenStatus = true  
            },

            createDoneMajor (major) {
                this.closeDialogCreateMajor()
                this.fetchData(['major'])
            },

            setMajorDeleting (val) {
                this.majorDeleting = val
            },

            deleteMajor () {
                if (!confirm('Are you sure')) {
                    return false
                }

                this.setMajorDeleting(true)
                this.setAppLoading(true)
                this['major/delete']({ majorId: this.majorActive.id }).done(res => {
                    this.fetchData(['major'])
                    toastr.success(res.message)
                    if (this.majorActiveIndex > 0) {
                        this.majorActiveIndex--
                    }
                }).fail(xhr => {
                    let res = xhr.responseJSON
                    if (res.errors) {
                        for (var error in res.errors) break;
                        toastr.error(res.errors[error])
                    } else if (res.message) {
                        toastr.error(res.message)
                    }
                }).always(() => {
                    this.setAppLoading(false)
                    this.setMajorDeleting(false)
                })
            },

            closeDialogEditMajor () {
                this.dialogEditMajorOpenStatus = false
            },

            openDialogEditMajor () {
                this.dialogEditMajorOpenStatus = true  
            },

            editDoneMajor (major) {
                this.closeDialogEditMajor()
                this.fetchData(['major'])
            },

            setMajorEditing (val) {
                this.majorEditing = val
            },

            sortMajor (sort) {
                const vm = this
                const $list = $(sort.event.target)
                const sortOrders = {}
                $list.find('a[data-id]').each((index, item) => {
                    sortOrders[index] = {
                        id: $(item).attr('data-id')
                    }
                })

                this.setAppLoading(true)
                this['major/sortOrder']({ data: sortOrders }).always(() => {
                    this.setAppLoading(false)
                })
            },

            closeDialogCreateClass () {
                this.dialogCreateClassOpenStatus = false
            },

            openDialogCreateClass () {
                this.dialogCreateClassOpenStatus = true  
            },

            createDoneClass () {
                this.closeDialogCreateClass()
                this.fetchData(['class'])
            },

            setClassDeleting (val) {
                this.classDeleting = val
            },

            deleteClass () {
                if (!confirm('Are you sure')) {
                    return false
                }

                this.setClassDeleting(true)
                this.setAppLoading(true)
                this['class/delete']({ classId: this.classActive.id }).done(res => {
                    this.fetchData(['class'])
                    toastr.success(res.message)
                    if (this.classActiveIndex > 0) {
                        this.classActiveIndex--
                    }
                }).fail(xhr => {
                    let res = xhr.responseJSON
                    if (res.errors) {
                        for (var error in res.errors) break;
                        toastr.error(res.errors[error])
                    } else if (res.message) {
                        toastr.error(res.message)
                    }
                }).always(() => {
                    this.setAppLoading(false)
                    this.setClassDeleting(false)
                })
            },

            closeDialogEditClass () {
                this.dialogEditClassOpenStatus = false
            },

            openDialogEditClass () {
                this.dialogEditClassOpenStatus = true  
            },

            editDoneClass () {
                this.closeDialogEditClass()
                this.fetchData(['class'])
            },

            setClassEditing (val) {
                this.classEditing = val
            },

            sortClass (sort) {
                const vm = this
                const $list = $(sort.event.target)
                const sortOrders = {}
                $list.find('a[data-id]').each((index, item) => {
                    sortOrders[index] = {
                        id: $(item).attr('data-id')
                    }
                })

                this.setAppLoading(true)
                this['class/sortOrder']({ data: sortOrders }).always(() => {
                    this.setAppLoading(false)
                })
            },

            closeDialogCreateTerm () {
                this.dialogCreateTermOpenStatus = false
            },

            openDialogCreateTerm () {
                this.dialogCreateTermOpenStatus = true  
            },

            createDoneTerm (term) {
                this.closeDialogCreateTerm()
                this.fetchData(['term'])
            },

            setTermDeleting (val) {
                this.termDeleting = val
            },

            deleteTerm () {
                if (!confirm('Are you sure')) {
                    return false
                }

                this.setTermDeleting(true)
                this.setAppLoading(true)
                this['term/delete']({ term: this.termActive.term }).done(res => {
                    this.fetchData(['term'])
                    toastr.success(res.message)
                    if (this.termActiveIndex > 0) {
                        this.termActiveIndex--
                    }
                }).fail(xhr => {
                    let res = xhr.responseJSON
                    if (res.errors) {
                        for (var error in res.errors) break;
                        toastr.error(res.errors[error])
                    } else if (res.message) {
                        toastr.error(res.message)
                    }
                }).always(() => {
                    this.setAppLoading(false)
                    this.setTermDeleting(false)
                })
            },

            closeDialogEditTerm () {
                this.dialogEditTermOpenStatus = false
            },

            openDialogEditTerm () {
                this.dialogEditTermOpenStatus = true  
            },

            editDoneTerm (term) {
                this.closeDialogEditTerm()
                this.fetchData(['term'])
            },

            setTermEditing (val) {
                this.termEditing = val
            },

            ...mapActions([
                'faculty/paginate',
                'faculty/delete',
                'faculty/sortOrder',
                'major/paginate',
                'major/delete',
                'major/sortOrder',
                'term/paginate',
                'term/delete',
                'class/paginate',
                'class/delete',
                'class/sortOrder'
            ]),
            ...mapActions(['setBreadcrumb', 'setAppLoading', 'setPageTitle', 'menu/setActive']),
        },

        watch: {
            facultyActiveIndex () {
                this.majorActiveIndex = 0
            },

            majorActiveIndex () {
                this.classActiveIndex = 0
            },

            termActiveIndex () {
                this.classActiveIndex = 0
            }
        }
    }
</script>
