<template>
    <div class="modal fade" :id="id" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <form @submit.prevent>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" @click.prevent="closeEvent">&times;</button>
                        <h4 class="modal-title">Lecturers</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-9 col-sm-12 col-main">
                                <div class="toolbar">
                                    <input-search :keyword="keyword" @clear="clearKeyword" @input="inputKeyword" placeholder="Enter name or code to search"></input-search>
                                </div>
                                <div class="lecturer-list">
                                    <div class="row" v-for="chunk in lecturers">
                                        <div class="col-md-4" v-for="(lecturer, index) in chunk" :key="index">
                                            <div class="lecturer-card" @click="pushLecturer(lecturer)" :class="{ selected: inQueue(lecturer.id) }">
                                                <div class="avatar">
                                                    <img :src="lecturerAvatar(lecturer)" alt="" />
                                                </div>
                                                <div class="info">
                                                    <span class="fullname">{{ lecturer.lastname }} {{ lecturer.firstname }}</span>
                                                    <span class="code">{{ lecturer.code }}</span>
                                                    <span class="faculty-code">{{ lecturer.faculty_code }}</span>
                                                    <span class="date-of-birth"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12 col-right">
                                <div class="lecturer-queue">
                                    <div class="lecturer-card" v-for="(lecturer, index) in queueLecturerFilterResults" @click="deleteLecurer(index)">
                                        <div class="avatar">
                                            <img :src="lecturerAvatar(lecturer)" alt="" />
                                        </div>
                                        <div class="info">
                                            <span class="fullname">{{ lecturer.lastname }} {{ lecturer.firstname }}</span>
                                            <span class="code">{{ lecturer.code }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="search-queue">
                                    <input @input="inputQueueKeyword($event)" type="text" placeholder="Enter name or code to search..." />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-left">
                            <page-control @next="toPage" @prev="toPage" :current="page" :total="totalPage"></page-control>
                        </div>
                        <span><i>{{ queueLecturerIds.length ? 'Selected ' + queueLecturerIds.length + ' lecturers' : 'Nobody selected' }}</i></span>
                        <button type="button" class="btn btn-default" @click.prevent="closeEvent">Close</button>
                        <button type="button" class="btn btn-primary" @click="select">OK</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    import { mapActions, mapState, mapGetters } from 'vuex'
    import { imageUrl } from '../../helpers/url'
    import { strRandom } from '../../helpers/string'
    import inputSearch from '../components/inputSearch'
    import pageControl from '../components/pageControl'

    export default {
        components: {
            inputSearch,
            pageControl
        },

        props: {
            open: {},
            defaultSelected: {
                default () {
                    return []
                }
            }
        },

        data () {
            const queries = this.$store.state.lecturer.queries
            return {
                page: queries.page <= 1 ? 1 : queries.page,
                code: queries.code,
                perpage: 12, // queries.perpage <= 1 ? 12 : queries.perpage,
                sort: 'id',
                order: 'desc',
                keyword: '',
                queueKeyword: '',
                queueLecturers: _.cloneDeep(this.defaultSelected),

                // faster to check exists
                queueLecturerIds: _.map(this.defaultSelected, 'id')
            }
        },

        computed: {
            id () {
                return strRandom()
            },

            el () {
                return $('#' + this.id)
            },

            lecturers () {
                return _.chunk(this['lecturer/collections'].data, 3)
            },

            queries () {
                return {
                    page: this.page,
                    perpage: this.perpage,
                    sort: this.sort,
                    code: this.code,
                    order_by: {
                        [this.sort]: this.order
                    },
                    with: ['faculty'],
                    keyword: this.keyword
                }
            },

            visible () {
                return !this.appLoading
            },

            totalPage () {
                return this['lecturer/collections'].totalPage
            },

            queueLecturerFilterResults () {
                if (!this.queueKeyword) {
                    return this.queueLecturers
                }

                return this.queueLecturers.filter (item => {
                    return item.lastname.toLowerCase().indexOf(this.queueKeyword) != -1
                        || item.firstname.toLowerCase().indexOf(this.queueKeyword) != -1
                        || item.code.toLowerCase().indexOf(this.queueKeyword) != -1
                })
            },

            ...mapState(['pageTitle', 'appLoading']),
            ...mapGetters(['lecturer/collections']),
        },

        created () {
            this.fetchData(['lecturers'])
        },

        mounted () {
            var vm = this
            // reset page to 1
            this.page = 1
            
            if (this.open) {
                $(function () {
                    vm.el.modal('show')
                })
            }
        },

        methods: {
            setSaving (val) {
                this.saving = val
            },

            closeEvent () {
                this.$emit('close')
            },

            lecturerAvatar (lecturer) {
                if (lecturer.avatar) {
                    return imageUrl(lecturer.avatar, [60, 60])
                }

                return imageUrl('storage/no-avatar.png', [60, 60])
            },

            inputKeyword:_.debounce(function (keyword) {
                this.keyword = keyword
            }, 500),

            clearKeyword () {
                this.keyword = ''
            },

            fetchData () {
                this.setAppLoading(true)
                this['lecturer/paginate']({ query: this.queries }).done(() => {
                    this.setAppLoading(false)
                })
            },

            sortClass (field) {
                if (this.sort != field) {
                    return null
                }

                if (this.order == 'desc') {
                    return 'asc'
                }

                return 'desc'
            },

            toPage (page) {
                this.page = page
            },

            rerort (sort) {
                this.sort = sort
                if (this.order == 'desc') {
                    this.order = 'asc'
                } else {
                    this.order = 'desc'
                }
            },

            pushLecturer (lecturer) {
                const index = this.queueLecturerIds.indexOf(lecturer.id)
                if (index == -1) {
                    this.queueLecturers.push(lecturer)
                    this.queueLecturerIds.push(lecturer.id)
                } else {
                    this.queueLecturers.splice(index, 1)
                    this.queueLecturerIds.splice(index, 1)
                }
            },

            deleteLecurer (index) {
                const lecturer = this.queueLecturerFilterResults[index]
                if (lecturer) {
                    this.queueLecturers = this.queueLecturers.filter(item => { return item.id != lecturer.id })
                    this.queueLecturerIds = this.queueLecturerIds.filter(item => { return item != lecturer.id })
                }
            },

            inQueue (lecturerId) {
                return this.queueLecturerIds.indexOf(lecturerId) != -1
            },

            inputQueueKeyword (event) {
                this.queueKeyword = event.target.value.toLowerCase()
            },

            select () {
                this.$emit('select', this.queueLecturers)
            },

            ...mapActions(['setAppLoading']),
            ...mapActions(['lecturer/paginate'])
        },

        watch: {
            open () {
                if (this.open === true) {
                    this.el.modal('show')
                } else {
                    this.el.modal('hide')
                }
            },

            queries () {
                this.fetchData()
            },

            defaultSelected () {
                this.queueLecturers = _.cloneDeep(this.defaultSelected)
                this.queueLecturerIds = _.map(this.defaultSelected, 'id')
            }
        }
    }
    
</script>

<style scoped>
    .modal-body {
        height: calc(100vh - 241px);
        overflow-x: hidden;
        overflow-y: scroll;
        position: relative;
    }

    .toolbar {
        margin-bottom: 15px;
    }

    .col-right {
        position: fixed;
        right: 0;
        height: calc(100% - 56px - 63px);
        width: 25%;
        border-top-width: 0;
        border-left: 1px solid #d3dbe2;
        overflow: hidden;
        top: 56px;
        background: #fcfcfc;
        padding: 0;
    }
    
    .lecturer-card {
        margin-right: -15px; /*Hack*/
        margin-bottom:  15px;
        border-radius: 2px;
        cursor: pointer;
        border: 2px solid transparent;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
        background: #fff;   
        overflow: hidden;
    }

    .lecturer-card.selected {
        opacity: .5;
        /*pointer-events: none;*/
        user-select: none;
    }

    .lecturer-card:hover {
        border: 2px solid #757575;
    }

    .lecturer-card .fullname,
    .lecturer-card .faculty-code,
    .lecturer-card .code,
    .lecturer-card .date-of-birth {
        display: block;
        white-space: nowrap;
    }

    .lecturer-card .fullname {
        font-weight: bold;
    }

    .lecturer-card:after {
        display: block;
        content: " ";
        clear: both;
    }

    .lecturer-card .avatar {
        float: left;
        margin-right: 15px;
    }

    .lecturer-list .row:last-child .lecturer-card {
        margin-bottom: 0;
    }
    
    .lecturer-queue {
        position: absolute;
        width: 100%;
        height: calc(100% - 30px);
        overflow-y: scroll;
    }

    .lecturer-queue .lecturer-card {
        margin-right: 0;
        margin: 15px;
        margin-bottom: 10px;
    }

    .lecturer-queue .lecturer-card .avatar {
        margin-right: 10px;
    }

    .lecturer-queue .lecturer-card .avatar img {
        width: 40px;
    }

    .col-right .search-queue {
        position: absolute;
        bottom: 0;
        width: 100%;
        border-width: 0;
        background: #fff;
        padding: 5px 0;
        border-top: 1px solid #d3dbe2;
    }
    
    .col-right .search-queue input {
        width: 100%;
        height: 100%;
        border-width: 0;
        outline: 0;
        padding: 0 5px;
    }
</style>