<template>
    <div class="modal fade" :id="id" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <form @submit.prevent>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" @click.prevent="closeEvent">&times;</button>
                        <h4 class="modal-title">Create new term</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group required">
                            <label class="control-label">Term</label>
                            <input-number name="name"  @decrement="decrementTerm" @increment="incrementTerm"  :message="messageBags.term" :status="statusBags.term" :value="term" @input="inputTerm" placeholder="Term"></input-number>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" @click.prevent="closeEvent">Close</button>
                        <app-button type="submit" :loading="saving" status="primary" icon="save" @click="create">Save</app-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    import { strRandom, firstWord } from '../../helpers/string'
    import { mapActions } from 'vuex'
    import button from '../components/button'
    import inputNumber from '../components/inputNumber'
    import inputTextarea from '../components/inputTextarea'
    import validateForm from '../../mixins/validateForm'
    import toastr from '../../plugins/toastr'

    export default {
        components: {
            appButton: button,
            inputNumber
        },

        props: ['open'],
        mixins: [validateForm],

        data () {
            return {
                term: '0',
                saving: false,

                messageBags: {
                    term: ''
                },

                statusBags: {
                    term: 'normal'
                }
            }
        },

        computed: {
            id () {
                return strRandom()
            },

            inputTermId () {
                return strRandom()
            },

            el () {
                return $('#' + this.id)
            }
        },

        mounted () {
            var vm = this
            if (this.open) {
                this.el
                    .modal('show')
                    .on('shown.bs.modal', e => {
                        $('#' + this.inputNameId).focus()
                    }) 
            }
        },

        methods: {
            setSaving (val) {
                this.saving = val
            },

            closeEvent () {
                this.resetStatusBags()
                this.resetMessageBags()
                this.$emit('close')
            },

            inputTerm (val) {
                this.term = val
            },


            decrementTerm (val) {
                if (val > 0) {
                    this.term = val
                }
            },

            incrementTerm (val) {
                this.term = val
            },


            create () {
                this.resetMessageBags()
                this.resetStatusBags()
                this.setSaving(true)
                this.setAppLoading(true)

                this['term/create']({ data: {
                    term: this.term
                }}).done (res => {
                    this.$emit('done', res.term)
                    this.term = ''
                    if (res.message) {
                        toastr.success(res.message)
                    }
                }).fail(xhr => {
                    this.formFail(xhr.responseJSON)
                }).always(() => {
                    this.setAppLoading(false)
                    this.setSaving(false)
                })
            },

            ...mapActions(['setAppLoading']),
            ...mapActions(['term/create'])
        },

        watch: {
            open () {
                if (this.open === true) {
                    this.el
                        .modal('show')
                        .on('shown.bs.modal', e => {
                            $('#' + this.inputTermId).focus()
                        }) 
                } else {
                    this.el.modal('hide')
                }
            },
        }
    }
    
</script>