<template>
    <div class="modal fade" :id="id" data-backdrop="static">
        <div class="modal-dialog">
            <form @submit.prevent>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" @click.prevent="closeEvent">&times;</button>
                        <h4 class="modal-title">Edit faculty</h4>
                    </div>
                    <visible-frame :visible="visible" :spinner="true">
                        <div class="modal-body">
                            <div class="form-group required">
                                <label class="control-label">Faculty's name</label>
                                <input-text name="name" :id="inputNameId" :message="messageBags.name" :status="statusBags.name" :value="name" @input="inputName" placeholder="Faculty's name"></input-text>
                            </div>
                            <div class="form-group required">
                                <label class="control-label">Faculty's code <i>(<a href="#" @click.prevent="generateCodeFromName">Generate from name</a>)</i></label>
                                <input-text name="code" :value="code" :message="messageBags.code" :status="statusBags.code" @input="inputCode" placeholder="Faculty's code"></input-text>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" @click.prevent="closeEvent">Close</button>
                            <app-button :loading="saving" status="primary" icon="save" @click="save">Save</app-button>
                        </div>
                    </visible-frame>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
import { strRandom, firstWord } from '../../helpers/string'
import { mapActions } from 'vuex'
import button from '../components/button'
import inputText from '../components/inputText'
import inputTextarea from '../components/inputTextarea'
import validateForm from '../../mixins/validateForm'
import visibleFrame from '../components/visibleFrame'
import toastr from '../../plugins/toastr'

export default {
    components: {
        appButton: button,
        inputText,
        inputTextarea,
        visibleFrame
    },

    props: ['open', 'facultyId'],
    mixins: [validateForm],

    data () {
        return {
            name: '',
            code: '',
            saving: false,
            visible: false,

            messageBags: {
                name: '',
                code: ''
            },

            statusBags: {
                name: 'normal',
                code: 'normal'
            }
        }
    },

    computed: {
        id () {
            return strRandom()
        },

        inputNameId () {
            return strRandom()
        },

        el () {
            return $('#' + this.id)
        }
    },

    mounted () {
        var vm = this
        if (this.open) {
            this.el
            .modal('show')
            .on('shown.bs.modal', e => {
                $('#' + this.inputNameId).focus()
            })
            this.fetchData()
        }
    },

    methods: {
        setVisible (val) {
            this.visible = val
        },

        setSaving (val) {
            this.saving = val
        },

        fetchData () {
            this.setVisible(false)
            this['faculty/get']({ facultyId: this.facultyId }).done(res => {
                this.name = res.faculty.name
                this.code = res.faculty.code
                this.setVisible(true)
            })
        },

        closeEvent () {
            this.$emit('close')
        },

        inputName (val) {
            this.name = val
        },

        inputCode (val) {
            this.code = val
        },

        generateCodeFromName () {
            if (this.name) {
                this.code = firstWord(this.name).toUpperCase()
            }
        },

        save () {
            this.resetMessageBags()
            this.resetStatusBags()
            this.setSaving(true)
            this.setAppLoading(true)

            this['faculty/update']({
                facultyId: this.facultyId,
                data: {
                    name: this.name,
                    code: this.code
                }
            }).done (res => {
                this.$emit('done', res.faculty)
                if (res.message) {
                    toastr.success(res.message)
                }
            }).fail(xhr => {
                this.formFail(xhr.responseJSON)
            }).always(() => {
                this.setAppLoading(false)
                this.setSaving(false)
            })
        },

        ...mapActions(['setAppLoading']),
        ...mapActions(['faculty/get', 'faculty/update'])
    },

    watch: {
        open () {
            if (this.open === true) {
                this.el
                .modal('show')
                .on('shown.bs.modal', e => {
                    $('#' + this.inputNameId).focus()
                }) 
                this.fetchData()
            } else {
                this.el.modal('hide')
            }
        }
    }
}

</script>