<template>
    <div class="modal fade" :id="id" data-backdrop="static">
        <div class="modal-dialog">
            <form @submit.prevent>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" @click.prevent="closeEvent">&times;</button>
                        <h4 class="modal-title">Add student</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row row-student">
                            <div class="col-sm-7 col-main">
                                <div class="form">
                                    <div class="form-group">
                                        <label class="control-lable">Search student</label>
                                        <input-student @input="inputStudent" @select="selectStudent" :message="messageBags.student_id" :status="messageBags.student_id" :value="studentKeyword" placeholder="Enter code to search"></input-student>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-lable">Message</label>
                                        <input-textarea @input="inputMessage" :value="message" :message="messageBags.message" :status="messageBags.message" placeholder="Message to lecturer..."></input-textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-right" :class="{ relative: existsChecking }">
                                <div class="loading absolute" v-if="existsChecking"></div>
                                <div class="preview">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object img-circle" :src="studentAvatar" alt="Image" />
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading">{{ student.lastname }} {{ student.firstname }}</h4>
                                            <p>
                                                <ul class="list-unstyled">
                                                    <li>Code: {{ student.code }}</li>
                                                    <li>Birth: {{ student.birth }}</li>
                                                    <li>Phone: {{ student.phone }}</li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                    <p :class="{ 'text-danger': studentExists, 'text-success': !studentExists }"><i>{{ existsMessage }}</i></p>
                                </div>
                            </div>
                        </div>
                        <div class="row row-lecturer">
                            <div class="col-sm-7 col-main">
                                <div class="form">
                                    <legend>Lecturer</legend>
                                     <div class="form-group">
                                        <label class="control-lable">Search lecturer</label>
                                        <input-lecturer @input="inputLecturer" @select="selectLecturer" :message="messageBags.lecturer_id" :status="messageBags.lecturer_id" :value="lecturerKeyword" placeholder="Enter code to search"></input-lecturer>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-right" :class="{ relative: fullStudentChecking }">
                                <div class="loading absolute" v-if="fullStudentChecking"></div>
                                <div class="preview">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object img-circle" :src="lecturerAvatar" alt="Image" />
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading">{{ lecturer.lastname }} {{ lecturer.firstname }}</h4>
                                            <p>
                                                <ul class="list-unstyled">
                                                    <li>Code: {{ lecturer.code }}</li>
                                                    <li>Birth: {{ lecturer.birth }}</li>
                                                    <li>Phone: {{ lecturer.phone }}</li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                    <p :class="{ 'text-danger': fullStudent, 'text-success': !fullStudent }"><i>{{ fullStudentMessage  }}</i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" @click.prevent="resetData">Clear</button>
                        <button type="button" class="btn btn-default" @click.prevent="closeEvent">Close</button>
                        <app-button :disabled="disabled" type="submit" :loading="saving" status="primary" icon="plus" @click="add">Add</app-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    import { mapActions } from 'vuex'
    import { strRandom } from '../../helpers/string'
    import { imageUrl } from '../../helpers/url'
    import { format as formatDate } from '../../helpers/datetime'
    import button from '../components/button'
    import inputStudent from '../superComponents/inputStudent'
    import inputLecturer from '../superComponents/inputLecturer'
    import inputTextarea from '../components/inputTextarea'
    import validateForm from '../../mixins/validateForm'
    import toastr from '../../plugins/toastr'

    export default {
        components: {
            appButton: button,
            inputStudent,
            inputLecturer,
            inputTextarea
        },

        props: ['open', 'internshipId'],
        mixins: [validateForm],

        data () {
            return {
                saving: false,
                studentKeyword: '',
                studentExists: -2,
                existsChecking: false,

                student: {
                    id: null,
                    firstname: '...',
                    lastname: '...',
                    birth: '.../.../...',
                    code: '...',
                    phone: '...',
                    avatar: null
                },

                message: null,

                lecturerKeyword: '',
                fullStudent: -2,
                fullStudentChecking: false,

                lecturer: {
                    id: null,
                    firstname: '...',
                    lastname: '...',
                    birth: '.../.../...',
                    code: '...',
                    phone: '...',
                    avatar: null
                },

                statusBags: {
                    student_id: 'normal',
                    lecturer_id: 'normal',
                    message: 'normal'
                },

                messageBags: {
                    student_id: '',
                    lecturer_id: '',
                    message: ''
                }
            }
        },

        computed: {
            id () {
                return strRandom()
            },

            el () {
                return $('#' + this.id)
            },

            disabled () {
                return (this.student.id == null
                    || this.lecturer.id == null
                    || this.studentExists !== false // true, false, -1, -2
                    || this.fullStudent !== false
                )
            },

            studentAvatar () {
                if (this.student.avatar) {
                    return imageUrl(this.student.avatar, [50, 50])
                }
                return imageUrl('storage/no-avatar_50x50.png')
            },

            lecturerAvatar () {
                if (this.lecturer.avatar) {
                    return imageUrl(this.lecturer.avatar, [50, 50])
                }
                return imageUrl('storage/no-avatar_50x50.png')
            },

            existsMessage () {
                if (this.studentExists == -2) {
                    return 'No selected yet'
                }

                if (this.studentExists == -1) {
                    return 'This student not in internship scope'
                }

                if (this.studentExists) {
                    return 'This student have been registered'
                }

                return 'Good'
            },

            fullStudentMessage () {
                if (this.fullStudent == -2) {
                    return 'No selected yet'
                }

                if (this.fullStudent == -1) {
                    return 'This lecturer not in internship scope'
                }

                if (this.fullStudent) {
                    return 'This lecturer is full student'
                }

                return 'Good'
            },
        },

        mounted () {
            var vm = this
            if (this.open) {
                this.el.modal('show')
            }
        },

        methods: {
            setSaving (val) {
                this.saving = val
            },

            closeEvent () {
                this.resetStatusBags()
                this.resetMessageBags()
                this.resetData()

                this.$emit('close')
            },

            add () {
                this.resetMessageBags()
                this.resetStatusBags()
                this.setSaving(true)
                this.setAppLoading(true)

                this['internship/addStudent']({
                    internshipId: this.internshipId,
                    data: {
                        student_id: this.student.id,
                        lecturer_id: this.lecturer.id,
                        message: this.message
                    }
                }).done (res => {
                    this.$emit('added', res.internship_student)
                    this.resetData()

                    if (res.message) {
                        toastr.success(res.message)
                    }
                }).fail(xhr => {
                    this.formFail(xhr.responseJSON)
                }).always(() => {
                    this.setAppLoading(false)
                    this.setSaving(false)
                })
            },

            inputStudent (val) {
                this.studentKeyword = val
            },

            inputMessage (val) {
                this.message = val
            },

            inputLecturer (val) {
                this.lecturerKeyword = val
            },

            selectStudent (student) {
                this.studentKeyword = student.code
                this.student.id = student.id
                this.student.code = student.code
                this.student.firstname = student.firstname
                this.student.lastname = student.lastname
                this.student.avatar = student.avatar
                
                if (student.birth) {
                    this.student.birth = formatDate(student.birth, 'DD/MM/YYYY')
                }

                if (student.phone) {
                    this.student.phone = student.phone
                }

                this.existsChecking = true
                this['internship/existsStudent']({
                    studentId: this.student.id,
                    internshipId: this.internshipId
                }).done(res => {
                    this.studentExists = res
                }).always(() => {
                    this.existsChecking = false
                })
            },

            selectLecturer (lecturer) {
                this.lecturerKeyword = lecturer.code
                this.lecturer.id = lecturer.id
                this.lecturer.code = lecturer.code
                this.lecturer.firstname = lecturer.firstname
                this.lecturer.lastname = lecturer.lastname
                this.lecturer.avatar = lecturer.avatar
                
                if (lecturer.birth) {
                    this.lecturer.birth = formatDate(lecturer.birth, 'DD/MM/YYYY')
                }

                if (lecturer.phone) {
                    this.lecturer.phone = lecturer.phone
                }

                this.fullStudentChecking = true
                this['internship/fullStudent']({
                    lecturerId: this.lecturer.id,
                    internshipId: this.internshipId
                }).done(res => {
                    this.fullStudent = res
                }).always(() => {
                    this.fullStudentChecking = false
                })
            },

            resetData () {
                this.studentKeyword = ''
                this.lecturerKeyword = ''
                this.studentExists = -2
                this.fullStudent = -2

                this.student = {
                    id: null,
                    firstname: '...',
                    lastname: '...',
                    birth: '.../.../...',
                    code: '...',
                    phone: '...',
                    avatar: null
                }

                this.lecturer = {
                    id: null,
                    firstname: '...',
                    lastname: '...',
                    birth: '.../.../...',
                    code: '...',
                    phone: '...',
                    avatar: null
                }
            },

            ...mapActions(['setAppLoading']),
            ...mapActions(['internship/addStudent', 'internship/existsStudent', 'internship/fullStudent'])
        },

        watch: {
            open () {
                if (this.open === true) {
                    this.el.modal('show')
                } else {
                    this.el.modal('hide')
                }
            },
        }
    }    
</script>

<style scoped>
    .modal-body {
        background: #fcfcfc;
    }
    
    .row-lecturer,
    .row-student {
        position: relative;
    }

    .form {
        background: #fff;
        border-right: 1px solid #d3dbe2;
        margin: -15px 0 -15px -15px;
        padding: 15px;
        min-height: 185px; /*Fixed*/
    }

    .preview {
        margin: -15px -15px -15px 0;
        padding: 15px;
    }

    .col-main {
        padding-right: 0;
    }

    .col-right {
        padding-left: 0;
    }

    .row-student .col-right .preview {
        border-bottom: 1px solid #d3dbe2;
    }
</style>