<template>
    <div class="modal fade" :id="id" data-backdrop="static">
        <div class="modal-dialog">
            <form @submit.prevent>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" @click.prevent="closeEvent">&times;</button>
                        <h4 class="modal-title">Create new major</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group required">
                            <label class="control-label">Major's name</label>
                            <input-text name="name" :id="inputNameId" :message="messageBags.name" :status="statusBags.name" :value="name" @input="inputName" placeholder="Major's name"></input-text>
                        </div>
                        <div class="form-group required">
                            <label class="control-label">Major's code <i>(<a href="#" @click.prevent="generateCodeFromName">Generate from name</a>)</i></label>
                            <input-text name="code" :value="code" :message="messageBags.code" :status="statusBags.code" @input="inputCode" placeholder="Major's code"></input-text>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" @click.prevent="closeEvent">Close</button>
                        <app-button type="submit" :loading="saving" status="primary" icon="save" @click="create">Save</app-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    import { strRandom, firstWord } from '../../helpers/string'
    import { mapActions } from 'vuex'
    import button from '../components/button'
    import inputText from '../components/inputText'
    import inputTextarea from '../components/inputTextarea'
    import validateForm from '../../mixins/validateForm'
    import toastr from '../../plugins/toastr'

    export default {
        components: {
            appButton: button,
            inputText,
            inputTextarea
        },

        props: ['open', 'faculty'],
        mixins: [validateForm],

        data () {
            return {
                name: '',
                code: '',
                saving: false,

                messageBags: {
                    name: '',
                    code: ''
                },

                statusBags: {
                    name: 'normal',
                    code: 'normal'
                }
            }
        },

        computed: {
            id () {
                return strRandom()
            },

            inputNameId () {
                return strRandom()
            },

            el () {
                return $('#' + this.id)
            }
        },

        mounted () {
            var vm = this
            if (this.open) {
                this.el
                    .modal('show')
                    .on('shown.bs.modal', e => {
                        $('#' + this.inputNameId).focus()
                    }) 
            }
        },

        methods: {
            setSaving (val) {
                this.saving = val
            },

            closeEvent () {
                this.resetStatusBags()
                this.resetMessageBags()
                this.$emit('close')
            },

            inputName (val) {
                this.name = val
            },

            inputCode (val) {
                this.code = val
            },

            generateCodeFromName () {
                if (this.name) {
                    this.code = firstWord(this.name).toUpperCase()
                }
            },

            create () {
                this.resetMessageBags()
                this.resetStatusBags()
                this.setSaving(true)
                this.setAppLoading(true)

                this['major/create']({ data: {
                    name: this.name,
                    code: this.code,
                    faculty_id: this.faculty.id
                }}).done (res => {
                    this.$emit('done', res.major)
                    this.name = ''
                    this.code = ''
                    if (res.message) {
                        toastr.success(res.message)
                    }
                }).fail(xhr => {
                    this.formFail(xhr.responseJSON)
                }).always(() => {
                    this.setAppLoading(false)
                    this.setSaving(false)
                })
            },

            ...mapActions(['setAppLoading']),
            ...mapActions(['major/create'])
        },

        watch: {
            open () {
                if (this.open === true) {
                    this.el
                        .modal('show')
                        .on('shown.bs.modal', e => {
                            $('#' + this.inputNameId).focus()
                        }) 
                } else {
                    this.el.modal('hide')
                }
            }
        }
    }
    
</script>