<template>
    <div style="display: inline-block;">
        <button @click.prevent="open = !open" type="button" class="btn btn-default" data-toggle="popover" title="Popover title" data-content=""><i class="fa fa-filter"></i></button>
        <div v-show="open" class="popover bottom" style="display: block;">
            <div class="popover-header">
                <h3 class="popover-title">Filter students - <i>(Press <code>esc</code> to close)</i></h3>
                <button @click.prevent="open = false" type="button" class="close">×</button>
            </div>
            <div class="popover-content">
                <form @submit.prevent class="form-horizontal">
                    <div class="form-group">
                        <label for="" class="control-label col-sm-2">Student</label>
                        <div class="col-sm-10">
                            <input-student :value="studentCode" @input="inputStudentCode" @select="selectStudent" size="sm"></input-student>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-sm-2">Faculty</label>
                        <div class="col-sm-10">
                            <input-faculty :value="facultyCode" @input="inputFacultyCode" @select="selectFaculty" size="sm"></input-faculty>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-sm-2">Major</label>
                        <div class="col-sm-10">
                            <input-major :value="majorCode" @input="inputMajorCode" @select="selectMajor" size="sm"></input-major>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-sm-2">Term</label>
                        <div class="col-sm-10">
                            <input-number :value="term" @decrement="decrementTerm" @increment="incrementTerm" placeholder="Term" size="sm"></input-number>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-sm-2">Class</label>
                        <div class="col-sm-10">
                            <input-class :value="classCode" @input="inputClassCode" @select="selectClass" size="sm"></input-class>
                        </div>
                    </div>
                    <div class="form-group text-right" style="margin-bottom: 0">
                        <div class="col-sm-12">
                            <button @click.prevent="reset" class="btn btn-default btn-sm">Reset</button>
                            <button :disabled="disableApply" :class="{ disabled: disableApply }" type="submit" @click.prevent="eventApply" class="btn btn-primary btn-sm">Apply</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    import inputText from '../components/inputText'
    import inputStudent from './inputStudent'
    import inputClass from './inputClass'
    import inputFaculty from './inputFaculty'
    import inputNumber from '../components/inputNumber'
    import inputMajor from './inputMajor'

    export default {
        components: {
            inputClass,
            inputFaculty,
            inputNumber,
            inputMajor,
            inputStudent,
            inputText
        },

        data () {
            return {
                studentCode: '',
                facultyCode: '',
                classCode: '',
                majorCode: '',
                term: 13,
                open: false
            }
        },

        created () {
            $(() => {
                $(document).keyup(e => {
                    if (e.keyCode == 27) {
                        this.open = false
                    }
                })
            })
        },

        computed: {
            disableApply () {
                return false
            },
        },

        methods: {
            inputStudentCode (code) {
                this.studentCode = code
            },

            selectStudent (student) {
                this.studentCode = student.code
            },

            inputClassCode (code) {
                this.classCode = code
            },

            selectClass (clas) {
                this.classCode = clas.code
            },

            inputMajorCode (code) {
                this.majorCode = code
            },

            selectMajor (major) {
                this.majorCode = major.code
            },

            inputFacultyCode (code) {
                this.facultyCode = code
            },

            selectFaculty (faculty) {
                this.facultyCode = faculty.code
            },

            decrementTerm (val) {
                if (val > 0) {
                    this.term = val
                }
            },

            incrementTerm (val) {
                this.term = val
            },

            reset () {
                this.studentCode = ''
                this.classCode = ''
                this.facultyCode = ''
                this.majorCode = ''
                this.term = ''
                this.open = false
                this.$emit('reset')
            },

            eventApply () {
                this.open = false
                this.$emit('apply', {
                    studentCode: this.studentCode,
                    classCode: this.classCode,
                    facultyCode: this.facultyCode,
                    majorCode: this.majorCode,
                    term: this.term
                })
            }
        }
    }
</script>
<style scoped>
    .popover {
        max-width: 600px;
        width: 600px;
        top: auto;
        left: auto;
        right: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        border: none;
        padding: 0;
    }

    .popover .arrow:after {
        color: #f7f7f7;
    }
</style>