<template>
    <div style="display: inline-block;">
        <button @click.prevent="open = !open" type="button" class="btn btn-default" data-toggle="popover" title="Popover title" data-content=""><i class="fa fa-filter"></i></button>
        <div v-show="open" class="popover bottom" style="display: block;">
            <div class="popover-header">
                <h3 class="popover-title">Filter lecturers - <i>(Press <code>esc</code> to close)</i></h3>
                <button @click.prevent="open = false" type="button" class="close">×</button>
            </div>
            <div class="popover-content">
                <form @submit.prevent class="form-horizontal">
                    <div class="form-group">
                        <label for="" class="control-label col-sm-2">Lecturer</label>
                        <div class="col-sm-10">
                            <input-lecturer :value="lecturerCode" @input="inputLecturerCode" @select="selectLecturer" size="sm"></input-lecturer>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-sm-2">Faculty</label>
                        <div class="col-sm-10">
                            <input-faculty :value="facultyCode" @input="inputFacultyCode" @select="selectFaculty" size="sm"></input-faculty>
                        </div>
                    </div>
                    <div class="form-group text-right" style="margin-bottom: 0">
                        <div class="col-sm-12">
                            <button @click.prevent="reset" class="btn btn-default btn-sm">Reset</button>
                            <button :disabled="disableApply" :class="{ disabled: disableApply }" type="submit" @click.prevent="eventApply" class="btn btn-primary btn-sm">Apply</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    import inputText from '../components/inputText'
    import inputLecturer from './inputLecturer'
    import inputClass from './inputClass'
    import inputFaculty from './inputFaculty'

    export default {
        components: {
            inputClass,
            inputFaculty,
            inputLecturer,
            inputText
        },

        data () {
            return {
                lecturerCode: '',
                facultyCode: '',
                open: false
            }
        },

        created () {
            $(() => {
                $(document).keyup(e => {
                    if (e.keyCode == 27) {
                        this.open = false
                    }
                })
            })
        },

        computed: {
            disableApply () {
                return false
            },
        },

        methods: {
            inputLecturerCode (code) {
                this.lecturerCode = code
            },

            selectLecturer (lecturer) {
                this.lecturerCode = lecturer.code
            },

            inputFacultyCode (code) {
                this.facultyCode = code
            },

            selectFaculty (clas) {
                this.facultyCode = clas.code
            },

            reset () {
                this.lecturerCode = ''
                this.classCode = ''
                this.facultyCode = ''
                this.open = false
                this.$emit('reset')
            },

            eventApply () {
                this.open = false
                this.$emit('apply', {
                    lecturerCode: this.lecturerCode,
                    facultyCode: this.facultyCode
                })
            }
        }
    }
</script>
<style scoped>
    .popover {
        max-width: 600px;
        width: 600px;
        top: auto;
        left: auto;
        right: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        border: none;
        padding: 0;
    }

    .popover .arrow:after {
        color: #f7f7f7;
    }
</style>