<template>
    <div :class="autocompleteClasses" :id="id">
        <input type="text"
        @focus="setOpen(true)"
        @input="inputKeyword($event)"
        @keydown.up="decrementIndex"
        @keydown.down="incrementIndex"
        @keyup.enter="select(indexActive, true)"
        :class="inputClasses"
        :value="value"
        placeholder="Enter faculty code" />
        <div :class="suggetClasses" @mouseout="indexActive = -1">
            <ul class="dropdown-menu">
                <li v-for="(item, index) in results" @mouseover="indexActive = index" :class="{ active: index == indexActive }" :key="index">
                    <a @click.prevent="select(index, true)" href="#">
                        <strong>{{ item.name }}</strong> <br />
                        <small><i>{{ item.code }}</i></small>
                    </a>
                </li>
                <template v-if="needPageControl">
                    <li class="divider"></li>
                    <li class="text-right" style="padding: 0 10px">
                        <page-control :current="page" :total="total" @next="toPage" @prev="toPage"></page-control>
                    </li>
                </template>
            </ul>
        </div>
        <template v-if="hasMessage">
            <p class="help-block">{{ message }}</p>
        </template>
    </div>
</template>

<script>
    import {strRandom} from '../../helpers/string'
    import facultyApi from '../../api/faculty'
    import pageControl from '../components/pageControl'

    export default {
        components: {pageControl},

        props: ['value', 'size', 'status', 'message'],

        data () {
            return {
                open: false,
                keyword: '',
                results: [],
                indexActive: -1,
                page: 1,
                perpage: 5,
                total: 0,
                totalPage: 0
            }
        },

        computed: {
            id () {
                return strRandom()
            },

            needPageControl () {
                return this.total > this.perpage
            },

            queries () {
                return {
                    keyword: this.keyword,
                    page: this.page,
                    perpage: this.perpage
                }
            },

            suggetClasses () {
                const classes = []
                classes.push('suggests')

                if (this.open && this.results.length) {
                    classes.push('open')
                }

                return classes
            },

            inputClasses () {
                const classes = ['form-control']

                if (this.size) {
                    classes.push('input-' + this.size)
                }

                return classes
            },

            autocompleteClasses () {
                const classes = ['autocomplete']

                if (this.status && this.status == 'error') {
                    classes.push('has-error')
                }

                return classes
            },

            hasMessage () {
                if (this.message) {
                    return true
                }

                return false
            },
        },

        created () {
            // close suggests when click outsite id
            $(document).on('click', e => {
                if ($(e.target).closest('#' + this.id).length === 0) {
                    this.setOpen(false)
                }
            })
        },

        methods: {
            setOpen (val) {
                this.open = val
                this.indexActive = -1
            },

            inputKeyword (e) {
                const value = e.target.value
                this.open = true
                this.page = 1
                this.indexActive = -1
                this.keyword = value
                this.$emit('input', value)
            },

            // when press down
            incrementIndex () {
                if (this.indexActive < this.results.length - 1) {
                    this.indexActive++
                }
            },

            // when press up
            decrementIndex () {
                if (this.indexActive > -1) {
                    this.indexActive--
                }
            },

            // to page
            toPage (page) {
                this.page = page
            },

            select (index, close) {
                if (this.results[index].hasOwnProperty('id')) {
                    this.$emit('select', this.results[index])
                }

                if (close != undefined) {
                    this.setOpen(!close)
                }
            },

            paginate: _.debounce(function () {
                const vm = this
                facultyApi.paginate({data: this.queries}).then(res => {
                    vm.results = res.data
                    vm.page = res.page
                    vm.totalPage = res.total_page
                    vm.total = res.total
                    vm.perpage = res.perpage
                })
            }, 500),
        },

        watch: {
            queries () {
                this.paginate()
            }
        }
    }
</script>

<style scoped>
    .autocomplete {
        position: relative;
    }

    .suggets {
        position: absolute;
    }
</style>