<template>
    <layout>
        <h4>Your internships</h4>
        <internship-list-item name="Thực tập chuyên ngành cho K13 Khoa Công Nghệ Thông Tin" date-open="10/01/2018" date-close="21/01/2018" day-left="11" :closed="false"></internship-list-item>
        <internship-list-item name="Thực tập cơ sở cho K13 Khoa Công Nghệ Thông Tin" date-open="10/01/2017" date-close="21/01/2017" day-left="11" :closed="true"></internship-list-item>
    </layout>
</template>

<script>
    import layout from '../layouts/layout'
    import internshipListItem from '../superComponents/internshipListItem'

    export default {
        components: {
            internshipListItem,
            layout
        }
    }
</script>

<style scoped>
    h4 {
        margin-bottom: 20px;
    }
</style>
