<template>
    <layout>
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Forgot password</h3></div>
            <div class="panel-body">
                <form method="submit" @submit.prevent>
                    <div class="form-group">
                        <label for="email" class="control-label">Email address</label>
                        <input-email icon="envelope-o" name="email" :value="email" @input="inputEmail" :message="messageBags.email" :status="statusBags.email" placeholder="Email address"></input-email>
                    </div>
                    <div class="form-group text-right">
                        <app-button :loading="submitting" @click="send" status="primary" icon="paper-plane">Send link reset password</app-button>
                    </div>
                </form>
            </div>
        </div>
        <a @click.prevent="$router.push({ name: 'auth.login' })" href="">Login</a>
        <template v-if="enableRegister">
            / <a @click.prevent="$router.push({ name: 'auth.register' })" href="">Register</a>
        </template>
    </layout>
</template>

<script>
    import { mapActions } from 'vuex'
    import authLayout from '../../layouts/auth'
    import button from '../../components/button'
    import inputEmail from '../../components/inputEmail'
    import validateForm from '../../../mixins/validateForm'

    export default {
        components: {
            layout: authLayout,
            appButton: button,
            inputEmail
        },

        mixins: [validateForm],

        data () {
            return {
                email: '',
                password: '',
                submitting: false,
                statusBags: {
                    email: 'normal'
                },
                messageBags: {
                    email: ''
                }
            }
        },

        computed: {
            enableRegister () {
                return this.$store.state.setting.register == 1
            }
        },

        methods: {
            setSubmitting (val) {
                this.submitting = val
            },

            send () {
                this.resetMessageBags()
                this.resetStatusBags()
                this.setSubmitting(true)
                this.setAppLoading(true)
                
                this['auth/forgotPassword']({
                    data: {
                        email: this.email
                    }
                }).then(res => {
                    this.$router.push({ name: 'auth.login' })
                }).fail(xhr => {
                    const res = xhr.responseJSON
                    this.formFail(res)
                }).always(() => {
                    this.setAppLoading(false)
                    this.setSubmitting(false)
                })
            },
            
            inputEmail (val) {
                this.email = val
            },

            ...mapActions(['setAppLoading']),
            ...mapActions(['auth/forgotPassword'])
        }
    }
</script>