<template>
    <layout>
        <template v-if="demoMode">
            <div class="alert alert-info">
                <strong>You can try with!</strong> <br>
                <ul>
                    <li>Email: admin@admin.com</li>
                    <li>Passowrd: 123123</li>
                </ul>
            </div>
        </template>
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Login</h3></div>
            <div class="panel-body">
                <form method="post" @submit.prevent>
                    <div class="form-group">
                        <label for="email" class="control-label">Email address</label>
                        <input-email name="email" :value="email" @input="inputEmail" :message="messageBags.email" :status="statusBags.email" icon="envelope-o" placeholder="Email address"></input-email>
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Password</label>
                        <input-password name="password" :value="password" @input="inputPassword" :message="messageBags.password" :status="statusBags.password" icon="lock" placeholder="Password"></input-password>
                    </div>
                    <div class="form-group text-right">
                        <app-button :loading="loging" @click="login" status="primary" icon="key">Login</app-button>
                    </div>
                </form>
            </div>
        </div>
        <a @click.prevent="$router.push({ name: 'auth.forgot-password' })" href="">Forgot password</a>  
        <template v-if="enableRegister">
            / <a @click.prevent="$router.push({ name: 'auth.register' })" href="">Register</a>
        </template>
    </layout>
</template>

<script>
    import { mapActions } from 'vuex'
    import authLayout from '../../layouts/auth'
    import button from '../../components/button'
    import config from '../../../configs'
    import inputEmail from '../../components/inputEmail'
    import inputPassword from '../../components/inputPassword'
    import validateForm from '../../../mixins/validateForm'

    export default {
        components: {
            layout: authLayout,
            appButton: button,
            inputEmail,
            inputPassword
        },

        mixins: [validateForm],

        data () {
            return {
                email: '',
                password: '',
                loging: false,
                statusBags: {
                    email: 'normal',
                    password: 'normal',
                },
                messageBags: {
                    email: '',
                    password: '',
                }
            }
        },

        computed: {
            enableRegister () {
                return this.$store.state.setting.register == 1
            },

            demoMode () {
                if (config.demoMode) {
                    return config.demoMode
                }

                return false
            }
        },

        methods: {
            setLoging (val) {
                this.loging = val
            },

            login () {
                this.resetMessageBags()
                this.resetStatusBags()
                this.setAppLoading(true)
                this.setLoging(true)

                this['auth/login']({
                    data: {
                        email: this.email,
                        password: this.password
                    }
                }).done(res => {
                    this['auth/getMe']().done(() => {
                        this['auth/getPermission']().done(() => {
                            this.$router.push({ name: 'home' })
                        })
                    })
                }).fail(xhr => {
                    this.formFail(xhr.responseJSON)
                }).always(() => {
                    this.setAppLoading(false)
                    this.setLoging(false)
                })
            },
            
            inputEmail (val) {
                this.email = val
            },

            inputPassword (val) {
                this.password = val
            },

            ...mapActions(['setAppLoading']),
            ...mapActions(['auth/login', 'auth/getMe', 'auth/getPermission'])
        }
    }
</script>