<template>
    <layout>
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Register</h3></div>
            <div class="panel-body">
                <form method="post" @submit.prevent>
                    <div class="form-group">
                        <label for="email" class="control-label">Email address</label>
                        <input-email icon="envelope-o" name="email" @input="inputEmail" :value="email" :status="statusBags.email" :message="messageBags.email" placeholder="Email address"></input-email>
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Password</label>
                        <input-password icon="lock" name="password" @input="inputPassword" :value="password" :status="statusBags.password" :message="messageBags.password" placeholder="Password"></input-password>
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Password confirmation</label>
                        <input-password icon="lock" name="password_confirmation" @input="inputPasswordConfirmation" :value="passwordConfirmation" :status="statusBags.passwordConfirmation" :message="messageBags.passwordConfirmation" placeholder="Password confirmation"></input-password>
                    </div>
                    <div class="form-group text-right">
                        <app-button :loading="submitting" @click="register" status="primary" icon="key">Regiser</app-button>
                    </div>
                </form>
            </div>
        </div>
        <a @click.prevent="$router.push({ name: 'auth.forgot-password' })" href="">Forgot password</a>  
        / <a @click.prevent="$router.push({ name: 'auth.login' })" href="">Login</a>
    </layout>
</template>

<script>
    import { mapActions } from 'vuex'
    import authLayout from '../../layouts/auth'
    import button from '../../components/button'
    import inputEmail from '../../components/inputEmail'
    import inputPassword from '../../components/inputPassword'
    import validateForm from '../../../mixins/validateForm'

    export default {
        components: {
            layout: authLayout,
            appButton: button,
            inputEmail,
            inputPassword
        },

        mixins: [validateForm],

        data () {
            return {
                email: '',
                password: '',
                passwordConfirmation: '',
                submitting: false,
                statusBags: {
                    email: 'normal',
                    password: 'normal',
                    passwordConfirmation: 'normal'
                },
                messageBags: {
                    email: '',
                    password: '',
                    passwordConfirmation: '',
                }
            }
        },

        methods: {
            setSubmitting (val) {
                this.submitting = val
            },

            register () {
                this.resetMessageBags()
                this.resetStatusBags()
                this.setAppLoading(true)
                this.setSubmitting(true)
                
                this['auth/register']({
                    data: {
                        email: this.email,
                        password: this.password,
                        passwordConfirmation: this.passwordConfirmation
                    }
                }).then(res => {
                    this.$router.push({ name: 'auth.login' })
                }).fail(xhr => {
                    const res = xhr.responseJSON
                    this.formFail(res)
                }).always(() => {
                    this.setAppLoading(false)
                    this.setSubmitting(false)
                })
            },
            
            inputEmail (val) {
                this.email = val
            },

            inputPassword (val) {
                this.password = val
            },

            inputPasswordConfirmation (val) {
                this.passwordConfirmation = val
            },

            ...mapActions(['setAppLoading']),
            ...mapActions(['auth/register'])
        }
    }
</script>