<template>
    <layout>
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Reset password</h3></div>
            <div class="panel-body">
                <form method="post" @submit.prevent>
                    <div class="form-group">
                        <label for="password" class="control-label">New password</label>
                        <input-password name="password" icon="lock" placeholder="New password"></input-password>
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Password confirmation</label>
                        <input-password name="password_confirmation" icon="lock" placeholder="Password confirmation"></input-password>
                    </div>
                    <div class="form-group text-right">
                        <app-button status="primary" icon="key">Reset password</app-button>
                    </div>
                </form>
            </div>
        </div>
        <a @click.prevent="$router.push({ name: 'auth.login' })" href="">Login</a>
        <template v-if="enableRegister">
            / <a @click.prevent="$router.push({ name: 'auth.forgot-password' })" href="">Register</a>
        </template>
    </layout>
</template>

<script>
    import authLayout from '../../layouts/auth'
    import button from '../../components/button'
    import inputPassword from '../../components/inputPassword'

    export default {
        components: {
            layout: authLayout,
            appButton: button,
            inputPassword
        },

        computed: {
            enableRegister () {
                return this.$store.state.setting.register == 1
            }
        },
    }
</script>