<template>
    <layout>
        <template v-if="demoMode">
            <div class="alert alert-info">
                <strong>You can try with!</strong> <br>
                <ul>
                    <li>Code: DTC145D4801030003</li>
                    <li>Passowrd: 123123</li>
                </ul>
            </div>
        </template>
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Login</h3></div>
            <div class="panel-body">
                <form method="post" @submit.prevent>
                    <div class="form-group">
                        <label for="code" class="control-label">Student code</label>
                        <input-text name="code" :value="code" @input="inputCode" :message="messageBags.code" :status="statusBags.code" icon="envelope-o" placeholder="Student code"></input-text>
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Password</label>
                        <input-password name="password" :value="password" @input="inputPassword" :message="messageBags.password" :status="statusBags.password" icon="lock" placeholder="Password"></input-password>
                    </div>
                    <div class="form-group text-right">
                        <app-button :loading="loging" @click="login" type="primary" icon="key">Login</app-button>
                    </div>
                </form>
            </div>
        </div>
        <a @click.prevent="$router.push({ name: 'auth.forgot-password' })" href="">Forgot password</a>  
        <template v-if="enableRegister">
            / <a @click.prevent="$router.push({ name: 'auth.register' })" href="">Register</a>
        </template>
    </layout>
</template>

<script>
    import { mapActions } from 'vuex'
    import authLayout from '../../layouts/auth'
    import button from '../../components/button'
    import config from '../../../configs'
    import inputText from '../../components/inputText'
    import inputPassword from '../../components/inputPassword'
    import validateForm from '../../../mixins/validateForm'

    export default {
        components: {
            layout: authLayout,
            appButton: button,
            inputText,
            inputPassword
        },

        mixins: [validateForm],

        data () {
            return {
                code: '',
                password: '',
                loging: false,
                statusBags: {
                    code: 'normal',
                    password: 'normal',
                },
                messageBags: {
                    code: '',
                    password: '',
                }
            }
        },

        computed: {
            enableRegister () {
                return this.$store.state.setting.register == 1
            },

            demoMode () {
                if (config.demoMode) {
                    return config.demoMode
                }

                return false
            }
        },

        methods: {
            setLoging (val) {
                this.loging = val
            },

            login () {
                this.resetMessageBags()
                this.resetStatusBags()
                this.setAppLoading(true)
                this.setLoging(true)

                this['auth/login']({
                    data: {
                        code: this.code,
                        password: this.password
                    }
                }).done(res => {
                    this['auth/getMe']().done(() => {
                        this.$router.push({ name: 'home' })
                    })
                }).fail(xhr => {
                    this.formFail(xhr.responseJSON)
                }).always(() => {
                    this.setAppLoading(false)
                    this.setLoging(false)
                })
            },
            
            inputCode (val) {
                this.code = val
            },

            inputPassword (val) {
                this.password = val
            },

            ...mapActions(['setAppLoading']),
            ...mapActions(['auth/login', 'auth/getMe'])
        }
    }
</script>