<template>
    <layout>
        <h4>Register internship</h4>
        <internship-list-item name="Thực tập chuyên ngành cho K13 Khoa Công Nghệ Thông Tin" date-open="10/01/2018" date-close="21/01/2018" day-left="11" :closed="false"></internship-list-item>
        <h4>Lecturers</h4>
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <lecturer-card>
                    <button class="btn btn-default" @click="openDialogInternshipRegister" slot="action">Register</button>
                </lecturer-card>
            </div>
            <div class="col-md-3 col-xs-6">
                <lecturer-card :closed="true">
                    <button class="btn btn-default" @click="openDialogInternshipRegister" slot="action">Register</button>
                </lecturer-card>
            </div>
            <div class="col-md-3 col-xs-6">
                <lecturer-card :closed="true">
                    <button class="btn btn-default" @click="openDialogInternshipRegister" slot="action">Register</button>
                </lecturer-card>
            </div>
            <div class="col-md-3 col-xs-6">
                <lecturer-card :closed="true">
                    <button class="btn btn-default" @click="openDialogInternshipRegister" slot="action">Register</button>
                </lecturer-card>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <lecturer-card :closed="true">
                    <button class="btn btn-default" @click="openDialogInternshipRegister" slot="action">Register</button>
                </lecturer-card>
            </div>
            <div class="col-md-3 col-xs-6">
                <lecturer-card :closed="true">
                    <button class="btn btn-default" @click="openDialogInternshipRegister" slot="action">Register</button>
                </lecturer-card>
            </div>
            <div class="col-md-3 col-xs-6">
                <lecturer-card :closed="true">
                    <button class="btn btn-default" @click="openDialogInternshipRegister" slot="action">Register</button>
                </lecturer-card>
            </div>
            <div class="col-md-3 col-xs-6">
                <lecturer-card :closed="true">
                    <button class="btn btn-default" @click="openDialogInternshipRegister" slot="action">Register</button>
                </lecturer-card>
            </div>
        </div>
        <dialog-internship-register :open="dialogInternshipRegisterOpenStatus" @close="dialogInternshipRegisterOpenStatus = false"></dialog-internship-register>
    </layout>
</template>

<script>
    import layout from '../../layouts/layout'
    import appButton from '../../components/button'
    import internshipListItem from '../../superComponents/internshipListItem'
    import lecturerCard from '../../superComponents/lecturerCard'
    import dialogInternshipRegister from '../../superComponents/dialogInternshipRegister'

    export default {
        components: {
            appButton,
            dialogInternshipRegister,
            internshipListItem,
            lecturerCard,
            layout
        },

        data () {
            return {
                name: 'Thực tập chuyên ngành cho K13 Khoa Công Nghệ Thông Tin',
                dialogInternshipRegisterOpenStatus: false
            }
        },

        methods: {
            openDialogInternshipRegister () {
                this.dialogInternshipRegisterOpenStatus = true
            }
        }
    }
</script>

<style scoped>
    h4 {
        margin-bottom: 20px;
    }
</style>
