<template>
    <layout>
        <div id="content">
            <div class="page-header">
                <div class="container">
                    <button-toggle-column-left></button-toggle-column-left>
                    <div class="pull-right">
                        <app-button @click="$router.push({ name: 'user.index' })" icon="reply">Back</app-button>
                        <app-button :loading="saving" icon="save" @click="save" status="primary">Save</app-button>
                    </div>
                    <h1>{{ pageTitle }}</h1>
                    <breadcrumb></breadcrumb>
                </div>
            </div>
            <visible-frame :visible="visible">
                <div class="container">
                    <form method="post" @submit.prevent>
                        <div class="panel panel-default form">
                            <div class="panel-heading"><h3 class="panel-title">User infomation</h3></div>
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label">Avatar</label>
                                        <div class="col-sm-10">
                                            <input-image name="avatar" :value="avatar" :default-preview="defaultPreview" @reset="resetAvatar" @change="inputAvatar"></input-image>
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label for="" class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-10">
                                            <input-text placeholder="Email" name="email" :value="email" :status="statusBags.email" :message="messageBags.email" @input="inputEmail"></input-text>
                                            <p class="help-block">Email use to login, reset password, and get notifications from the system.</p>
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label for="" class="col-sm-2 control-label">Fullname</label>
                                        <div class="col-sm-10">
                                            <input-text name="fullname" placeholder="Fullname" :value="fullname" :status="statusBags.fullname" :message="messageBags.fullname" @input="inputFullname"></input-text>
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label for="" class="col-sm-2 control-label">Role</label>
                                        <div class="col-sm-10">
                                            <app-select @change="changeRole" name="role_id" :style="{ width: 'auto' }" :status="statusBags.role_id" :message="messageBags.role_id">
                                                <option value="">-- Select --</option>
                                                <option v-for="role in roles.data" :value="role.id" :selected="role.id === role_id">{{ role.name }}</option>
                                            </app-select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label">Birth</label>
                                        <div class="col-sm-10">
                                            <input-date :options="{ changeMonth: true, changeYear: true }" placeholder="Birth" name="birth" :value="birth" :status="statusBags.birth" :message="messageBags.birth" @select="selectBirth"></input-date>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label">Phone</label>
                                        <div class="col-sm-10">
                                            <input-text placeholder="Phone" name="phone" :value="phone" :status="statusBags.phone" :message="messageBags.phone" @input="inputPhone"></input-text>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer text-right">
                                <app-button @click="$router.push({ name: 'user.index' })" icon="reply">Back</app-button>
                                <app-button type="submit" :loading="saving" icon="save" @click="save" status="primary">Save</app-button>
                            </div>
                        </div>
                    </form>
                </div>
            </visible-frame>
        </div>
    </layout>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    import { imageUrl } from '../../../helpers/url'
    import { format as formatDate } from '../../../helpers/datetime'
    import button from '../../components/button'
    import select from '../../components/select'
    import breadcrumb from '../../common/breadcrumb'
    import buttonToggleColumnLeft from '../../common/buttonToggleColumnLeft'
    import config from '../../../configs'
    import inputDate from '../../components/inputDate'
    import inputImage from '../../components/inputImage'
    import inputText from '../../components/inputText'
    import layout from '../../layouts/layout'
    import toastr from '../../../plugins/toastr'
    import visibleFrame from '../../components/visibleFrame'
    import validateForm from '../../../mixins/validateForm'

    export default {
        components: {
            appButton: button,
            appSelect: select,
            breadcrumb,
            buttonToggleColumnLeft,
            inputDate,
            inputImage,
            inputText,
            layout,
            visibleFrame,
        },

        data () {
            return {
                userId: this.$route.params.userId,
                avatar: '',
                fullname: '',
                email: '',
                role_id: '',
                phone: '',
                birth: '',
                saving: false,
                visible: false,

                statusBags: {
                    fullname: 'normal',
                    email: 'normal',
                    role_id: 'normal',
                    phone: 'normal',
                    birth: 'normal'
                },

                messageBags: {
                    fullname: '',
                    email: '',
                    role_id: '',
                    phone: '',
                    birth: ''
                },
            }
        },

        mixins: [validateForm],

        computed: {
            defaultPreview () {
                if (!this.avatar) {
                    return imageUrl('storage/no-avatar_100x100.png')
                } else {
                    return imageUrl(this.avatar, [100, 100])
                }
            },

            pageTitle () {
                return this.fullname ? this.fullname : 'Empty fullname'
            },

            roles () {
                return this['user/role/collections']
            },

            isEmpty () {
                return this['user/role/isEmpty']
            },

            ...mapGetters(['user/role/collections', 'user/role/isEmpty']),
        },

        created () {
            this.fetchData()
        },

        mounted () {
            this['menu/setActive']('user')
            this.setBreadcrumb([
                {route: { name: 'home' }, name: 'Home'},
                {route: { name: 'user.index' }, name: 'Users'}
            ])
        },

        methods: {
            setVisible (val) {
                this.visible = val
            },

            setSaving (val) {
                this.saving = val
            },

            fetchData () {
                const requests = []
                this.setAppLoading(true)

                requests.push(this['user/role/paginate']({ query: { perpage: 999, with: ['total_user'] } }))
                requests.push(this['user/user/get']({ userId: this.userId }).done(res => {
                    const user = res.user
                    this.avatar = user.avatar
                    this.fullname = user.lastname + ' ' + user.firstname
                    this.email = user.email
                    this.role_id = user.role_id
                    this.birth = formatDate(user.birth, 'DD-MM-YYYY')
                    this.phone = user.phone
                }).fail(xhr => {
                    if (xhr.status == 404) {
                        this.$router.push({ name: 'error-404' })
                    }
                }))

                $.when.apply($, requests).done(() => {
                    this.setAppLoading(false)
                    this.setVisible(true)
                })
            },

            inputAvatar (val) {
                this.avatar = val
            },

            resetAvatar () {
                this.avatar = ''
            },

            inputEmail (val) {
                this.email = val
            },

            inputFullname (val) {
                this.fullname = val
            },

            selectBirth (val) {
                this.birth = val
            },

            changeRole (val) {
                this.role_id = val
            },

            inputPhone (val) {
                this.phone = val
            },

            save () {
                const vm = this
                this.setAppLoading(true)
                this.setSaving(true)
                this.resetMessageBags()
                this.resetStatusBags()

                this['user/user/update']({
                    userId: this.userId,
                    data: {
                        avatar: this.avatar,
                        fullname: this.fullname,
                        email: this.email,
                        role_id: this.role_id,
                        phone: this.phone,
                        birth: this.birth
                    }
                }).done(res => {
                    toastr.success(res.message)
                }).fail(xhr => {
                    this.formFail(xhr.responseJSON)
                }).always(() => {
                    this.setSaving(false)
                    this.setAppLoading(false)
                })
            },
            ...mapActions(['setAppLoading', 'setBreadcrumb', 'setPageTitle', 'menu/setActive']),
            ...mapActions(['user/user/get', 'user/user/update', 'user/role/paginate'])
        },
    }
</script>