<template>
    <layout>
        <div id="content">
            <div class="page-header">
                <div class="container">
                    <button-toggle-column-left></button-toggle-column-left>
                    <div class="pull-right">
                        <app-button @click="$router.push({ name: 'user.index' })" icon="reply">Back</app-button>
                        <app-button :loading="saving" icon="save" @click="save" status="primary">Save</app-button>
                    </div>
                    <h1>{{ pageTitle }}</h1>
                    <breadcrumb></breadcrumb>
                </div>
            </div>
            <visible-frame :visible="visible">
                <div class="container">
                    <form method="post" @submit.prevent>
                        <div class="panel panel-default form">
                            <div class="panel-heading"><h3 class="panel-title">Role infomation</h3></div>
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="form-group required">
                                        <label for="" class="col-sm-2 control-label">Role's name</label>
                                        <div class="col-sm-10">
                                            <input-text placeholder="Role's name" name="name" :value="name" :status="statusBags.name" :message="messageBags.name" @input="inputName"></input-text>
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label for="" class="col-sm-2 control-label">Role</label>
                                        <div class="col-sm-10">
                                            <app-select @change="changeType" name="type" style="width: auto" :status="statusBags.type" :message="messageBags.type">
                                                <option value="">-- Select --</option>
                                                <option v-for="t in types" :selected="t.id === type" :value="t.id">{{ t.name }}</option>
                                            </app-select>
                                        </div>
                                    </div>
                                    <template v-if="showPermissions">
                                        <div class="form-group required">
                                            <label class="control-label col-sm-2">Permissions</label>
                                            <div class="col-sm-10">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-4 col-xs-6" v-for="chunk in permissions">
                                                        <div class="checkbox" v-for="p in chunk">
                                                            <label>
                                                                <input @change="addPermission($event)" :checked="hasPermission(p[0])" name="permission[]" type="checkbox" :value="p[0]">
                                                                {{ p[1] }}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                            <div class="panel-footer text-right">
                                <app-button @click="$router.push({ name: 'user.index' })" icon="reply">Back</app-button>
                                <app-button type="submit" :loading="saving" icon="save" @click="save" status="primary">Save</app-button>
                            </div>
                        </div>
                    </form>
                </div>
            </visible-frame>
        </div>
    </layout>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    import button from '../../components/button'
    import select from '../../components/select'
    import breadcrumb from '../../common/breadcrumb'
    import buttonToggleColumnLeft from '../../common/buttonToggleColumnLeft'
    import config from '../../../configs'
    import inputText from '../../components/inputText'
    import layout from '../../layouts/layout'
    import toastr from '../../../plugins/toastr'
    import visibleFrame from '../../components/visibleFrame'
    import validateForm from '../../../mixins/validateForm'

    export default {
        components: {
            appButton: button,
            appSelect: select,
            breadcrumb,
            buttonToggleColumnLeft,
            inputText,
            layout,
            visibleFrame,
        },

        mixins: [validateForm],

        data () {
            return {
                roleId: this.$route.params.roleId,
                name: '',
                type: '',
                permission: [],
                types: [
                    {id: '0', name: 'Not allow'},
                    {id: '*', name: 'Allow all'},
                    {id: 'option', name: 'Option'},
                ],

                saving: false,
                visible: false,

                statusBags: {
                    name: 'normal',
                    type: 'normal',
                    permission: 'normal',
                },

                messageBags: {
                    name: '',
                    type: '',
                    permission: '',
                },
            }
        },

        computed: {
            pageTitle () {
                return this.name ? this.name : 'Empty name'
            },

            permissions () {
                return _.chunkObj(this['user/permission/collections'].data, 4)
            },

            isEmpty () {
                return this['user/permission/isEmpty']
            },

            showPermissions () {
                return this.type === 'option'
            },

            ...mapGetters(['user/permission/collections', 'user/permission/isEmpty']),
        },

        created () {
            this.fetchData()
        },

        mounted () {
            this['menu/setActive']('user')
            this.setBreadcrumb([
                {route: { name: 'home' }, name: 'Home'},
                {route: { name: 'user.index' }, name: 'Users'}
            ])
        },

        methods: {
            setVisible (val) {
                this.visible = val
            },

            setSaving (val) {
                this.saving = val
            },

            fetchData () {
                const requests = []
                this.setAppLoading(true)
                
                requests.push(this['user/permission/all']({}))
                requests.push(this['user/role/get']({ roleId: this.roleId }).done(res => {
                    const role = res.role
                    this.name = role.name
                    this.type = role.type
                    this.permission = _.cloneDeep(role.permission)
                    if (!Array.isArray(this.permission)) {
                        this.type = this.permission
                    } else {
                        this.type = 'option'
                    }
                }).fail(xhr => {
                    if (xhr.status == 404) {
                        this.$router.push({ name: 'error-404' })
                    }
                }))

                $.when.apply($, requests).done(() => {
                    this.setVisible(true)
                    this.setAppLoading(false)
                })
            },

            inputName (val) {
                this.name = val
            },

            changeType (val) {
                this.type = val
            },

            save () {
                this.setAppLoading(true)
                this.setSaving(true)
                this.resetMessageBags()
                this.resetStatusBags()

                const data = {}
                data.name = this.name
                data.type = this.type

                if (this.showPermissions) {
                    data.permission = this.permission
                }

                this['user/role/update']({ roleId: this.roleId, data }).done(res => {
                    toastr.success(res.message)
                }).fail(xhr => {
                    this.formFail(xhr.responseJSON)
                }).always(() => {
                    this.setAppLoading(false)
                    this.setSaving(false)
                })
            },

            addPermission (e) {
                const checked = event.target.checked
                const value = event.target.value

                if (checked) {
                    this.permission.push(value)
                } else {
                    _.remove(this.permission, item => item === value)
                }
            },

            hasPermission (permission) {
                return this.permission.indexOf(permission) !== -1
            },

            ...mapActions(['setAppLoading', 'setBreadcrumb', 'setPageTitle', 'menu/setActive']),
            ...mapActions(['user/role/update', 'user/role/get', 'user/permission/all'])
        },
    }
</script>