<template>
    <layout>
        <div id="content">
            <div class="page-header">
                <div class="container">
                    <button-toggle-column-left></button-toggle-column-left>
                    <div class="pull-right">
                        <page-control :current="page" :total="users.totalPage" @next="toPage" @prev="toPage"></page-control>
                        <input-search :keyword="keyword" placeholder="Enter name or email to quick search..." @clear="clearKeyword" @input="inputKeyword"></input-search>
                        <app-button v-can="'role.create'" @click="$router.push({ name: 'role.create' })" status="primary" icon="user-plus">New role</app-button>
                        <app-button v-can="'user.create'" @click="$router.push({ name: 'user.create' })" status="primary" icon="plus">New user</app-button>
                    </div>
                    <h1>{{ pageTitle }}</h1>
                    <breadcrumb></breadcrumb>
                </div>
            </div>
            <visible-frame :visible="visible">
                <div class="container">
                    <div class="table-responsive">
                        <table id="table-users" class="table table-hover master-table table-striped" style="margin-bottom: 0">
                            <thead>
                                <tr>
                                    <th style="width: 1px">#</th>
                                    <th style="width: 1px"><a href="" :class="{ desc: sort == 'id' && order == 'asc', asc: sort == 'id' && order == 'desc' }" @click.prevent="rerort('id')">ID</a></th>
                                    <th><a href="" :class="sortClass('firstname')" @click.prevent="rerort('firstname')">User</a></th>
                                    <th><a href="" :class="sortClass('email')" @click.prevent="rerort('email')">Email</a></th>
                                    <th><a href="" :class="sortClass('role_id')" @click.prevent="rerort('role_id')">Role</a></th>
                                    <th><a href="" :class="sortClass('updated_at')" @click.prevent="rerort('updated_at')">Updated at</a></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <template v-if="isEmpty">
                                <tbody>
                                    <tr>
                                        <td colspan="7" class="text-center">
                                            Empty
                                        </td>
                                    </tr>
                                </tbody>
                                </template>
                                <template v-else>
                                    <tbody>
                                        <tr v-for="(user, index) in users.data">
                                            <td>#{{ page == 1 ? index + 1 :  index + 1 + perpage }}</td>
                                            <td><strong>{{ user.id }}</strong></td>
                                            <td>
                                                <avatar :fullname="user.lastname + ' ' + user.firstname" :url="userAvatar(user)"></avatar>
                                                <span :class="{ online: user.is_online == 1, offline: user.is_online == 0 }"></span>
                                                <router-link v-can="'user.edit'" :to="{ name: 'user.edit', params: { userId: user.id } }">
                                                    <strong>{{ user.lastname + ' ' + user.firstname }}</strong>
                                                </router-link>
                                                <strong v-cannot="'user.edit'">{{ user.lastname + ' ' + user.firstname }}</strong>
                                            </td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.role_name }}</td>
                                            <td>{{ user.updated_at | fromNow }}</td>
                                            <td class="text-right text-nowrap">
                                                <app-button v-can="'user.edit'" @click="$router.push({ name: 'user.edit', params: { userId: user.id } })" status="primary" size="sm" icon="pencil"></app-button>
                                                <app-button :loading="user.id == userIdDeleting" v-can="'user.delete'" @click="deleteUser(user.id)" status="danger" size="sm" icon="trash"></app-button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr v-for="(role, index) in roles.data">
                                            <td class="hidden-xs"></td>
                                            <td colspan="4" class="text-right">
                                                <router-link v-can="'role.edit'" :to="{ name: 'role.edit', params: { roleId: role.id } }">
                                                    <strong>{{ role.name }}</strong>
                                                </router-link>
                                                <strong v-cannot="'role.edit'">{{ role.name }}</strong>
                                            </td>
                                            <td>
                                                <strong>{{ role.total_user }}</strong> total users
                                            </td>
                                                <td class="text-right text-nowrap">
                                                    <app-button v-can="'role.edit'" @click="$router.push({ name: 'role.edit', params: { roleId: role.id } })" status="primary" size="sm" icon="pencil"></app-button>
                                                    <app-button :loading="role.id == roleIdDeleting" v-can="'role.delete'" @click="deleteRole(role.id)" status="danger" size="sm" icon="trash"></app-button>
                                                </td>
                                            </tr>
                                    </tbody>
                                </template>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center hidden-xs">
                        <pagination :current="page" :perpage="perpage" :total="users.total" @next="toPage" @prev="toPage" @first="toPage" @last="toPage" @change="toPage"></pagination>
                    </div>
                </div>
            </visible-frame>
        </div>
    </layout>
</template>

<script>
    import { mapActions, mapState, mapGetters } from 'vuex'
    import { fromNow } from '../../../helpers/datetime'
    import avatar from '../../components/avatar'
    import button from '../../components/button'
    import breadcrumb from '../../common/breadcrumb'
    import buttonToggleColumnLeft from '../../common/buttonToggleColumnLeft'
    import canDirective from '../../../directives/can'
    import cannotDirective from '../../../directives/cannot'
    import columnLeft from '../../common/columnLeft'
    import config from '../../../configs'
    import inputSearch from '../../components/inputSearch'
    import layout from '../../layouts/layout'
    import pageControl from '../../components/pageControl'
    import pagination from '../../components/pagination'
    import toastr from '../../../plugins/toastr'
    import visibleFrame from '../../components/visibleFrame'
    import vue from 'vue'

    vue.directive('can', canDirective)
    vue.directive('cannot', cannotDirective)
    vue.filter('fromNow', fromNow)

    export default {
        data () {
            const queries = this.$store.state.user.user.queries
            return {
                userIdDeleting: false,
                roleIdDeleting: false,
                page: queries.page <= 1 ? 1 : queries.page,
                perpage: queries.perpage <= 1 ? 10 : queries.perpage,
                sort: 'id',
                order: 'desc',
                keyword: ''
            }
        },

        components: {
            appButton: button,
            avatar,
            breadcrumb,
            buttonToggleColumnLeft,
            inputSearch,
            pageControl,
            pagination,
            visibleFrame,
            layout
        },

        computed: {
            users () {
                return this['user/user/collections']
            },

            roles () {
                return this['user/role/collections']
            },

            queries () {
                return {
                    page: this.page,
                    perpage: this.perpage,
                    sort: this.sort,
                    order_by: {
                        [this.sort]: this.order
                    },
                    with: ['role'],
                    keyword: this.keyword
                }
            },

            visible () {
                return !this.isEmpty
            },

            isEmpty () {
                return this['user/user/isEmpty'] && this['user/role/isEmpty']
            },

            ...mapState(['pageTitle']),
            ...mapGetters(['user/user/collections', 'user/user/isEmpty', 'user/role/isEmpty', 'user/role/collections']),
        },

        created () {
            this.fetchData(['users', 'roles'])
        },

        mounted () {
            this.setPageTitle('Users')
            this['menu/setActive']('user')

            this.setBreadcrumb([
                {route: { name: 'home' }, name: 'Home'},
                {route: { name: 'user.index' }, name: 'Users'}
            ])
        },

        methods: {
            setUserIdDeleting (userId) {
                this.userIdDeleting = userId
            },

            setRoleIdDeleting (roleId) {
                this.roleIdDeleting = roleId
            },

            inputKeyword:_.debounce(function (keyword) {
                this.keyword = keyword
            }, 500),

            clearKeyword () {
                this.keyword = ''
            },


            fetchData (include) {
                this.setAppLoading(true)
                const requests = []

                if (include.indexOf('users') !== -1) {
                    requests.push(this['user/user/paginate']({ query: this.queries }))
                }

                if (include.indexOf('roles')  !== -1) {
                    requests.push(this['user/role/paginate']({ query: { perpage: 999, with: ['total_user'] } }))
                }

                $.when.apply($, requests).done(() => {
                    this.setAppLoading(false)
                })
            },

            sortClass (field) {
                if (this.sort != field) {
                    return null
                }

                if (this.order == 'desc') {
                    return 'asc'
                }

                return 'desc'
            },

            toPage (page) {
                this.page = page
            },

            rerort (sort) {
                this.sort = sort
                if (this.order == 'desc') {
                    this.order = 'asc'
                } else {
                    this.order = 'desc'
                }
            },

            deleteUser (userId) {
                if (!confirm('Are you sure?')) {
                    return false
                }

                this.setAppLoading(true)
                this.setUserIdDeleting(userId)
                this['user/user/delete']({ userId: userId }).done(res => {
                    toastr.success(res.message)
                    this.fetchData(['users'])
                }).fail(xhr => {
                    let res = xhr.responseJSON
                    if (res.errors) {
                        for (var error in res.errors) break
                        toastr.error(res.errors[error])
                    } else if (res.message) {
                        toastr.error(res.message)
                    }
                }).always(() => {
                    this.setUserIdDeleting(false)
                    this.setAppLoading(false)
                })
            },

            deleteRole (roleId) {
                if (!confirm('Are you sure?')) {
                    return false
                }

                this.setAppLoading(true)
                this.setRoleIdDeleting(roleId)

                this['user/role/delete']({ roleId: roleId }).done(res => {
                    toastr.success(res.message)
                    this.fetchData(['roles'])
                }).fail(xhr => {
                    let res = xhr.responseJSON
                    if (res.errors) {
                        for (var error in res.errors) break;
                        toastr.error(res.errors[error])
                    } else if (res.message) {
                        toastr.error(res.message)
                    }
                }).always(() => {
                    this.setAppLoading(false)
                    this.setRoleIdDeleting(false)
                })
            },

            // imageUrl,
            userAvatar (user) {
                if (user.avatar) {
                    return user.avatar
                }

                return 'storage/no-avatar.png'
            },

            ...mapActions(['setAppLoading', 'setBreadcrumb', 'setPageTitle', 'menu/setActive']),
            ...mapActions(['user/user/paginate', 'user/user/delete', 'user/role/paginate', 'user/role/delete'])
        },

        watch: {
            queries () {
                this.fetchData(['users'])
            }
        },
    }
</script>