<template>
    <div class="label-arrow arrow-primary">
        <h4 class="arrow-title"><a href="">{{ title }}</a></h4>
        <small class="arrow-description">{{ description }}</small>
    </div>
</template>
<script>
    export default {
        props: ['title', 'description']
    }
</script>