<template>
    <img class="img-circle" :src="avatarUrl" :id="id" :title="fullname" :data-original-title="fullname" />
</template>
<script>
    import { imageUrl } from '../../helpers/url'
    import { strRandom } from '../../helpers/string'

    export default {
        props: ['url', 'height', 'width', 'fullname'],
        computed: {
            avatarUrl () {
                return imageUrl(this.url, ['30', '30'])
            },

            id () {
                return strRandom()
            },
        },

        mounted () {
            $('#' + this.id).tooltip()
        },

        methods: {
            imageUrl,
        },
    }
</script>