<template>
    <div class="btn-group">
        <button data-toggle="dropdown" :class="btnClasses">
            <template v-if="faIcon">
                <i :class="faIcon"></i>
            </template>
            <template v-if="text">
                <span class="text">{{ text }}</span>
            </template>
            <template v-if="caret">
                <span class="caret"></span>
            </template>
        </button>
        <ul class="dropdown-menu">
            <slot></slot>
        </ul>
    </div>
</template>
<script>
    export default {
        props: ['text', 'icon', 'caret', 'status', 'size', 'loading'],

        computed: {
            btnClasses () {
                let classes = ['btn', 'dropdown-toggle']

                if (!this.status) {
                    classes.push('btn-default')
                } else {
                    classes.push('btn-' + this.status)
                }

                if (this.size) {
                    classes.push('btn-' + this.size)
                }

                if (this.loading) {
                    classes.push('disabled')
                }

                return classes.join(' ')
            },

            faIcon () {
                const classes = []
                if (this.icon) {
                    classes.push('fa')
                    classes.push('fa-' + this.icon)
                }

                return classes
            }
        }
    }
</script>