<template>
    <button :type="type" :disabled="loading || disabled" :class="btnClasses" @click="eventClick($event)" @mousedown="eventMousedown($event)"><span v-html="faIcon"></span> <span class="hidden-xs"><slot></slot></span></button>
</template>
<script>
    export default {
        props: {
            icon: {},
            status: {},
            size: {},
            loading: {},
            disabled: {},
            type: {
                default: 'button'
            }
        },
        computed: {
            btnClasses () {
                let classes = ['btn']

                if (!this.status) {
                    classes.push('btn-default')
                } else {
                    classes.push('btn-' + this.status)
                }

                if (this.size) {
                    classes.push('btn-' + this.size)
                }

                if (this.loading || this.disabled) {
                    classes.push('disabled')
                }

                return classes.join(' ')
            },

            faIcon () {
                let classes = []
                classes.push('fa')
                
                if (this.loading) {
                    classes.push('fa-pulse')
                    classes.push('fa-spinner')
                } else if (this.icon) {
                    classes.push('fa-'+ this.icon)
                }
                return '<i class="'+ classes.join(' ') +'"></i>'
            }
        },

        methods: {
            eventClick (event) {
                this.$emit('click', event)
            },

            eventMousedown (event) {
                this.$emit('mousedown', event)  
            }
        }
    }
</script>