<template>
    <div class="text-center">
        <div :id="element"></div>
    </div>
</template>
<style lang="css" src="morris.js/morris.css"></style>
<script>
    import Raphael from 'raphael/raphael'
    import { strRandom } from '../../helpers/string'
    global.Raphael = Raphael

    export default {
        props:['id', 'data'],
        
        created () {
            require('morris.js/morris')
        },

        computed: {
            element () {
                if (!this.id) {
                    return 'chart-' + strRandom()
                }
                return id
            }
        },

        mounted () {
            const vm = this
            $(function () {
                if ($('#' + vm.element).length) {
                    Morris.Donut({
                        element: vm.element,
                        data: vm.data
                    })
                }
            })
        }
    }
</script>