<template>
    <div class="text-center">
        <div :id="element"></div>
    </div>
</template>
<style lang="css" src="morris.js/morris.css"></style>
<script>
    import Raphael from 'raphael/raphael'
    import { strRandom } from '../../helpers/string'
    global.Raphael = Raphael

    export default {
        props:['id', 'data'],
        
        created () {
            require('morris.js/morris')
        },

        computed: {
            element () {
                if (!this.id) {
                    return 'chart-' + strRandom()
                }
                return id
            }
        },

        mounted () {
            const vm = this
            $(function () {
                if ($('#' + vm.element).length) {
                    Morris.Line({
                        element: vm.element,
                        xkey: 'year',
                        ykeys: ['value'],
                        labels: ['Value'],
                        data: [
                            {year: '2008', value: 20},
                            {year: '2009', value: 10},
                            {year: '2010', value: 5},
                            {year: '2011', value: 5},
                            {year: '2012', value: 20}
                        ]
                    })
                }
            })
        }
    }
</script>