<template>
    <div class="data-box">
        <h5 class="name">{{ name }}</h5>
        <span class="revenue">{{ revenue }}</span>
    </div>
</template>
<script>
    export default {
        props: ['name', 'revenue']
    }
</script>
<style scoped>
    .data-box {
        margin-bottom: 15px;
        background: #fafcfc;
        padding: 15px 5px;
        cursor: pointer;
        border: 1px solid #e6ebed;
    }

    .data-box:hover {
        background: #eaf1f4;
    }
    
    .data-box .name {
        text-align: center;
        font-size: 11px;
        text-transform: uppercase;
        color: #96a7b6;
        margin: 0;
    }

    .data-box .revenue {
        display: block;
        text-align: center;
        color: #333;
        font-size: 24px;
        padding: 9px 0;
        font-weight: bold;
    }
</style>