<template>
    <div :class="statusClasses">
        <div class="input-group">
            <span class="input-group-btn">
                <app-button @click="incrementEvent" icon="plus" status="primary" :size="size"></app-button>
            </span>
            <input
                type="number"
                :id="id"
                :class="inputClasses"
                :autofocus="autofocus"
                :name="name"
                :value="value"
                :placeholder="placeholder"
                :disabled="disabled"
                :regex="regex"
                @input="inputEvent($event)"
                @focus="focusEvent($event)"
                @blur="blurEvent($event)"
                @keyup="keyupEvent($event)"
                @keydown="keydownEvent($event)"
            />
            <span class="input-group-btn">
                <app-button @click="decrementEvent" icon="minus" status="danger" :size="size"></app-button>
            </span>
        </div>
        <template v-if="hasMessage">
            <p class="help-block">{{ message }}</p>
        </template>
    </div>
</template>
<script>
    import button from './button'

    export default {
        components: {
            appButton: button
        },

        props: {
            value: {
            },
            placeholder: {
                type: String
            },
            size: {
                type: String
            },
            index: {
                default: ''
            },
            message: {
                type: String
            },
            status: {
                type: String
            },
            name: {
                type: String
            },
            disabled: {
                type: String
            },
            regex: {
                type: String
            },
            autofocus: {
                type: String
            },
            id: {
                type: String
            }
        },

        computed: {
            statusClasses () {
                if (!this.status || this.status === 'normal') {
                    return ''
                } else if (this.status === 'error') {
                    return 'has-error'
                }
            },
            
            inputClasses () {
                const classes = ['form-control']

                if (this.size) {
                    classes.push('input-' + this.size)
                }

                return classes
            },

            hasIndex () {
                if (this.index.toString().length) {
                    return true
                }

                return false
            },

            hasMessage () {
                if (this.message) {
                    return true
                }

                return false
            },

        },

        methods: {
            incrementEvent () {
                if (this.hasIndex) {
                    this.$emit('increment', {
                        index: this.index,
                        value: parseInt(this.value) + 1
                    })
                } else {
                    this.$emit('increment', parseInt(this.value) + 1)
                }
            },

            decrementEvent () {
                if (this.hasIndex) {
                    this.$emit('decrement', {
                        index: this.index,
                        value: parseInt(this.value) - 1
                    })
                } else {
                    this.$emit('decrement', parseInt(this.value) - 1)
                }
            },

            inputEvent(e) {
                const value = e.target.value
                if (this.hasIndex) {
                    this.$emit('input', {
                        index: this.index,
                        value: value
                    })
                } else {
                    this.$emit('input', value)
                }
            },

            keyupEvent(e) {
                this.$emit('keyup', e)
            },

            keydownEvent(e) {
                this.$emit('keydown', e)
            },

            focusEvent (e) {
                this.$emit('focus', e)
            },

            blurEvent (e) {
                this.$emit('blur', e)
            },
        }
    }
</script>
