<template>
    <div :class="statusClasses">
        <template v-if="hasIcon">
            <div class="input-group">
                <span class="input-group-addon"><i :class="faIcon"></i></span>
                <textarea :name="name" @input="updateValue($event)" :placeholder="placeholder" class="form-control">{{ value }}</textarea>
            </div>
        </template>
        <template v-else>
            <textarea :name="name" @input="updateValue($event)" :placeholder="placeholder" class="form-control">{{ value }}</textarea>
        </template>
        <template v-if="hasMessage">
            <p class="help-block">{{ message }}</p>
        </template>
    </div>
</template>

<script>
    export default {
        props: ['placeholder', 'name', 'status', 'message', 'icon', 'value'],

        computed: {
            statusClasses () {
                if (!this.status || this.status === 'normal') {
                    return ''
                } else if (this.status === 'error') {
                    return 'has-error'
                }
            },

            hasMessage () {
                if (this.message) {
                    return true
                }

                return false
            },

            hasIcon () {
                if (this.icon) {
                    return true
                }

                return false
            },

            faIcon () {
                return 'fa fa-' + this.icon
            }
        },

        methods: {
            updateValue(e) {
                this.$emit('input', e.target.value)
            }
        }
    }
</script>