<template>
    <div :class="statusClasses">
        <div class="input-group" style="max-width: 360px;">
            <input readonly :class="inputClasses" :value="from" :id="fromId" :placeholder="fromPlaceholder"  />
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
            <input readonly :class="inputClasses" :value="to" :id="toId" :placeholder="toPlaceholder" />
        </div>
        <template v-if="hasMessage">
            <p class="help-block">{{ message }}</p>
        </template>
    </div>
</template>
<style lang="css" src="../../assets/css/jquery-ui/themes/base/datepicker.css"></style>
<script>
    import 'jquery-ui/ui/widgets/datepicker'
    import { strRandom } from '../../helpers/string'

    export default {
        props: {
            dateFormat: {
                type: String,
                default: 'dd-mm-yy'
            },
            
            from: {
                type: String,
                default: '',
            },

            to: {
                type: String,
                default: '',
            },

            fromStatus: {
                type: String,
                default: '',
            },

            toStatus: {
                type: String,
                default: '',
            },

            fromMessage: {
                type: String,
                default: '',
            },


            toMessage: {
                type: String,
                default: '',
            },

            size: {
                type: String,
                default: '',
            },

            fromPlaceholder: {
                type: String,
                default: 'From'
            },

            toPlaceholder: {
                type: String,
                default: 'To'
            },

            options: {
                type: Object,
                default () {
                    return {}
                }
            }
        },

        computed: {
            fromId () {
                return 'from' + strRandom()
            },

            toId () {
                return 'to' + strRandom()
            },

            hasMessage () {
                return this.fromMessage || this.toMessage
            },

            message () {
                if (this.fromMessage) {
                    return this.fromMessage
                } else if (this.toMessage) {
                    return this.toMessage
                }

                return null
            },

            statusClasses () {
                const classes = []
                if (this.toStatus == 'error' || this.fromStatus == 'error') {
                    classes.push('has-error')
                }

                return classes
            },

            inputClasses () {
                const classes = ['form-control']

                if (this.size) {
                    classes.push('input-' + this.size)
                }

                return classes
            },

            datePickerOptions () {
                const vm = this
                return {
                    defaultDate: '+1w',
                    changeMonth: true,
                    dateFormat: this.dateFormat,
                    numberOfMonths: 2,
                    beforeShow: this.beforeShow,
                    ...[this.options],
                }
            },
        },

        mounted () {
            const vm = this
            $(() => {
                let from = $('#' + this.fromId)
                    .datepicker(this.datePickerOptions)
                    .on('change', function () {
                        to.datepicker('option', 'minDate', vm.getDate(this))
                    })

                let to = $('#' + this.toId)
                    .datepicker(this.datePickerOptions)
                    .on('change', function () {
                        from.datepicker('option', 'maxDate', vm.getDate(this))
                    })

                $('#' + this.fromId).on('change', e => {
                    this.$emit('selectFrom', e.target.value)
                })

                $('#' + this.toId).on('change', e => {
                    this.$emit('selectTo', e.target.value)
                })
            })
        },

        methods: {
            getDate (element) {
                return $.datepicker.parseDate(this.dateFormat, element.value)
            },

            beforeShow (input, inst) {
                let $input = $(input)
                let top = $input.outerHeight() + $input.offset().top + 11
                setTimeout(() => {
                    inst.dpDiv.css({ top: top + 'px' })
                }, 0)
            }
        }
    }
</script>