<template>
    <div :class="statusClasses">
        <template v-if="hasIcon">
            <div class="input-group">
                <span class="input-group-addon"><i :class="faIcon"></i></span>
                <input
                    :id="id"
                    :class="inputClasses"
                    :autofocus="autofocus"
                    :type="type"
                    :name="name"
                    :value="value"
                    :placeholder="placeholder"
                    :disabled="disabled"
                    :regex="regex"
                    @input="inputEvent($event)"
                    @focus="focusEvent($event)"
                    @blur="blurEvent($event)"
                    @keyup="keyupEvent($event)"
                    @keydown="keydownEvent($event)"
                />
                <slot name="after-addon"></slot>
            </div>
        </template>
        <template v-else>
            <input
                :id="id"
                :class="inputClasses"
                :autofocus="autofocus"
                :type="type"
                :name="name"
                :value="value"
                :placeholder="placeholder"
                :disabled="disabled"
                :regex="regex"
                @input="inputEvent($event)"
                @focus="focusEvent($event)"
                @blur="blurEvent($event)"
                @keyup="keyupEvent($event)"
                @keydown="keydownEvent($event)"
            />
        </template>
        <template v-if="hasMessage">
            <p class="help-block">{{ message }}</p>
        </template>
    </div>
</template>

<script>
    export default {
        props: ['placeholder', 'size', 'value', 'name', 'status', 'message', 'icon', 'type', 'autofocus', 'autoselect', 'disabled', 'regex', 'id'],

        computed: {
            statusClasses () {
                if (!this.status || this.status === 'normal') {
                    return ''
                } else if (this.status === 'error') {
                    return 'has-error'
                }
            },

            hasMessage () {
                if (this.message) {
                    return true
                }

                return false
            },

            hasIcon () {
                if (this.icon) {
                    return true
                }

                return false
            },

            faIcon () {
                return 'fa fa-' + this.icon
            },

            inputClasses () {
                const classes = ['form-control']

                if (this.size) {
                    classes.push('input-' + this.size)
                }

                return classes
            }
        },

        methods: {
            inputEvent(e) {
                const value = e.target.value
                this.$emit('input', value)
            },

            keyupEvent(e) {
                this.$emit('keyup', e)
            },

            keydownEvent(e) {
                this.$emit('keydown', e)
            },

            focusEvent (e) {
                this.$emit('focus', e)
            },

            blurEvent (e) {
                this.$emit('blur', e)
            },
        }
    }
</script>