<template>
    <input-base type="email"
        :placeholder="placeholder"
        :value="value"
        :name="name"
        :status="status"
        :icon="icon"
        @input="eventInput"
        :message="message">
    </input-base>
</template>
<script>
    import inputBase from './inputBase'

    export default {
        props: ['placeholder', 'value', 'name', 'status', 'message', 'icon'],

        components: { inputBase },

        methods: {
            eventInput(value) {
                this.$emit('input', value)
            }
        }
    }
</script>