<template>
    <div class="search hidden-xs" :style="{ minWidth: width }">
        <div class="input-group" :style="{ maxWidth: width }">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" :value="keyword" @input="inputEvent($event)" class="form-control" :placeholder="placeholder" />
            <span class="input-group-addon" role="button" @click="clearEvent">
                <i v-if="showIconClose" class="fa fa-times"></i>
            </span>
        </div>
    </div>
</template>
<script>
    export default {
        props: {
            keyword: {
                type: String
            },
            placeholder: {
                type: String
            },
            width: {
                type: String,
                default: '300px'
            }
        },

        computed: {
            showIconClose () {
                if (this.keyword) {
                    return this.keyword.length != 0
                }
                
                return false
            }
        },

        methods: {
            inputEvent (e) {
                const keyword = e.target.value
                this.$emit('input', keyword)
            },

            clearEvent () {
                const vm = this
                this.$emit('clear')
                $(function () {
                    $(vm.$el).find('input[type="text"]').focus()
                })
            }
        }
    }
</script>
<style scoped>
    .search {
        display: inline-block;
        vertical-align: middle;
    }

    .search input {
        background: #fafafa;
        border-left-width: 0;
        border-right-width: 0;
    }

    .search input:hover,
    .search input:focus {
        box-shadow: none;
        border-color: #eee;
        border-width: 1px;
        border-right-width: 0;
        border-left-width: 0;
    }

    .search .input-group-addon {
        background: #fafafa;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    .search .input-group-addon[role="button"] {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        color: #555;
    }
</style>