<template>
    <div :class="classes" :id="id">
        <slot></slot>
    </div>
</template>

<style scoped>
    .ui-state-highlight {
        border: 1px dashed #333;
        background: #f5f5f5;
        color: #777620;
        height: 46px !important;
    }

    .ui-sortable-helper {
        box-shadow: 10px 10px 15px #cbcbcb;
    }
</style>

<script>
    import { strRandom } from '../../helpers/string'
    import sortable from 'jquery-ui/ui/widgets/sortable'
    import disableSelection from 'jquery-ui/ui/disable-selection'

    export default {
        props: ['className'],
        computed: {
            classes() {
                return this.className
            },

            id () {
                return strRandom()
            },

            jqel () {
                return $('#' + this.id)
            }
        },

        mounted () {
            const vm = this
            const fixHelperModified = (e, tr) => {
                let $originals = tr.children();
                let $helper = tr.clone();

                $helper.children().each((index, item) => {
                    $(item).width($originals.eq(index).width())
                });

                return $helper;
            };

            this.jqel.sortable({
                items: '.sortable',
                placeholder: 'ui-state-highlight',
                helper: fixHelperModified,
                stop (e, ui) {
                    vm.$emit('stop', { event: e, ui: ui })
                },
            }).disableSelection()
        }
    }
</script>