<template>
    <div v-if="show" class="pagination-group">
        <div :style="{ display: 'flex', 'justify-content': 'center' }">
            <div class="total">{{ total }} items</div>
            <template v-if="total > 0">
                <ul class="pagination">
                    <template v-if="current > 1">
                        <li><a @click.prevent="firstEvent" href="#first">First</a></li>
                        <li><a @click.prevent="prevEvent" href="#prev">Prev</a></li>
                    </template>
                    <li v-for="i in (min, max)" :key="i" :class="{ active: current === i }">
                        <a @click.prevent="changeEvent(i)" href="#change">{{ i }}</a>
                    </li>
                    <template v-if="current < totalPage">
                        <li><a @click.prevent="nextEvent" href="#next">Next</a></li>
                        <li><a @click.prevent="lastEvent" href="#last">Last</a></li>
                    </template>
                </ul>
                <div class="perpage">
                    <label> Perpage</label>
                    <select @change="perpageEvent($event)" name="" class="form-control">
                        <option v-for="per in perpageOptions" :value="per" :key="per">{{ per }}</option>
                    </select>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                range: 9
            }
        },
        
        props: ['total', 'current', 'perpage'],

        computed: {
            show() {
                return true
            },

            perpageOptions () {
                return [10, 20, 50]
            },

            totalPage () {
                return Math.ceil(this.total/this.perpage)
            },

            ranges () {
                var start = 0;
                var min = 0;
                var max = 0;

                if (this.perpage < this.total) {
                    start = (this.current - 1) * this.perpage
                    var middle = Math.ceil(this.range/2)
                    if (this.totalPage < this.range) {
                        min = 1
                        max = this.totalPage
                    } else {
                        min = this.current - middle + 1
                        max = this.current + middle - 1
                        if (min < 1) {
                            min = 1
                            max = this.range
                        } else if (max > this.totalPage) {
                            max = this.totalPage
                            min = this.totalPage - this.range + 1
                        }
                    }
                }

                return {min: min, max: max}
            },

            min () {
                return this.ranges.min
            },

            max () {
                return this.ranges.max
            }
        },

        methods: {
            nextEvent () {
                this.$emit('next', this.current + 1)
            },

            prevEvent () {
                this.$emit('first', this.current - 1)
            },

            firstEvent () {
                this.$emit('first', 1)
            },

            lastEvent () {
                this.$emit('last', this.totalPage)
            },

            changeEvent (page) {
                this.$emit('change', page)
            },

            perpageEvent (e) {
                const perpage = e.target.value
                this.$emit('perpage', perpage)
            }
        }
    }
</script>