<template>
    <div :class="statusClasses">
        <template v-if="hasIcon">
            <div class="input-group">
                <span class="input-group-addon"><i :class="faIcon"></i></span>
                <select
                    :class="inputClasses"
                    :name="name"
                    :disabled="disabled"
                    @change="changeEvent($event)">
                    <slot></slot>
                </select>
            </div>
        </template>
        <template v-else>
            <select
                    :class="inputClasses"
                    :name="name"
                    :disabled="disabled"
                    @change="changeEvent($event)">
                    <slot></slot>
                </select>
        </template>
        <template v-if="hasMessage">
            <p class="help-block">{{ message }}</p>
        </template>
    </div>
</template>

<script>
    export default {
        props: ['size', 'name', 'status', 'message', 'icon','disabled'],

        computed: {
            statusClasses () {
                if (!this.status || this.status === 'normal') {
                    return ''
                } else if (this.status === 'error') {
                    return 'has-error'
                }
            },

            hasMessage () {
                if (this.message) {
                    return true
                }

                return false
            },

            hasIcon () {
                if (this.icon) {
                    return true
                }

                return false
            },

            faIcon () {
                return 'fa fa-' + this.icon
            },

            inputClasses () {
                const classes = ['form-control']

                if (this.size) {
                    classes.push('input-' + this.size)
                }

                return classes
            }
        },

        methods: {
            changeEvent(e) {
                this.$emit('change', e.target.value)
            },
        }
    }
</script>