<template>
    <div class="tile tile-primary">
        <div class="tile-heading">{{ title }}</div>
        <div class="tile-body"><i :class="faIcon"></i>
            <h2 class="pull-right">{{ number }}</h2>
        </div>
        <div class="tile-footer">
            <router-link :to="url">View more...</router-link>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['title', 'icon', 'number', 'url'],
        computed: {
            faIcon () {
                let classes = ['fa'];
                if (this.icon) {
                    classes.push('fa-' + this.icon)
                }
                return classes
            }
        }
    }
</script>