<template>
    <div style="position: relative;">
        <div :class="classes">
            <slot></slot>
        </div>
        <template v-if="!visible && spinner">
            <spinner style="position: absolute; top: calc(50% - 50px); left: calc(50% - 30px)"></spinner>
        </template>
    </div>
</template>

<script>
    import spinner from './spinner'

    export default {
        components: { spinner },
        
        props: ['visible', 'effect', 'spinner'],

        computed: {
            classes () {
                let classes = []
                const effect = this.effect ? this.effect : 'fadeIn'
                if (this.visible === true) {
                    classes.push(effect)
                    classes.push('animated')
                    classes.push('visible-frame-visible')
                } else {
                    classes.push('visible-frame-hidden')
                }

                return classes
            }
        }
    }
</script>

<style>
    .fadeIn {
        -webkit-animation-duration: .3s;
        animation-duration: .3s;
    }

    .visible-frame-hidden {
        opacity: 0;
        visibility: hidden;
    }

    .visible-frame-visible {
        opacity: 1;
        visibility: visible;
    }
</style>