::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(193, 193, 193, 0.3);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(193, 193, 193, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(193, 193, 193, 0.5);
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    overflow-y: scroll;

    &.has-notify {
        #page-header {
            top: 24px;
        }

        #content {
            padding-top: 90px;
        }
    }
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(0,0,0,0.54) !important;
}

label {
    font-weight: normal;
}

a {
    &:hover, &:focus {
        text-decoration: none;
    }
}

#container {
    min-height: 100%;
    width: 100%;
    position: relative;
}

#content {
    transition: all .3s;
    padding-top: 66px;

    &:after {
        display: block;
        content: " ";
        clear: both;
    }
}

#column-left {
    min-height: 100%;
    position: fixed;
    left: -100%;
    top: 0;
    background: #fff;
    z-index: ($zindex-navbar-fixed + 2);
    transition: all .3s;
    background: #fff;
    width: $column-left-width;

    .header {
        height: 64px;
        padding: 20px;
        border-bottom: 1px solid #d9d9d9;

        .close-icon {
            float: right;

            i {
                vertical-align: middle !important;
            }
        }

        img.logo {
            max-width: 88px;
            opacity: .5;
        }
    }
}

#column-left-under {
    display: none;
    transition: all .3s;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: ($zindex-navbar-fixed + 1);
    background: rgba(0, 0, 0, 0.36);
    top: 0;
}

#header {
    min-height: 0px;
    background: #fafafa;
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 0;
    padding: 16px;
    height: $header-bar-height;
    overflow: hidden;
}

#footer {
    height: 100px;
    text-align: center;
}

#button-menu {
    padding: 15px 20px;
    line-height: 25px;
    float: left;
    display: inline-block;
    cursor: pointer;
    color: #6D6D6D;
    i {
        vertical-align: middle !important;
    }
}

#menu {
    padding: 10px 0;
    
    > .menu-group {
        &:first-child,
        &:last-child {
            border-bottom-width: 0;
        }

        > ul.menu-body {
            padding: 0;
            margin: 0;
            list-style: none;

            > li {
                position: relative;

                > a {
                    font-size: 15px;
                    padding: 12px 20px;
                    text-decoration: none;
                    display: block;
                    cursor: pointer;
                    white-space: nowrap;
                    max-width: 100%;
                    transition: all .3s;

                    &:hover {
                        background-color: #e7e7e7;
                    }

                    > span {
                        margin-left: 15px;
                        font-weight: 500;
                        color: rgba(0,0,0,0.87)
                    }

                    > i {
                        vertical-align: middle !important; 
                        color: #757575;
                    }
                }

                &.active {
                    > a {
                        background-color: #e7e7e7;
                        
                        > i {
                            color: $brand-primary;
                        }

                        > span {
                            color: $brand-primary;
                        }
                    }
                }
            }
        }
    }
}

#column-left.active {
    left: 0;

    #menu {
        .menu-group {
            ul.menu-body {
                > li {
                    white-space: nowrap;
                    word-wrap: normal;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    + #column-left-under {
        display: block;
    }
}

#page-header {
    background: #fff;
    position: fixed;
    z-index: $zindex-navbar-fixed;
    width: 100%;
    top: 0;
    right: 0;
    transition: all .3s;
    background: #fff;
    -webkit-box-shadow: 0 1px 8px rgba(0,0,0,.3);
    box-shadow: 0 1px 8px rgba(0,0,0,.3);
    
    .header-row {
        height: $header-bar-height;
        overflow: hidden;

        .brand {
            display: inline-block;
            padding: 16px 0 !important;

            .logo {
                display: inline-block;
                max-width: 88px;
                opacity: .5;
            }
        
            .page-name {
               display: none;
            }
        }
    }

    .nav-tabs {
        text-transform: uppercase;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        border-width: 0;

        li {
            text-transform: uppercase;
            display: inline-block;
            margin-bottom: 0;
            float: none;

            &.active {
                text-transform: uppercase;
                > a {
                    color: #333;
                    border-bottom: 2px solid #4285f4;
                    text-transform: uppercase;
                }
            }

            > a {
                border-width: 0;
                background: none;
                text-transform: uppercase;
                color: rgba(0,0,0,0.54);
                font-weight: 500;
                font-size: 15px;
                padding: 12px 20px;
                margin: 0;
            }
        }
    }
}

#page-footer {
    vertical-align: middle;
    padding: 10px 0;
    background: #fff;
    border-top: 2px solid #e5e5e5;
    max-width: inherit;
    width: calc(100% - #{$column-left-width});
    position: fixed;
    z-index: $zindex-navbar-fixed;
    bottom: 0;
}

span {
    &.hidden-xs, &.hidden-sm, &.hidden-md, &.hidden-lg {
        display: inline;
    }
}

#search {
    transition: all .3s;
    &:not(.active) {
        float: right;
        padding: 16px 10px;

        .group {
            .addon {
                &.close-icon {
                    display: none;
                }
            }

            input {
                display: none;
            }
        }
    }

    &.active {
        position: absolute;
        top: 0;
        width: 100%;
        height: 56px;
        background: #fff;

        .group {
            .addon {
                display: inline-block;
                float: left;
                padding: 16px;
            }

            input {
                display: inline-block;
                width: calc(100% - 112px);
                height: 56px;
                border-style: solid;
                border-width: 0;
                outline: 0;
                box-shadow: none;
                float: left;
                font-size: 17px;
                padding: 0 16px;
                text-align: center;
            }

            &:after {
                content: " ";
                display: block;
                clear: both;
            }
        }
    }

    .group {
        .addon {
            font-weight: 500;

            i {
                vertical-align: middle !important;
                color: rgba(0,0,0,0.38);
            }
        }
    }
}

#account {
    display: inline-block;
    float: right;
    > a {
        display: inline-block;
        padding: 13px 10px;
        
        > img {
            border-radius: 50%;
        }
    }
}

// fix animated css
.animated {
    -webkit-animation-fill-mode: none !important;
    animation-fill-mode: none !important;
}
