<template>
    <div id="account">
        <a href="">
            <img :src="avatar" />
        </a>
    </div>
</template>

<script>
    import { imageUrl } from '../../helpers/url'

    export default {
        computed: {
            avatar () {
                return imageUrl('storage/no-avatar_30x30.jpg')
            }
        }
    }
</script>