<template>
    <div class="brand"><img :src="logo" class="logo" /><div class="page-name">Home page</div></div>
</template>
<script>
    import { imageUrl } from '../../helpers/url'
    export default {
        computed: {
            logo () {
                return imageUrl('storage/logo.png')
            }
        }
    }
</script>