<template>
    <nav id="column-left" :class="{active: activeColumnLeft}">
        <div class="header">
            <div class="close-icon" role="button" @click="togglecolumnLeft">
                <i class="material-icons">keyboard_arrow_left</i>
            </div>
            <img :src="logo" class="logo" />
        </div>
        <div id="menu">
            <div class="menu-group" id="anonymus">
                <ul class="menu-body">
                    <li v-for="menu in menus" :class="{ active: menuActive == menu.name }">
                        <a data-toggle="tooltip" data-placement="right" href="" @click.prevent="pushRoute({ name: menu.route })" :title="menu.label">
                            <i class="material-icons">{{ menu.icon }}</i>
                            <span>{{ menu.label }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>
<script>
    import { mapActions, mapState, mapGetters } from 'vuex'
    import { imageUrl } from '../../helpers/url'

    export default {
        computed: {
            logo () {
                return imageUrl('storage/logo.png')
            },

            email () {
                if (this['auth/user'].email) {
                    return this['auth/user'].email
                }
                return '...'
            },

            menus () {
                return this['menu/collections']
            },

            menuActive () {
                return this['menu/active']
            },

            ...mapState(['activeColumnLeft']),
            ...mapGetters(['menu/collections', 'menu/active', 'auth/user']),
        },

        methods: {
            logout () {
                this['auth/logout']()
                this.$router.push({ name: 'auth.login' })
            },
            
            pushRoute (route) {
                const screenWidth = $(document).width()
                if (screenWidth <= 768) {
                    this.setActiveColumnLeft(false)
                }
                this.$router.push(route)
            },

            ...mapActions(['auth/logout', 'setActiveColumnLeft', 'togglecolumnLeft'])
        }
    }
</script>