<template>
    <div id="column-left-under" @click.prevent="togglecolumnLeft"></div>
</template>

<script>
    import { mapActions } from 'vuex'

    export default {
        methods: mapActions(['togglecolumnLeft'])
    }
</script>