<template>
    <div id="page-header">
        <div class="header-row">
            <button-toggle-column-left></button-toggle-column-left>
            <brand></brand>
            <account></account>
            <search></search>
        </div>
        <slot></slot>
    </div>
</template>
<script>
    import buttonToggleColumnLeft from './buttonToggleColumnLeft'
    import search from './search'
    import brand from './brand'
    import account from './account'


    export default {
        components: {
            account,
            brand,
            buttonToggleColumnLeft,
            search
        }
    }
</script>