<template>
    <div id="search" :class="{ active: activeSearch }">
        <div class="group">
            <div class="addon search-icon" role="button" @click="activeSearch = !activeSearch">
                <i class="material-icons">{{ iconSearch }}</i>
            </div><input type="text" placeholder="Search internship" @input="inputKeyword($event)" :value="keyword" /><div role="button" class="addon close-icon" @click="clearKeyword">
                <i class="material-icons">{{ iconClose }}</i>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data () {
            return {
                keyword: '',
                activeSearch: false
            }
        },

        computed: {
            iconSearch () {
                const screenWidth = $(document).width()
                if (screenWidth <= 768) {
                    if (this.activeSearch == false) {
                        return 'search'
                    }

                    return 'arrow_back'
                }

                return 'search'
            },

            iconClose () {
                if (this.keyword.length) {
                    return 'close'
                }
                return null
            }
        },

        methods: {
            inputKeyword ($event) {
                this.keyword = $event.target.value
            },

            clearKeyword () {
                this.keyword = ''
                const vm = this
                $(function () {
                    $(vm.$el).find('input[type="text"]').focus()
                })
            }
        },

        watch: {
            activeSearch () {
                if (this.activeSearch == true) {
                    const vm = this
                    $(function () {
                        $(vm.$el).find('input[type="text"]').focus()
                    })
                }
            }
        }
    }
</script>