@import "../variables";

.media-browser {
    &.modal {
        .modal-body {
            padding: 0;
            height: calc(100vh - 241px);
            overflow-x: hidden;
            overflow-y: scroll;
            position: relative;
            
            .col-main {
                .nav-tabs {
                    background: #fcfcfc;
                    border-color: #d3dbe2;

                    > li {
                        > a {
                            border-radius: 0;
                            border-top-width: 0;
                            padding: 12px 20px;
                            border-color: #d3dbe2;
                            border-bottom-color: transparent;
                            margin-right: -1px;
                            color: #0078bd;
                        }

                        &:first-child {
                            > a {
                                border-left-width: 0;
                            }
                        }

                        &.active {
                            > a {
                                background: #fff;
                            }
                        }
                    }
                }

                .tab-content {
                    padding: 15px;
                    
                    .tool {
                        margin-bottom: 15px;

                        .input-keyword {
                            margin-bottom: 15px;
                        }
                    }

                    ul.media-list {
                        padding: 0;
                        margin: 0;
                        list-style: none;
                        margin-left: -5px;
                        margin-right: -5px;
                        margin-bottom: 15px;

                        > li {
                            display: block;
                            float: left;
                            margin: 5px;
                            width: calc(50% - 10px);
                            height: 100px;
                            border: 1px solid #d3dbe2;
                            text-align: center;
                            overflow: hidden;
                            border-radius: 2px;
                            position: relative;

                            // &.loading {
                            //     // color: #000;
                                
                            //     &:after {
                            //         // content: " ";
                            //         // display: block;
                            //     }
                            // }
                            
                            &.active,
                            &:hover {
                                border-color: $brand-primary;
                            }

                            a {
                                display: block;
                                overflow: hidden;

                                img {

                                }

                                span {
                                    display: block;
                                    position: absolute;
                                    width: 100%;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    bottom: 0;
                                    background: rgb(51, 122, 183);
                                    color: #fff;
                                    font-size: 10px;
                                    padding: 2px;
                                    height: 18px;
                                }
                            }
                        
                            &.has-error {
                                border-color: $brand-danger;
                                a {
                                    > span {
                                        background: $brand-danger;
                                    }
                                }
                            }
                        }

                        &:after {
                            content: " ";
                            clear: both;
                            display: block;
                        }
                    }
                }
            }
            
            .col-right {
                .option {
                    background: #fcfcfc;
                    border-left: 0;
                    border-right: 0;
                    padding: 15px;
                    border-top: 1px solid #d3dbe2;

                    > div {
                        visibility: hidden;
                        
                        .thumbnail {
                            float: left;
                            margin-right: 10px;
                            padding: 0;
                            
                            img {
                            }
                        }

                        .items-selected {
                            position: relative;
                            float: left;
                            margin-right: 10px;
                            min-width: 50px;
                            min-height: 60px;

                            .item-selected {
                                position: absolute;
                                background: #fcfcfc;
                            }

                            &:after {
                                content: " ";
                                display: block;
                                clear: both;
                            }
                        }

                        .items-action {
                            float: left;
                        }

                        .detail {
                            font-size: 12px;
                            float: left;
                            max-width: 100%;
                            .filename {
                                font-weight: bold;
                                color: #444;
                                word-wrap: break-word;
                            }
                            
                            .filesize {

                            }
                                
                            .filetype {

                            }

                            .date-create {

                            }
                        }

                        &.active {
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: $screen-sm) {
    .media-browser.modal .modal-body .col-main .tab-content .tool .input-keyword {
        margin-bottom: 0;
    }

    .media-browser.modal .modal-body .col-main .tab-content ul.media-list > li {
        margin: 5px;
        width: calc(20% - 10px);
    }
}
@media (min-width: $screen-md) {
    .media-browser.modal .modal-body .col-right  {
        // position: absolute;
        // right: 0;
        // height: 100%;

        .option {
            position: fixed;
            right: 0;
            height: calc(100% - 56px - 63px);
            width: 25%;
            border-top-width: 0;
            border-left: 1px solid #d3dbe2;
            overflow: scroll;
            overflow-x: hidden;
        }
    }

    .media-browser.modal .modal-body .col-main {
        padding-right: 0;
    }
}