<template>
    <layout>
        <div id="content">
            <div class="page-header">
                <div class="container">
                    <button-toggle-column-left></button-toggle-column-left>
                    <div class="pull-right">
                        <app-button @click="$router.push({ name: 'home' })" status="default" icon="reply">Back</app-button>
                    </div>
                    <h1>{{ pageTitle }}</h1>
                    <breadcrumb></breadcrumb>
                </div>
            </div>
            <div class="container">
                <form method="post" @submit.prevent>
                    <div class="panel panel-default form">
                        <div class="panel-heading"><h3 class="panel-title">Input</h3></div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Input text</label>
                                    <div class="col-sm-10">
                                        <input-text @input="inputInputText" :value="valueInputText" :regex="/^[0-9]+$/"></input-text>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Input datime</label>
                                    <div class="col-sm-10">
                                        <input-date :options="{ changeMonth: true, changeYear: true }"></input-date>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </layout>
</template>

<script>
    import { mapActions, mapState, mapGetters } from 'vuex'
    import button from '../../components/button'
    import breadcrumb from '../../common/breadcrumb'
    import buttonToggleColumnLeft from '../../common/buttonToggleColumnLeft'
    import columnLeft from '../../common/columnLeft'
    import inputDate from '../../components/inputDate'
    import inputText from '../../components/inputText'
    import layout from '../../layouts/layout'

    export default {
        components: {
            appButton: button,
            breadcrumb,
            buttonToggleColumnLeft,
            inputDate,
            inputText,
            layout
        },

        data () {
            return {
                valueInputText: '',
            }
        },
        
        computed: {
            ...mapState(['pageTitle']),
        },

        mounted () {
            this.setPageTitle('Templates')
            this['menu/setActive']('template')
            this.setBreadcrumb([
                {route: { name: 'home' }, name: 'Home'},
                {route: { name: 'template.index' }, name: 'Templates'}
            ])
        },

        methods: {
            inputInputText (val) {
                this.valueInputText = val
            },
            ...mapActions(['setBreadcrumb', 'setPageTitle', 'menu/setActive']),
        }
    }
</script>