<template>
    <layout>
        <div class="content">
            <div class="title m-b-md">
                404 Page Not Found
            </div>
            <div class="links">
                <a href="" @click.prevent="$router.push({ name: 'home' })">Back to home</a>
            </div>
        </div>
    </layout>
</template>
<script>
    import layout from '../../layouts/error'
    export default {
        components: {
            layout
        }
    }
</script>