<template>
    <layout>
        <div id="content">
            <div class="page-header">
                <div class="container">
                    <button-toggle-column-left></button-toggle-column-left>
                    <div class="pull-right">
                        <app-button status="default" icon="reply">Back</app-button>
                        <app-button @click="save" status="primary" icon="save">Save</app-button>
                    </div>
                    <h1>{{ pageTitle }}</h1>
                    <breadcrumb></breadcrumb>
                </div>
            </div>
            <div class="container">
            </div>
        </div>
    </layout>
</template>

<script>
    import { mapActions, mapState, mapGetters } from 'vuex'
    import button from '../components/button'
    import breadcrumb from '../common/breadcrumb'
    import buttonToggleColumnLeft from '../common/buttonToggleColumnLeft'
    import columnLeft from '../common/columnLeft'
    import layout from '../layouts/layout'

    export default {
        components: {
            appButton: button,
            breadcrumb,
            buttonToggleColumnLeft,
            layout
        },

        data () {
            return {
            }
        },
        
        computed: {
            ...mapState(['pageTitle']),
        },

        created () {
            this.fetchData()
        },

        mounted () {
            this.setPageTitle('...')
            this['menu/setActive']('..')
            this.setBreadcrumb([
                {url: '', name: 'Home'},
                {url: '', name: '..'}
            ])
        },

        methods: {
            fetchData () {
                
            },
            ...mapActions(['setBreadcrumb', 'setAppLoading', 'setPageTitle', 'menu/setActive']),
        }
    }
</script>