<template>
    <layout>
        <div id="content">
            <div class="page-header">
                <div class="container">
                    <button-toggle-column-left></button-toggle-column-left>
                    <h1>{{ pageTitle }}</h1>
                    <breadcrumb></breadcrumb>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <tile title="Total users" :number="totalUsers" icon="users" url="/users"></tile>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <tile title="Total roles" :number="totalRoles" icon="user-secret" url="/users"></tile>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <tile title="Total logs" :number="totalLogs" icon="sticky-note-o" url="/log-system"></tile>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <tile title="Total users online" :number="totalUsersOnline" icon="lightbulb-o" url="/users"></tile>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">        
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"> Top 10 Newest users </h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>ID</th>
                                                <th>User</th>
                                                <th>Email address</th>
                                                <th>Role</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(user, index) in topTenUsers" class="" :key="index">
                                                <td>#{{ index + 1 }}</td>
                                                <td>{{ user.id }}</td>
                                                <td>
                                                    <img style="width: 30px; height: 30px" class="img-circle" :src="userAvatar(user.avatar)" alt="" />
                                                    <span :class="{ online: user.is_online == 1, offline: user.is_online == 0 }"></span>
                                                    <router-link v-can="'user.edit'" :to="{ name: 'user.edit', params: { userId: user.id } }">
                                                        <strong>{{ user.lastname + ' ' + user.firstname }}</strong>
                                                    </router-link>
                                                    <strong v-cannot="'user.edit'">{{ user.lastname + ' ' + user.firstname }}</strong>
                                                </td>
                                                <td>{{ user.email }}</td>
                                                <td>{{ user.role_name }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3 class="panel-title">Role chart</h3></div>
                            <div class="panel-body">
                                <chart-donut :data="rolesChartData"></chart-donut>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Log system: 0 items <small>(Today is {{ today }})</small>
                            <div class="pull-right">
                                <button class="btn btn-danger btn-xs" type="button">
                                    Error <span class="badge">{{ topLogs.length }}</span>
                                </button>
                            </div>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Status</th>
                                        <th>Time</th>
                                        <th>Message</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <template v-if="topLogs.length">
                                        <tr v-for="(log, index) in topLogs" :key="index">
                                            <td>#{{ index + 1 }}</td>
                                            <td class="bg-danger">{{ log.type }}</td>
                                            <td class="text-nowrap">{{ log.time_gmt | fromNow }}</td>
                                            <td>{{ log.message }}</td>
                                        </tr>
                                    </template>
                                    <template v-else>
                                        <tr>
                                            <td colspan="4">
                                                <p>Very good. No log item today!</p>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                            <div class="text-right" v-can="'log-system.read'">
                                <router-link :to="{ name: 'log-system.index' }"><i class="fa fa-eye"></i> View all logs</router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
    import { mapActions, mapState, mapGetters } from 'vuex'
    import { can } from '../../helpers/gate'
    import canDirective from '../../directives/can'
    import cannotDirective from '../../directives/cannot'
    import { imageUrl } from '../../helpers/url'
    import { fromNow, today } from '../../helpers/datetime'
    import appButton from '../components/button'
    import breadcrumb from '../common/breadcrumb'
    import buttonToggleColumnLeft from '../common/buttonToggleColumnLeft'
    import layout from '../layouts/layout'
    import tile from '../components/tile'
    import chartDonut from '../components/chartDonut'
    import vue from 'vue'

    vue.filter('fromNow', fromNow)
    vue.directive('can', canDirective)
    vue.directive('cannot', cannotDirective)

    export default {
        components: {
            appButton,
            breadcrumb,
            buttonToggleColumnLeft,
            chartDonut,
            layout,
            tile
        },

        data () {
            return {
                visible: true
            }
        },

        computed: {
            totalUsers () {
                return this['report/dashboard'].total_users
            },
            totalRoles () {
                return this['report/dashboard'].total_roles
            },
            totalUsersOnline () {
                return this['report/dashboard'].total_users_online
            },
            totalLogs () {
                return this['report/dashboard'].total_logs
            },
            topTenUsers () {
                return this['report/dashboard'].top_ten_users
            },
            topLogs () {
                return this['report/dashboard'].top_logs
            },
            roles () {
                return this['report/dashboard'].roles
            },
            rolesChartData () {
                let data = []
                this.roles.forEach(item => data.push({
                    label: item.name,
                    value: item.total_user
                }))
                return data
            },
            today () {
                return today('MM-DD-YYYY')
            },
            ...mapState(['pageTitle']),
            ...mapGetters(['report/dashboard'])
        },

        created () {
            this.fetchData()
        },

        mounted () {
            this.setPageTitle('Dashboard')
            this.setBreadcrumb([
                {route: { name: 'home' }, name: 'Home'}
            ])
            this['menu/setActive']('home')
        },

        methods: {
            fetchData () {
                this.setAppLoading(true)
                this['report/getDashboard']().then(() => {
                    this.setAppLoading(false)
                })
            },

            userAvatar (url) {
                if (url) {
                    return imageUrl(url, [50, 50])
                }
                return imageUrl('storage/no-avatar_50x50.png')
            },

            ...mapActions(['setBreadcrumb', 'setPageTitle', 'setAppLoading', 'menu/setActive']),
            ...mapActions(['report/getDashboard'])
        }
    }
</script>