<template>
    <layout>
        <div id="content">
            <div class="page-header">
                <div class="container">
                    <button-toggle-column-left></button-toggle-column-left>
                    <div class="pull-right">
                        <app-button @click="$router.push({ name: 'lecturer.index' })" icon="reply">Cancel</app-button>
                        <app-button :loading="saving" icon="save" @click="create" status="primary">Save</app-button>
                    </div>
                    <h1>{{ pageTitle }}</h1>
                    <breadcrumb></breadcrumb>
                </div>
            </div>
            <div class="container">
                <form method="post" @submit.prevent>
                    <div class="row">
                        <div class="col-sm-3 text-right">
                            <h3>Base information</h3>
                            <small>The base lecturer's base infomation</small>
                        </div>
                        <div class="col-sm-9">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="control-label">Avatar</label>
                                        <input-image name="avatar" :value="avatar" :default-preview="defaultPreview" @reset="resetAvatar" @change="inputAvatar"></input-image>
                                    </div>
                                    <div class="form-group required">
                                        <label class="control-label">Fullname</label>
                                        <input-text placeholder="Fullname" @input="inputFullname" name="fullname" :value="fullname" :status="statusBags.fullname" :message="messageBags.fullname"></input-text>
                                    </div>
                                    <div class="form-group required">
                                        <label class="control-label">Date of birth</label>
                                        <input-date :options="{ changeMonth: true, changeYear: true }" placeholder="Birth" name="birth" :value="birth" :status="statusBags.birth" :message="messageBags.birth" @select="selectBirth"></input-date>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 text-right">
                            <h3>School information</h3>
                            <small>School infomation of lecturer</small>
                        </div>
                        <div class="col-sm-9">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="form-group required">
                                        <label class="control-label">Code</label>
                                        <input-text placeholder="Code" name="code" @input="inputCode" :value="code" :status="statusBags.code" :message="messageBags.code"></input-text>
                                    </div>
                                    <div class="form-group required">
                                        <label class="control-label">Faculty</label>
                                        <input-faculty :value="facultyCode" @input="inputFacultyCode" @select="selectFaculty" size="sm" :status="statusBags.faculty_id" :message="messageBags.faculty_id"></input-faculty>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-sm-3 text-right">
                            <h3>Contact information</h3>
                            <small>Student contact infomation</small>
                        </div>
                        <div class="col-sm-9">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <input-text placeholder="Email" @input="inputEmail" name="email" :value="email" :status="statusBags.email" :message="messageBags.email"></input-text>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Phone</label>
                                        <input-text placeholder="Phone" @input="inputPhone" name="phone" :value="phone" :status="statusBags.phone" :message="messageBags.phone"></input-text>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <app-button @click="$router.push({ name: 'lecturer.index' })" icon="reply">Cancel</app-button>
                        <app-button type="submit" :loading="saving" icon="save" @click="create" status="primary">Save</app-button>
                    </div>
                </form>
            </div>
        </div>
    </layout>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    import { imageUrl } from '../../../helpers/url'
    import { strRandom } from '../../../helpers/string'
    import button from '../../components/button'
    import select from '../../components/select'
    import breadcrumb from '../../common/breadcrumb'
    import buttonToggleColumnLeft from '../../common/buttonToggleColumnLeft'
    import config from '../../../configs'
    import inputFaculty from '../../superComponents/inputFaculty'
    import inputImage from '../../components/inputImage'
    import inputText from '../../components/inputText'
    import inputDate from '../../components/inputDate'
    import layout from '../../layouts/layout'
    import toastr from '../../../plugins/toastr'
    import validateForm from '../../../mixins/validateForm'

    export default {
        components: {
            appButton: button,
            appSelect: select,
            breadcrumb,
            buttonToggleColumnLeft,
            inputFaculty,
            inputDate,
            inputImage,
            inputText,
            layout
        },

        data () {
            return {
                code: '',
                avatar: '',
                fullname: '',
                email: '',
                phone: '',
                faculty_id: '',
                birth: '',

                facultyCode: '',
                saving: false,

                statusBags: {
                    code: 'normal',
                    fullname: 'normal',
                    email: 'normal',
                    phone: 'normal',
                    birth: 'normal',
                    facultyCode: 'normal'
                },

                messageBags: {
                    code: '',
                    fullname: '',
                    email: '',
                    phone: '',
                    birth: '',
                    facultyCode: ''
                },
            }
        },

        mixins: [validateForm],

        computed: {
            defaultPreview () {
                if (!this.avatar) {
                    return imageUrl('storage/no-avatar_100x100.png')
                } else {
                    return imageUrl(this.avatar, [100, 100])
                }
            },

            pageTitle () {
                return this.fullname ? this.fullname : 'Create lecturer'
            }
        },

        mounted () {
            this['menu/setActive']('lecturer')
            this.setBreadcrumb([
                {route: { name: 'home' }, name: 'Home'},
                {route: { name: 'lecturer.index' }, name: 'Users'}
            ])
        },

        methods: {
            setSaving (val) {
                this.saving = val
            },

            inputAvatar (val) {
                this.avatar = val
            },

            resetAvatar () {
                this.avatar = ''
            },

            inputEmail (val) {
                this.email = val
            },

            inputFullname (val) {
                this.fullname = val
            },

            selectBirth (val) {
                this.birth = val
            },

            inputPhone (val) {
                this.phone = val
            },

            inputCode (code) {
                this.code = code
            },

            inputFacultyCode (code) {
                this.facultyCode = code
            },

            selectFaculty (faculty) {
                this.facultyCode = faculty.code
                this.faculty_id = faculty.id
            },

            create () {
                this.setAppLoading(true)
                this.setSaving(true)
                this.resetMessageBags()
                this.resetStatusBags()

                this['lecturer/create']({
                    data: {
                        code: this.code,
                        avatar: this.avatar,
                        fullname: this.fullname,
                        email: this.email,
                        phone: this.phone,
                        birth: this.birth,
                        faculty_id: this.faculty_id
                    }
                }).done(res => {
                    toastr.success(res.message)
                    this.$router.push({ name: 'lecturer.edit', params: { lecturerId: res.lecturer.id } })
                }).fail(xhr => {
                    this.formFail(xhr.responseJSON)
                }).always(() => {
                    this.setAppLoading(false)
                    this.setSaving(false)
                })
            },

            ...mapActions(['setAppLoading', 'setBreadcrumb', 'setPageTitle', 'menu/setActive']),
            ...mapActions(['lecturer/create'])
        },
    }
</script>