<template>
    <layout>
        <div id="content">
            <div class="page-header">
                <div class="container">
                    <button-toggle-column-left></button-toggle-column-left>
                    <div class="pull-right">
                        <page-control :current="page" :total="lecturers.totalPage" @next="toPage" @prev="toPage"></page-control>
                        <input-search :keyword="keyword" placeholder="Enter name or code to quick search..." @clear="clearKeyword" @input="inputKeyword"></input-search>
                        <filter-lecturer @reset="resetFilter" @apply="applyFilter"></filter-lecturer>
                        <app-button v-can="'lecturer.create'" @click="$router.push({ name: 'lecturer.create' })" status="primary" icon="plus">New lecturer</app-button>
                    </div>
                    <h1>{{ pageTitle }}</h1>
                    <breadcrumb></breadcrumb>
                </div>
            </div>
            <visible-frame :visible="visible">
                <div class="container">
                    <div class="table-responsive">
                        <table id="table-lecturers" class="table table-hover master-table table-striped" style="margin-bottom: 0">
                            <thead>
                                <tr>
                                    <th style="width: 1px">#</th>
                                    <th style="width: 1px"><a href="" :class="{ desc: sort == 'id' && order == 'asc', asc: sort == 'id' && order == 'desc' }" @click.prevent="rerort('id')">ID</a></th>
                                    <th><a href="" :class="sortClass('firstname')" @click.prevent="rerort('firstname')">Lecturer</a></th>
                                    <th><a href="" :class="sortClass('code')" @click.prevent="rerort('code')">Code</a></th>
                                    <th>Faculty</th>
                                    <th><a href="" :class="sortClass('phone')" @click.prevent="rerort('phone')">Phone</a></th>
                                    <th><a href="" :class="sortClass('updated_at')" @click.prevent="rerort('updated_at')">Updated at</a></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <template v-if="isEmpty">
                                <tbody>
                                    <tr>
                                        <td colspan="8" class="text-center">
                                            Empty
                                        </td>
                                    </tr>
                                </tbody>
                                </template>
                                <template v-else>
                                    <tbody>
                                        <tr v-for="(lecturer, index) in lecturers.data">
                                            <td>#{{ page == 1 ? index + 1 :  index + 1 + perpage }}</td>
                                            <td><strong>{{ lecturer.id }}</strong></td>
                                            <td>
                                                <avatar :fullname="lecturer.lastname + ' ' + lecturer.firstname" :url="lecturerAvatar(lecturer)"></avatar>
                                                <span class="offline"></span>
                                                <router-link v-can="'lecturer.edit'" :to="{ name: 'lecturer.edit', params: { lecturerId: lecturer.id } }">
                                                    <strong>{{ lecturer.lastname + ' ' + lecturer.firstname }}</strong>
                                                </router-link>
                                                <strong v-cannot="'lecturer.edit'">{{ lecturer.lastname + ' ' + lecturer.firstname }}</strong>
                                            </td>
                                            <td>{{ lecturer.code }}</td>
                                            <td>{{ lecturer.faculty_code }}</td>
                                            <td>{{ lecturer.phone }}</td>
                                            <td>{{ lecturer.updated_at | fromNow }}</td>
                                            <td class="text-right text-nowrap">
                                                <app-button v-can="'lecturer.edit'" @click="$router.push({ name: 'lecturer.edit', params: { lecturerId: lecturer.id } })" status="primary" size="sm" icon="pencil"></app-button>
                                                <app-button :loading="lecturer.id == lecturerIdDeleting" v-can="'lecturer.delete'" @click="deleteLecturer(lecturer.id)" status="danger" size="sm" icon="trash"></app-button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </template>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center hidden-xs">
                        <pagination :current="page" :perpage="perpage" :total="lecturers.total" @next="toPage" @prev="toPage" @first="toPage" @last="toPage" @change="toPage"></pagination>
                    </div>
                </div>
            </visible-frame>
        </div>
    </layout>
</template>

<script>
    import { mapActions, mapState, mapGetters } from 'vuex'
    import { fromNow } from '../../../helpers/datetime'
    import avatar from '../../components/avatar'
    import button from '../../components/button'
    import breadcrumb from '../../common/breadcrumb'
    import buttonToggleColumnLeft from '../../common/buttonToggleColumnLeft'
    import canDirective from '../../../directives/can'
    import cannotDirective from '../../../directives/cannot'
    import columnLeft from '../../common/columnLeft'
    import config from '../../../configs'
    import filterLecturer from '../../superComponents/filterLecturer'
    import inputSearch from '../../components/inputSearch'
    import layout from '../../layouts/layout'
    import pageControl from '../../components/pageControl'
    import pagination from '../../components/pagination'
    import toastr from '../../../plugins/toastr'
    import visibleFrame from '../../components/visibleFrame'
    import vue from 'vue'

    vue.filter('fromNow', fromNow)
    vue.directive('can', canDirective)
    vue.directive('cannot', cannotDirective)

    export default {
        data () {
            const queries = this.$store.state.lecturer.queries
            return {
                lecturerIdDeleting: false,
                page: queries.page <= 1 ? 1 : queries.page,
                code: queries.code,
                facultyCode: '',
                perpage: queries.perpage <= 1 ? 10 : queries.perpage,
                sort: 'id',
                order: 'desc',
                keyword: ''
            }
        },

        components: {
            appButton: button,
            avatar,
            breadcrumb,
            buttonToggleColumnLeft,
            filterLecturer,
            inputSearch,
            pageControl,
            pagination,
            visibleFrame,
            layout
        },

        computed: {
            lecturers () {
                return this['lecturer/collections']
            },

            queries () {
                return {
                    page: this.page,
                    perpage: this.perpage,
                    sort: this.sort,
                    faculty_code: this.facultyCode,
                    code: this.code,
                    order_by: {
                        [this.sort]: this.order
                    },
                    with: ['faculty'],
                    keyword: this.keyword
                }
            },

            visible () {
                return !this.appLoading
            },

            isEmpty () {
                return this['lecturer/isEmpty']
            },

            ...mapState(['pageTitle', 'appLoading']),
            ...mapGetters(['lecturer/collections', 'lecturer/isEmpty']),
        },

        created () {
            this.fetchData(['lecturers'])
        },

        mounted () {
            this.setPageTitle('Lecturers')
            this['menu/setActive']('lecturer')

            this.setBreadcrumb([
                {route: { name: 'home' }, name: 'Home'},
                {route: { name: 'lecturer.index' }, name: 'Lecturers'}
            ])
        },

        methods: {
            lecturerAvatar (lecturer) {
                if (lecturer.avatar) {
                    return lecturer.avatar
                }

                return 'storage/no-avatar.png'
            },

            inputKeyword:_.debounce(function (keyword) {
                this.keyword = keyword
            }, 500),

            clearKeyword () {
                this.keyword = ''
            },

            setLecturerIdDeleting (lecturerId) {
                this.lecturerIdDeleting = lecturerId
            },

            fetchData () {
                this.setAppLoading(true)
                this['lecturer/paginate']({ query: this.queries }).done(() => {
                    this.setAppLoading(false)
                })
            },

            sortClass (field) {
                if (this.sort != field) {
                    return null
                }

                if (this.order == 'desc') {
                    return 'asc'
                }

                return 'desc'
            },

            toPage (page) {
                this.page = page
            },

            rerort (sort) {
                this.sort = sort
                if (this.order == 'desc') {
                    this.order = 'asc'
                } else {
                    this.order = 'desc'
                }
            },

            deleteLecturer (lecturerId) {
                if (!confirm('Are you sure?')) {
                    return false
                }

                this.setAppLoading(true)
                this.setLecturerIdDeleting(lecturerId)
                this['lecturer/delete']({ lecturerId: lecturerId }).done(res => {
                    toastr.success(res.message)
                    this.fetchData(['lecturers'])
                }).fail(xhr => {
                    let res = xhr.responseJSON
                    if (res.errors) {
                        for (var error in res.errors) break
                        toastr.error(res.errors[error])
                    } else if (res.message) {
                        toastr.error(res.message)
                    }
                }).always(() => {
                    this.setLecturerIdDeleting(false)
                    this.setAppLoading(false)
                })
            },

            applyFilter (data) {
                if (data.hasOwnProperty('lecturerCode')) {
                    this.code = data.lecturerCode
                }

                if (data.hasOwnProperty('facultyCode')) {
                    this.facultyCode = data.facultyCode
                }
            },

            resetFilter () {
                this.code = ''
                this.facultyCode = ''
            },

            ...mapActions(['setAppLoading', 'setBreadcrumb', 'setPageTitle', 'menu/setActive']),
            ...mapActions(['lecturer/paginate', 'lecturer/delete'])
        },

        watch: {
            queries () {
                this.fetchData()
            }
        },
    }
</script>