<template>
    <div class="modal fade" :id="id" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" @click.prevent="closeEvent">&times;</button>
                    <h4 class="modal-title">Sugget topic</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-success">
                        You have registed success. Do you want to sugget your topic to lectuer
                    </div>
                    <div class="form-group">
                        <label class="control-label">Topic name</label>
                        <input-text placeholder="Topic name"></input-text>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Topic description</label>
                        <input-textarea placeholder="Topic description"></input-textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" @click.prevent="closeEvent">Close</button>
                    <button type="button" class="btn btn-primary">Sugget your topic</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { strRandom } from '../../helpers/string'
    import inputText from '../components/inputText'
    import inputTextarea from '../components/inputTextarea'

    export default {
        components: {
            inputText,
            inputTextarea
        },
        props: ['open'],

        computed: {
            id () {
                return strRandom()
            },

            el () {
                return $('#' + this.id)
            }
        },

        mounted () {
            var vm = this
            if (this.open) {
                this.el.modal('show')
            }
        },

        methods: {
            closeEvent () {
                this.$emit('close')
            },
        },

        watch: {
            open () {
                if (this.open === true) {
                    this.el.modal('show')
                } else {
                    this.el.modal('hide')
                }
            },
        }
    }
    
</script>