<template>
    <div class="well internship" :class="{ closed: closed }">
        <span class="title">{{ name }}</span>
        <ul>
            <li>Open: {{ dateOpen }}</li>
            <li>Close: {{ dateClose }}</li>
            <li>Days left: {{ dayLeft }}</li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: ['name', 'dateOpen', 'dateClose', 'dayLeft', 'closed']
    }
</script>

<style scoped>
    .internship {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        cursor: pointer;
    }

    .internship.closed {
        opacity: .5;
        opacity: 0.6;
        pointer-events: none;
        user-select: none;
    }

    .internship .title {
        font-size: 17px;
        margin-bottom: 20px;
        display: inline-block;
        color: #555;
        text-decoration: none;
    }

    .internship a.title:hover {
        text-decoration: none;
    }

    .internship ul {
        padding: 0;        
        margin: 0;
        list-style: none;
    }

    .internship ul li {
        display: inline-block;
        padding: 5px;
        font-size: 13px;
        border: 1px solid #d9d9d9;
        border-radius: 2px;
        margin-bottom: 5px;
    }

    @media (min-width: 768px) {
        .internship .title {
            white-space: nowrap;
        }
    }
</style>