<template>
    <div class="well lecturer-card" :class="{ closed: closed }">
        <div class="avatar">
            <img :src="avatar" alt="" />
        </div>
        <div class="name">
            Phạm Quang Bình
        </div>
        <slot name="action"></slot>
    </div>
</template>

<script>
    import { imageUrl } from '../../helpers/url'

    export default {
        props: ['closed'],
        computed: {
            avatar () {
                return imageUrl('storage/no-avatar_90x90.png')
            }
        }
    }
</script>

<style scoped>
    .lecturer-card.closed {
        opacity: .5;
        pointer-events: none;
        user-select: none;
    }

    .lecturer-card {
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
        border-radius: 2px;
        text-align: center;
    }
    
    .lecturer-card .avatar {
        margin-bottom: 25px;
    }

    .lecturer-card .avatar img {
        border-radius: 50%;
        max-width: 90px;
    }

    .lecturer-card .name {
        text-align: center;
        font-size: 17px;
        color: rgba(0,0,0,0.87);
    }

    .lecturer-card button {
        margin-top: 25px;
        border-width: 0 !important;
        text-transform: uppercase;
        font-weight: 500 !important;
    }

    @media (min-width: 768px) {
        .lecturer-card .name {
            white-space: nowrap;
        }
    }
</style>