.label.chip {
    border-radius: 1em;
    display: inline-block;
    font-size: 100%;
    padding: 0;
    margin-right: 10px;
    margin-bottom: 10px;

    &:last-child {
        margin-right: 0;
    }
    
    >.close {
        font-size: 15px;
        float: right;
        display: inline-block;
        background: #000;
        color: #fff;
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }

    >.text {
        font-weight: normal;
        padding: .5em 1.5em;

        +.close {
            margin-left: -.5em;
            margin-right: 0;
        }
    }
}