.dropdown-menu {
    display: block;
    visibility: hidden;
    transition: all 250ms cubic-bezier(0.24, 0.22, 0.015, 1.56);
    transform: scale(.8);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 1px;
}

.open {
    > .dropdown-menu {
        visibility: visible;
        transform: scale(1);
    }  
} 