fieldset legend {
    padding-bottom: 5px;
}

label {
    font-weight: normal;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 2px 0 0;
}

select {
    background: url('//hstatic.net/0/0/global/design/imgs/select-arrow.png') right center #fff no-repeat!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 20px!important;
}

.radio, .checkbox {
    min-height: 18px;
}

input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"],
input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    width: 18px;
    height: 18px;
    -webkit-appearance: none;
    background: white;
    border: 1px solid #dcdcdc;
    border-radius: 1px;
}

.radio label,
.checkbox label {
    position: relative;
    > input[type="radio"],
    > input[type="checkbox"] {
        position: absolute;
        top: -2px;
    }
}

input[type="radio"]:focus,
.radio input[type="radio"]:focus,
.radio-inline input[type="radio"]:focus,
input[type="checkbox"]:focus,
.checkbox input[type="checkbox"]:focus,
.checkbox-inline input[type="checkbox"]:focus {
    border-color: #4d90fe;
    outline: 0;
}

input[type="radio"]:active,
.radio input[type="radio"]:active,
.radio-inline input[type="radio"]:active,
input[type="checkbox"]:active,
.checkbox input[type="checkbox"]:active,
.checkbox-inline input[type="checkbox"]:active {
    background-color: #ebebeb;
    border-color: #c6c6c6;
}

input[type="radio"]:checked, .radio input[type="radio"]:checked, .radio-inline input[type="radio"]:checked, input[type="checkbox"]:checked, .checkbox input[type="checkbox"]:checked, .checkbox-inline input[type="checkbox"]:checked {
    background: #fff;
}
input[type="radio"], .radio input[type="radio"], .radio-inline input[type="radio"] {
    width: 18px;
    height: 18px;
    border-radius: 1em;
}
input[type="radio"]:checked::after, .radio input[type="radio"]:checked::after, .radio-inline input[type="radio"]:checked::after {
    position: relative;
    top: 5px;
    left: 5px;
    display: block;
    width: 6px;
    height: 6px;
    content: '';
    border-radius: 1em;
    background: $brand-primary;
}
input[type="checkbox"]:hover, .checkbox input[type="checkbox"]:hover, .checkbox-inline input[type="checkbox"]:hover {
    border-color: #c6c6c6;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
    -webkit-box-shadow: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: none;
}
input[type="checkbox"]:checked::after, .checkbox input[type="checkbox"]:checked::after, .checkbox-inline input[type="checkbox"]:checked::after {
    position: relative;
    display: block;
    font-family: "FontAwesome";
    content: "\f00c";
    left: 2px;
    top: 1px;
    color: $brand-primary;
}


.checkbox.disabled,
.radio.disabled {
    opacity: .5;
}

div.required {
    .control-label:not(span):before,
    td.required:before {
        content: '* ';
        color: #F00;
        font-weight: bold;
    }
}

.form-control {
    box-shadow: none;

    &:focus {
        border-width: 2px;
    }

    &:hover {
        border-color: #66afe9;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }

    &input[type="color"] {
        padding: 0;
    }

    &select {
        width: auto;
    }

    &[disabled], &[readonly] {
        background: #fff;
    }
}

.has-error {
    input[type="radio"]:focus, .radio input[type="radio"]:focus, .radio-inline input[type="radio"]:focus, input[type="checkbox"]:focus, .checkbox input[type="checkbox"]:focus, .checkbox-inline input[type="checkbox"]:focus,
    input[type="radio"], .radio input[type="radio"], .radio-inline input[type="radio"], input[type="checkbox"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
        border-color: $brand-danger;
    }

    input[type="radio"]:checked::after, .radio input[type="radio"]:checked::after, .radio-inline input[type="radio"]:checked::after {
        background-color: $brand-danger;
    }
}