.hover-display {
    .display-inline,
    .display-block,
    .display-inline-block {
        display: none;
    }

    &:hover {
        .display-inline {
            display: inline;
        }

        .display-block {
            display: block;
        }

        .display-inline-block {
            display: inline-block;
        }
    }
}