.modal {
    .modal-content {
        border-radius: 3px;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        border: none;

        .modal-header {
            .close {
                margin-top: -5px;
            }
        }
    }
    
    &.fade {
        .modal-dialog {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
            transition: -webkit-transform 0.09s ease-out;
            transition: transform 0.09s ease-out;
            transition: transform 0.09s ease-out;
        }
        
        &.in {
            .modal-dialog {
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }
    }
}

.modal-backdrop.in {
    opacity: .2;
}