.notify {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: $zindex-navbar-fixed;
    text-align: center;
    white-space: nowrap;
    transition: all .3s;
    height: 0;
    overflow: hidden;

    &.notify-error {
        color: #fff;
        background: $brand-danger;
    }

    &.notify-warning {
        color: #fff;
        background: $brand-warning;
    }

    &.notify-info {
        color: #fff;
        background: $brand-info;
    }

    &.notify-success {
        color: #fff;
        background: $brand-success;
    }

    &.notify-primary {
        color: #fff;
        background: $brand-primary;
    }
}

.has-notify {
    .notify {
        height: auto;
        padding: 5px;
    }
}