span {
    display: inline-block;
    &.online {
        background: #10ce10;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        margin-right: 15px;
        margin-left: 15px;
        cursor: pointer;
    }

    &.offline {
        background: #888;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        margin-right: 15px;
        margin-left: 15px;
        cursor: pointer;
    }
}