.panel {
    border-radius: 0px;
    border-color: #eee;
    box-shadow: none;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);

    &.form {
        > form > div > .panel-body,
        > form > .panel-body,
        > div > form > .panel-body,
        > div > .panel-body,
        > .panel-body {
            padding: 0 15px;

            .form-group {
                border-bottom: 1px solid #ededed;
                margin-bottom: 0;
            }

            .form-group + .table {
                margin-top: 15px;
            }

            .form-group:last-child {
                border-bottom-width: 0;
            }
            
            .form-horizontal .form-group > label,
            .form-horizontal .form-group > div {
                padding: 15px;
            }
            
            @media (min-width: 768px) {
                .form-horizontal .form-group > div {
                    border-left: 1px solid #efefef;
                }
            }

            .form-horizontal .form-group:nth-child(even) {
                background-color: #fcfcfc;
            }
        }
    }

    .panel-alert {
        border-top: 1px solid #e8e8e8;
        padding: 5px 15px;
    }

    .panel-heading {
        min-height: 37px;
        position: relative;
        border-bottom-width: 1px;
        border-color: #eee;

        > .nav-tabs {
            margin: -11px -16px;
            > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
                border-bottom-color: #ddd;
            }
        }
        
        h3.panel-title{
            font-weight: bold;
            display: block;
        }

        h3 i {
            margin-right: 8px;
            -webkit-tap-highlight-color: transparent;
        }

        i {
            font-size: 16px;
            font-weight: 500;
        }
        
        &[data-toggle="collapse"] {
            cursor: pointer;
            clear: both;

            &:after {
                content: "\f067";
                float: right;
                display: block;
                font-family: FontAwesome;
                font-size: 11px;
                display: inline-block !important;
                cursor: pointer;
            }
            &.collapsed:after {
                content: "\f068";
            }
        }
    }

    &.panel-default {
        .panel-heading {
            background: #fff;

            h3.panel-heading {
                color: #000;
            }
        }
    }
}

.panel-group {
    position: relative;
    &.ui-sortable {
        .ui-sortable-handle {
            [data-toggle="collapse"] {
                cursor: move;
            }
        }
    }
    .panel-absolute {
        &.open {
            position: absolute;
            width: 100%;
            z-index: 99;
        }
    }

    .panel-heading {
        border-bottom: 1px solid #eee;
    }
}
