.popover {
    .popover-header {
        padding: 8px 14px;
        background-color: $popover-title-bg;
        border-bottom: 1px solid darken($popover-title-bg, 5%);
        border-radius: ($border-radius-large - 1) ($border-radius-large - 1) 0 0;
        
        .popover-title {
            padding: 0px;
            background-color: none;
            border-bottom-width: 0;
            border-radius: 0;
        }

        .close {
            margin-top: -20px;
            font-size: 25px;
        }
    }
}