h1.row-title, h2.row-title, h3.row-title, h4.row-title, h5.row-title, h6.row-title {
    line-height: 17px;
    margin: 0 0 10px 0;
    padding: 9px 10px 9px 8px;
    display: inline-block;
    color: #646464;
    font-weight: 400;
    background-color: #fff;
    position: relative;
    border-radius: 0 2px 2px 0;
    background-clip: padding-box;
    border: 1px solid #e9e9e9;
}

h1.row-title:before, h2.row-title:before, h3.row-title:before, h4.row-title:before, h5.row-title:before, h6.row-title:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -4px;
    width: 4px;
    max-width: 4px;
    overflow: hidden;
    background-color: #279fe0;
    margin-top: -1px;
    margin-bottom: -1px;
}