.nav {
    &.tab-sm {
        > li > a {
            padding: 5px 10px;
        }
    }

    &.tab-underline {
        margin-bottom: 15px;

        &.nav-tabs {
            border-bottom-width: 0;
        
            li > a {
                font-weight: bold;
                text-transform: uppercase;
                border-radius: 0;
                padding: 10px 30px;
                color: #888;

                &:hover {
                    border-color: transparent;
                    background: none;
                    color: #222;
                }

                .badge {
                    margin-left: 30px;
                }
            }

            > .active {
                > a {
                    border-color: transparent;
                    color: #222;
                    border-bottom: 3px solid #6e6e6e;

                    &:hover {
                        border-color: transparent;
                        color: #222;
                        border-bottom: 3px solid #6e6e6e;                        
                    }
                }
            }

            &.nav-justified {
                > li > a {
                    border-bottom-color: transparent;
                }
                
                > .active {
                    > a {
                        border-color: transparent;
                        color: #222;
                        border-bottom: 3px solid #6e6e6e;

                        &:hover {
                            border-color: transparent;
                            color: #222;
                            border-bottom: 3px solid #6e6e6e;                        
                        }
                    }
                }
            }
        }
    }
}
