.tile {
    margin-bottom: 15px;
    border-radius: 3px;
    color: #FFFFFF;
    transition: all 1s;
    &:hover {
        opacity: 0.95;
    }
    a {
        color: #FFFFFF;
    }

    &.tile-primary {
        background-color: $brand-primary;
        .tile-heading,
        .tile-footer {
            background-color: darken($brand-primary, 10%);
        }
    }
}

.tile-heading {
    padding: 5px 8px;
    text-transform: uppercase;
    color: #FFF;
}

.tile {
    .tile-heading .pull-right {
        transition: all 1s;
        opacity: 0.7;
    }
    &:hover .tile-heading .pull-right {
        opacity: 1;
    }
}

.tile-body {
    padding: 15px;
    color: #FFFFFF;
}

.tile {
    .tile-body i {
        font-size: 40px;
        opacity: 0.3;
        transition: all 1s;
    }
    &:hover .tile-body i {
        color: #FFFFFF;
        opacity: 1;
    }
    .tile-body h2 {
        font-size: 32px;
        margin: 0;
    }
}

.tile-footer {
    padding: 5px 8px;
}