.toast-title {
    font-weight: bold;
}
.toast-message {
    word-wrap: break-word;
    font-size: 16px;
}
.toast-message a,
.toast-message label {
    color: #ffffff;
}
.toast-message a:hover {
    color: #cccccc;
    text-decoration: none;
}
.toast-close-button {
    position: relative;
    right: -0.3em;
    top: -0.3em;
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    -webkit-text-shadow: 0 1px 0 #ffffff;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
}
.toast-close-button:hover,
.toast-close-button:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: alpha(opacity=40);
}

/*Additional properties for button version
iOS requires the button element instead of an anchor tag.
If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.toast-top-full-width {
    top: 0;
}
.toast-bottom-full-width {
    bottom: 0;
}
.toast-top-right,
.toast-top-left {
    top: 0;
}
.toast-bottom-left,
.toast-bottom-right {
    bottom: 0;
}
#toast-container {
    position: fixed;
    z-index: $zindex-toast;
    min-width: 100%;
/*overrides*/
}
#toast-container * {
    box-sizing: border-box;
}
#toast-container > div {
    padding: 15px 25px;
    min-width: 100%;
    background-position: 15px center;
    background-repeat: no-repeat;
    box-shadow: 0 7px 18px rgba(0,0,0,0.2);
    color: #ffffff;
    filter: alpha(opacity=80);
}
#toast-container > :hover {
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: pointer;
}
.toast {
    background-color: #212121;
}
.toast-success {
    background-color: #51a351;
}
.toast-error {
    background-color: #bd362f;
}
.toast-info {
    background-color: #2f96b4;
}
.toast-warning {
    background-color: #f89406;
}

@media (min-width: $screen-sm) {
    #toast-container {
        min-width: 200px;
    }

    .toast {
        margin-bottom: 5px;
    }

    .toast-top-right {
        top: 12px;
        right: 12px;
    }

    .toast-top-left {
        top: 12px;
        left: 12px;
    }

    .toast-bottom-left {
        bottom: 12px;
        left: 12px;
    }
    .toast-bottom-right {
        bottom: 12px;
        right: 12px;
    }
}