@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

.top-progress-bar {
    position: fixed;
    width: 100%;
    z-index: $zindex-loading;
    top: 0;

    .loader {
        height: 2px;
        width: 100%;
        position: relative;
        overflow: hidden;
        background-color: #f5f5f5;
    }

    .loader:before{
        display: block;
        position: absolute;
        content: "";
        left: -200px;
        width: 200px;
        height: 4px;
        background-color: $brand-primary;
        animation: loading 2s linear infinite;
    }
}