@media (min-width: $screen-sm) {
    body {
        &.has-notify {
            #content {
                padding-top: 104px;
            }
        }
    }

    #button-menu {
        padding: 19px 20px;
    }

    #page-header {
        .header-row {
            height: $header-bar-height-md;
            .brand {
                padding: 15px 0;
                width: calc(35% - 56px); // 56px is width of button toggle column left
                max-width: 255px;
                white-space: nowrap;
                float: left;

                .page-name {
                    display: inline-block;
                    border-left: 1px solid rgba(0,0,0,0.12);
                    padding-left: 15px;
                    margin-left: 15px;
                    line-height: 32px;
                    color: #676767;
                    font-size: 21px;
                    font-weight: 500;
                }
            }
        }
    }

    #search {
        padding: 8px !important;
        display: inline-block;
        width: 100%;
        background: #fff;
        width: 53%;
        max-width: 720px;
        float: none !important;

        .group {
            .addon {
                display: inline-block;
                float: left;
                padding: 12px !important;
                background: #e5e5e5;
                height: 48px;
                width: 44px;

                &.search-icon {
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                    margin-right: -1px;
                }

                &.close-icon {
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                    display: inline-block !important;
                    margin-left: -1px;
                }

                i {
                    vertical-align: middle !important;
                    color: rgba(0,0,0,0.38);
                }
            }

            input {
                display: inline-block !important;
                border-width: 0;
                border-style: solid;
                padding: 0 16px;
                outline: 0;
                background: #000;
                float: left;
                text-align: left!important;
                background: #e5e5e5;
                height: 48px !important;
                font-size: 18px !important;
                width: calc(100% - 88px) !important;
            }

            &:after {
                content: " ";
                display: block;
                clear: both;
            }
        }
    }

    #account {
        > a {
            padding: 17px 20px;
        }
    }

    #content {
        padding-top: 80px;
    }
}