<template>
    <layout>
        <div id="content">
            <div class="page-header">
                <div class="container">
                    <button-toggle-column-left></button-toggle-column-left>
                    <div class="pull-right">
                        <app-button @click="$router.push({ name: 'student.index' })" icon="reply">Cancel</app-button>
                        <app-button :loading="saving" icon="save" @click="create" status="primary">Save</app-button>
                    </div>
                    <h1>{{ pageTitle }}</h1>
                    <breadcrumb></breadcrumb>
                </div>
            </div>
            <div class="container">
                <form method="post" @submit.prevent>
                    <div class="row">
                        <div class="col-sm-3 text-right">
                            <h3>Base information</h3>
                            <small>The base student's base infomation</small>
                        </div>
                        <div class="col-sm-9">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="control-label">Avatar</label>
                                        <input-image name="avatar" :value="avatar" :default-preview="defaultPreview" @reset="resetAvatar" @change="inputAvatar"></input-image>
                                    </div>
                                    <div class="form-group required">
                                        <label class="control-label">Fullname</label>
                                        <input-text placeholder="Fullname" @input="inputFullname" name="fullname" :value="fullname" :status="statusBags.fullname" :message="messageBags.fullname"></input-text>
                                    </div>
                                    <div class="form-group required">
                                        <label class="control-label">Date of birth</label>
                                        <input-date :options="{ changeMonth: true, changeYear: true }" placeholder="Birth" name="birth" :value="birth" :status="statusBags.birth" :message="messageBags.birth" @select="selectBirth"></input-date>
                                    </div>
                                    <div class="form-group required">
                                        <label class="control-label">
                                            Password (<a @click.prevent="generatePassword" href="#"><i>Generate password</i></a> / <a href="#" @click.prevent="showPassword = !showPassword"><i>{{ showPassword == true ? 'Hide password' : 'Show password' }}</i></a>)
                                        </label>
                                        <template v-if="showPassword">
                                            <input-text placeholder="Password" name="password" icon="key" :value="password" :status="statusBags.password" :message="messageBags.password" @input="inputPassword"></input-text>
                                        </template>
                                        <template v-else>
                                            <input-password placeholder="Password" name="password" icon="key" :value="password" :status="statusBags.password" :message="messageBags.password" @input="inputPassword"></input-password>
                                        </template>
                                        <p class="help-block">The password can be reset later.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 text-right">
                            <h3>School information</h3>
                            <small>School infomation of student</small>
                        </div>
                        <div class="col-sm-9">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="form-group required">
                                        <label class="control-label">Code</label>
                                        <input-text placeholder="Code" name="code" @input="inputCode" :value="code" :status="statusBags.code" :message="messageBags.code"></input-text>
                                    </div>
                                    <div class="form-group required">
                                        <label class="control-label">Class</label>
                                        <input-class :value="classCode" @input="inputClassCode" @select="selectClass" size="sm" :status="statusBags.class_id" :message="messageBags.class_id"></input-class>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-sm-3 text-right">
                            <h3>Contact information</h3>
                            <small>Student contact infomation</small>
                        </div>
                        <div class="col-sm-9">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <input-text placeholder="Email" @input="inputEmail" name="email" :value="email" :status="statusBags.email" :message="messageBags.email"></input-text>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Phone</label>
                                        <input-text placeholder="Phone" @input="inputPhone" name="phone" :value="phone" :status="statusBags.phone" :message="messageBags.phone"></input-text>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <app-button @click="$router.push({ name: 'student.index' })" icon="reply">Cancel</app-button>
                        <app-button type="submit" :loading="saving" icon="save" @click="create" status="primary">Save</app-button>
                    </div>
                </form>
            </div>
        </div>
    </layout>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    import { imageUrl } from '../../../helpers/url'
    import { strRandom } from '../../../helpers/string'
    import button from '../../components/button'
    import select from '../../components/select'
    import breadcrumb from '../../common/breadcrumb'
    import buttonToggleColumnLeft from '../../common/buttonToggleColumnLeft'
    import config from '../../../configs'
    import inputClass from '../../superComponents/inputClass'
    import inputImage from '../../components/inputImage'
    import inputText from '../../components/inputText'
    import inputDate from '../../components/inputDate'
    import inputPassword from '../../components/inputPassword'
    import layout from '../../layouts/layout'
    import toastr from '../../../plugins/toastr'
    import validateForm from '../../../mixins/validateForm'

    export default {
        components: {
            appButton: button,
            appSelect: select,
            breadcrumb,
            buttonToggleColumnLeft,
            inputClass,
            inputDate,
            inputImage,
            inputPassword,
            inputText,
            layout
        },

        data () {
            return {
                code: '',
                avatar: '',
                fullname: '',
                email: '',
                phone: '',
                class_id: '',
                major_id: '',
                faculty_id: '',
                term: '',
                birth: '',
                password: '',

                classCode: '',
                saving: false,
                showPassword: false,

                statusBags: {
                    code: 'normal',
                    fullname: 'normal',
                    email: 'normal',
                    phone: 'normal',
                    birth: 'normal',
                    password: 'normal',
                    classCode: 'normal'
                },

                messageBags: {
                    code: '',
                    fullname: '',
                    email: '',
                    phone: '',
                    birth: '',
                    password: '',
                    classCode: ''
                },
            }
        },

        mixins: [validateForm],

        computed: {
            defaultPreview () {
                if (!this.avatar) {
                    return imageUrl('storage/no-avatar_100x100.png')
                } else {
                    return imageUrl(this.avatar, [100, 100])
                }
            },

            pageTitle () {
                return this.fullname ? this.fullname : 'Create student'
            }
        },

        mounted () {
            this['menu/setActive']('student')
            this.setBreadcrumb([
                {route: { name: 'home' }, name: 'Home'},
                {route: { name: 'student.index' }, name: 'Users'}
            ])
        },

        methods: {
            setSaving (val) {
                this.saving = val
            },

            generatePassword () {
                this.password = strRandom()
            },

            inputAvatar (val) {
                this.avatar = val
            },

            resetAvatar () {
                this.avatar = ''
            },

            inputEmail (val) {
                this.email = val
            },

            inputFullname (val) {
                this.fullname = val
            },

            selectBirth (val) {
                this.birth = val
            },

            inputPhone (val) {
                this.phone = val
            },

            inputPassword (val) {
                this.password = val
            },

            inputCode (code) {
                this.code = code
            },

            inputClassCode (code) {
                this.classCode = code
            },

            selectClass (clas) {
                this.classCode = clas.code
                this.faculty_id = clas.faculty_id
                this.term = clas.term
                this.major_id = clas.major_id
                this.class_id = clas.id
            },

            create () {
                this.setAppLoading(true)
                this.setSaving(true)
                this.resetMessageBags()
                this.resetStatusBags()

                this['student/create']({
                    data: {
                        code: this.code,
                        avatar: this.avatar,
                        fullname: this.fullname,
                        email: this.email,
                        phone: this.phone,
                        birth: this.birth,
                        password: this.password,
                        class_id: this.class_id,
                        faculty_id: this.faculty_id,
                        major_id: this.major_id,
                        term: this.term
                    }
                }).done(res => {
                    toastr.success(res.message)
                    this.$router.push({ name: 'student.edit', params: { studentId: res.student.id } })
                }).fail(xhr => {
                    this.formFail(xhr.responseJSON)
                }).always(() => {
                    this.setAppLoading(false)
                    this.setSaving(false)
                })
            },

            ...mapActions(['setAppLoading', 'setBreadcrumb', 'setPageTitle', 'menu/setActive']),
            ...mapActions(['student/create'])
        },
    }
</script>