<template>
    <layout>
        <div id="content">
            <div class="page-header">
                <div class="container">
                    <button-toggle-column-left></button-toggle-column-left>
                    <div class="pull-right">
                        <app-button @click="$router.push({ name: 'student.index' })" icon="reply">Back</app-button>
                        <app-button :loading="saving" icon="save" @click="save" status="primary">Save</app-button>
                    </div>
                    <h1>{{ pageTitle }}</h1>
                    <breadcrumb></breadcrumb>
                </div>
            </div>
            <visible-frame :visible="visible">
                <div class="container">
                    <form method="post" @submit.prevent>
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <h3>Base information</h3>
                                <small>The base student's base infomation</small>
                            </div>
                            <div class="col-sm-9">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="control-label">Avatar</label>
                                            <input-image name="avatar" :value="avatar" :default-preview="defaultPreview" @reset="resetAvatar" @change="inputAvatar"></input-image>
                                        </div>
                                        <div class="form-group required">
                                            <label class="control-label">Fullname</label>
                                            <input-text placeholder="Fullname" @input="inputFullname" name="fullname" :value="fullname" :status="statusBags.fullname" :message="messageBags.fullname"></input-text>
                                        </div>
                                        <div class="form-group required">
                                            <label class="control-label">Date of birth</label>
                                            <input-date :options="{ changeMonth: true, changeYear: true }" placeholder="Birth" name="birth" :value="birth" :status="statusBags.birth" :message="messageBags.birth" @select="selectBirth"></input-date>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <h3>School information</h3>
                                <small>School infomation of student</small>
                            </div>
                            <div class="col-sm-9">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group required">
                                            <label class="control-label">Code</label>
                                            <input-text placeholder="Code" name="code" @input="inputCode" :value="code" :status="statusBags.code" :message="messageBags.code"></input-text>
                                        </div>
                                        <div class="form-group required">
                                            <label class="control-label">Class</label>
                                            <input-class :value="classCode" @input="inputClassCode" @select="selectClass" size="sm" :status="statusBags.class_id" :message="messageBags.class_id"></input-class>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <h3>Contact information</h3>
                                <small>Student contact infomation</small>
                            </div>
                            <div class="col-sm-9">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="control-label">Email</label>
                                            <input-text placeholder="Email" @input="inputEmail" name="email" :value="email" :status="statusBags.email" :message="messageBags.email"></input-text>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Phone</label>
                                            <input-text placeholder="Phone" @input="inputPhone" name="phone" :value="phone" :status="statusBags.phone" :message="messageBags.phone"></input-text>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <app-button @click="$router.push({ name: 'student.index' })" icon="reply">Back</app-button>
                            <app-button type="submit" :loading="saving" icon="save" @click="save" status="primary">Save</app-button>
                        </div>
                    </form>
                </div>
            </visible-frame>
        </div>
    </layout>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    import { imageUrl } from '../../../helpers/url'
    import { strRandom } from '../../../helpers/string'
    import { format as formatDate } from '../../../helpers/datetime'
    import button from '../../components/button'
    import select from '../../components/select'
    import breadcrumb from '../../common/breadcrumb'
    import buttonToggleColumnLeft from '../../common/buttonToggleColumnLeft'
    import config from '../../../configs'
    import inputClass from '../../superComponents/inputClass'
    import inputImage from '../../components/inputImage'
    import inputText from '../../components/inputText'
    import inputDate from '../../components/inputDate'
    import layout from '../../layouts/layout'
    import toastr from '../../../plugins/toastr'
    import validateForm from '../../../mixins/validateForm'
    import visibleFrame from '../../components/visibleFrame'

    export default {
        components: {
            appButton: button,
            appSelect: select,
            breadcrumb,
            buttonToggleColumnLeft,
            inputClass,
            inputDate,
            inputImage,
            inputText,
            layout,
            visibleFrame
        },

        data () {
            return {
                studentId: this.$route.params.studentId,
                code: '',
                avatar: '',
                fullname: '',
                email: '',
                phone: '',
                class_id: '',
                major_id: '',
                faculty_id: '',
                term: '',
                birth: '',

                classCode: '',
                saving: false,
                visible: false,

                statusBags: {
                    code: 'normal',
                    fullname: 'normal',
                    email: 'normal',
                    phone: 'normal',
                    birth: 'normal',
                    classCode: 'normal'
                },

                messageBags: {
                    code: '',
                    fullname: '',
                    email: '',
                    phone: '',
                    birth: '',
                    classCode: ''
                },
            }
        },

        mixins: [validateForm],

        computed: {
            defaultPreview () {
                if (!this.avatar) {
                    return imageUrl('storage/no-avatar_100x100.png')
                } else {
                    return imageUrl(this.avatar, [100, 100])
                }
            },

            pageTitle () {
                return this.fullname ? this.fullname : 'Create student'
            }
        },

        created () {
            this.fetchData()
        },

        mounted () {
            this['menu/setActive']('student')
            this.setBreadcrumb([
                {route: { name: 'home' }, name: 'Home'},
                {route: { name: 'student.index' }, name: 'Users'}
            ])
        },

        methods: {
            setSaving (val) {
                this.saving = val
            },

            setVisible (val) {
                this.visible = val
            },

            fetchData () {
                this.setAppLoading(true)
                this.setVisible(false)
                this['student/get']({ studentId: this.studentId, options: { data: { with: ['class'] } } }).done(res => {
                    const student = res.student
                    this.avatar = student.avatar
                    this.code = student.code
                    this.fullname = student.lastname + ' ' + student.firstname
                    this.email = student.email
                    this.class_id = student.class_id
                    this.classCode = student.class_code
                    this.faculty_id = student.faculty_id
                    this.major_id = student.major_id
                    this.term = student.term
                    this.birth = formatDate(student.birth, 'DD-MM-YYYY')
                    this.phone = student.phone
                }).fail(xhr => {
                    if (xhr.status == 404) {
                        this.$router.push({ name: 'error-404' })
                    }
                }).always(() => {
                    this.setAppLoading(false)
                    this.setVisible(true)
                })
            },

            inputAvatar (val) {
                this.avatar = val
            },

            resetAvatar () {
                this.avatar = ''
            },

            inputEmail (val) {
                this.email = val
            },

            inputFullname (val) {
                this.fullname = val
            },

            selectBirth (val) {
                this.birth = val
            },

            inputPhone (val) {
                this.phone = val
            },

            inputCode (code) {
                this.code = code
            },

            inputClassCode (code) {
                this.classCode = code
            },

            selectClass (clas) {
                this.classCode = clas.code
                this.faculty_id = clas.faculty_id
                this.term = clas.term
                this.major_id = clas.major_id
                this.class_id = clas.id
            },

            save () {
                this.setAppLoading(true)
                this.setSaving(true)
                this.resetMessageBags()
                this.resetStatusBags()

                this['student/update']({
                    studentId: this.studentId,
                    data: {
                        code: this.code,
                        avatar: this.avatar,
                        fullname: this.fullname,
                        email: this.email,
                        phone: this.phone,
                        birth: this.birth,
                        class_id: this.class_id,
                        faculty_id: this.faculty_id,
                        major_id: this.major_id,
                        term: this.term
                    }
                }).done(res => {
                    toastr.success(res.message)
                    this.$router.push({ name: 'student.edit', params: { studentId: res.student.id } })
                }).fail(xhr => {
                    this.formFail(xhr.responseJSON)
                }).always(() => {
                    this.setAppLoading(false)
                    this.setSaving(false)
                })
            },

            ...mapActions(['setAppLoading', 'setBreadcrumb', 'setPageTitle', 'menu/setActive']),
            ...mapActions(['student/update', 'student/get'])
        },
    }
</script>