<template>
    <layout>
        <div id="content">
            <div class="page-header">
                <div class="container">
                    <button-toggle-column-left></button-toggle-column-left>
                    <div class="pull-right">
                        <page-control :current="page" :total="students.totalPage" @next="toPage" @prev="toPage"></page-control>
                        <input-search :keyword="keyword" placeholder="Enter name or code to quick search..." @clear="clearKeyword" @input="inputKeyword"></input-search>
                        <filter-student @reset="resetFilter" @apply="applyFilter"></filter-student>
                        <app-button v-can="'student.create'" @click="$router.push({ name: 'student.create' })" status="primary" icon="plus">New student</app-button>
                    </div>
                    <h1>{{ pageTitle }}</h1>
                    <breadcrumb></breadcrumb>
                </div>
            </div>
            <visible-frame :visible="visible">
                <div class="container">
                    <div class="table-responsive">
                        <table id="table-students" class="table table-hover master-table table-striped" style="margin-bottom: 0">
                            <thead>
                                <tr>
                                    <th style="width: 1px">#</th>
                                    <th style="width: 1px"><a href="" :class="{ desc: sort == 'id' && order == 'asc', asc: sort == 'id' && order == 'desc' }" @click.prevent="rerort('id')">ID</a></th>
                                    <th><a href="" :class="sortClass('firstname')" @click.prevent="rerort('firstname')">Student</a></th>
                                    <th><a href="" :class="sortClass('code')" @click.prevent="rerort('code')">Code</a></th>
                                    <th>Class</th>
                                    <th><a href="" :class="sortClass('phone')" @click.prevent="rerort('phone')">Phone</a></th>
                                    <th><a href="" :class="sortClass('updated_at')" @click.prevent="rerort('updated_at')">Updated at</a></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <template v-if="isEmpty">
                                <tbody>
                                    <tr>
                                        <td colspan="8" class="text-center">
                                            Empty
                                        </td>
                                    </tr>
                                </tbody>
                                </template>
                                <template v-else>
                                    <tbody>
                                        <tr v-for="(student, index) in students.data">
                                            <td>#{{ page == 1 ? index + 1 :  index + 1 + perpage }}</td>
                                            <td><strong>{{ student.id }}</strong></td>
                                            <td>
                                                <avatar :fullname="student.lastname + ' ' + student.firstname" :url="studentAvatar(student)"></avatar>
                                                <span class="offline"></span>
                                                <router-link v-can="'student.edit'" :to="{ name: 'student.edit', params: { studentId: student.id } }">
                                                    <strong>{{ student.lastname + ' ' + student.firstname }}</strong>
                                                </router-link>
                                                <strong v-cannot="'student.edit'">{{ student.lastname + ' ' + student.firstname }}</strong>
                                            </td>
                                            <td>{{ student.code }}</td>
                                            <td>{{ student.class_code }}</td>
                                            <td>{{ student.phone }}</td>
                                            <td>{{ student.updated_at | fromNow }}</td>
                                            <td class="text-right text-nowrap">
                                                <app-button v-can="'student.edit'" @click="$router.push({ name: 'student.edit', params: { studentId: student.id } })" status="primary" size="sm" icon="pencil"></app-button>
                                                <app-button :loading="student.id == studentIdDeleting" v-can="'student.delete'" @click="deleteStudent(student.id)" status="danger" size="sm" icon="trash"></app-button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </template>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center hidden-xs">
                        <pagination :current="page" :perpage="perpage" :total="students.total" @next="toPage" @prev="toPage" @first="toPage" @last="toPage" @change="toPage"></pagination>
                    </div>
                </div>
            </visible-frame>
        </div>
    </layout>
</template>

<script>
    import { mapActions, mapState, mapGetters } from 'vuex'
    import { fromNow } from '../../../helpers/datetime'
    import avatar from '../../components/avatar'
    import button from '../../components/button'
    import breadcrumb from '../../common/breadcrumb'
    import buttonToggleColumnLeft from '../../common/buttonToggleColumnLeft'
    import canDirective from '../../../directives/can'
    import cannotDirective from '../../../directives/cannot'
    import columnLeft from '../../common/columnLeft'
    import config from '../../../configs'
    import filterStudent from '../../superComponents/filterStudent'
    import inputSearch from '../../components/inputSearch'
    import layout from '../../layouts/layout'
    import pageControl from '../../components/pageControl'
    import pagination from '../../components/pagination'
    import toastr from '../../../plugins/toastr'
    import visibleFrame from '../../components/visibleFrame'
    import vue from 'vue'

    vue.filter('fromNow', fromNow)
    vue.directive('can', canDirective)
    vue.directive('cannot', cannotDirective)

    export default {
        data () {
            const queries = this.$store.state.student.queries
            return {
                studentIdDeleting: false,
                page: queries.page <= 1 ? 1 : queries.page,
                code: queries.code,
                majorCode: '',
                facultyCode: '',
                classCode: '',
                term: '',
                perpage: queries.perpage <= 1 ? 10 : queries.perpage,
                sort: 'id',
                order: 'desc',
                keyword: ''
            }
        },

        components: {
            appButton: button,
            avatar,
            breadcrumb,
            buttonToggleColumnLeft,
            filterStudent,
            inputSearch,
            pageControl,
            pagination,
            visibleFrame,
            layout
        },

        computed: {
            students () {
                return this['student/collections']
            },

            queries () {
                return {
                    page: this.page,
                    perpage: this.perpage,
                    sort: this.sort,
                    code: this.code,
                    faculty_code: this.facultyCode,
                    major_code: this.majorCode,
                    class_code: this.classCode,
                    code: this.code,
                    term: this.term,
                    order_by: {
                        [this.sort]: this.order
                    },
                    with: ['class'],
                    keyword: this.keyword
                }
            },

            visible () {
                return !this.appLoading
            },

            isEmpty () {
                return this['student/isEmpty']
            },

            ...mapState(['pageTitle', 'appLoading']),
            ...mapGetters(['student/collections', 'student/isEmpty']),
        },

        created () {
            this.fetchData(['students'])
        },

        mounted () {
            this.setPageTitle('Students')
            this['menu/setActive']('student')

            this.setBreadcrumb([
                {route: { name: 'home' }, name: 'Home'},
                {route: { name: 'student.index' }, name: 'Students'}
            ])
        },

        methods: {
            studentAvatar (student) {
                if (student.avatar) {
                    return student.avatar
                }

                return 'storage/no-avatar.png'
            },

            inputKeyword:_.debounce(function (keyword) {
                this.keyword = keyword
            }, 500),

            clearKeyword () {
                this.keyword = ''
            },

            setStudentIdDeleting (studentId) {
                this.studentIdDeleting = studentId
            },

            fetchData () {
                this.setAppLoading(true)
                this['student/paginate']({ query: this.queries }).done(() => {
                    this.setAppLoading(false)
                })
            },

            sortClass (field) {
                if (this.sort != field) {
                    return null
                }

                if (this.order == 'desc') {
                    return 'asc'
                }

                return 'desc'
            },

            toPage (page) {
                this.page = page
            },

            rerort (sort) {
                this.sort = sort
                if (this.order == 'desc') {
                    this.order = 'asc'
                } else {
                    this.order = 'desc'
                }
            },

            deleteStudent (studentId) {
                if (!confirm('Are you sure?')) {
                    return false
                }

                this.setAppLoading(true)
                this.setStudentIdDeleting(studentId)
                this['student/delete']({ studentId: studentId }).done(res => {
                    toastr.success(res.message)
                    this.fetchData(['students'])
                }).fail(xhr => {
                    let res = xhr.responseJSON
                    if (res.errors) {
                        for (var error in res.errors) break
                        toastr.error(res.errors[error])
                    } else if (res.message) {
                        toastr.error(res.message)
                    }
                }).always(() => {
                    this.setStudentIdDeleting(false)
                    this.setAppLoading(false)
                })
            },

            applyFilter (data) {
                if (data.hasOwnProperty('studentCode')) {
                    this.code = data.studentCode
                }

                if (data.hasOwnProperty('classCode')) {
                    this.classCode = data.classCode
                }

                if (data.hasOwnProperty('majorCode')) {
                    this.majorCode = data.majorCode
                }

                if (data.hasOwnProperty('facultyCode')) {
                    this.facultyCode = data.facultyCode
                }

                if (data.hasOwnProperty('term')) {
                    this.term = data.term
                }
            },

            resetFilter () {
                this.code = ''
                this.classCode = ''
                this.majorCode = ''
                this.facultyCode = ''
                this.term = ''
            },

            ...mapActions(['setAppLoading', 'setBreadcrumb', 'setPageTitle', 'menu/setActive']),
            ...mapActions(['student/paginate', 'student/delete'])
        },

        watch: {
            queries () {
                this.fetchData()
            }
        },
    }
</script>