<template>
    <layout>
        <div id="content">
            <div class="page-header">
                <div class="container">
                    <button-toggle-column-left></button-toggle-column-left>
                    <div class="pull-right">
                        <app-button @click="$router.push({ name: 'home' })" status="default" icon="reply">Back</app-button>
                    </div>
                    <h1>{{ pageTitle }}</h1>
                    <breadcrumb></breadcrumb>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <span class="pull-right">{{ totalFiles }} files</span>
                                    <span class="pull-left" v-can="'log-system.delete'"><small><a href="#" @click.prevent="clearAll" data-toggle="tooltip" title="" data-original-title="Clear all log files">Clear all</a></small></span>
                                </h3>
                            </div>
                            <div class="list-group">
                                <a v-for="(file, index) in files" class="list-group-item" :class="{ active: file.date == dateActive }" href="" :key="index" @click.prevent="showDate(file.date)">
                                    <span class="pull-right">#{{ index + 1 }}</span> {{ file.date | dateFormat('DD-MM-YYYY') }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Log system {{ dateActive | dateFormat('DD-MM-YYYY') }}
                                    <div class="pull-right">
                                        <button class="btn btn-danger btn-xs" type="button">
                                            Error <span class="badge">{{ totalLogs }}</span>
                                        </button>
                                    </div>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="text-nowrap">Items</th>
                                                <th>Status</th>
                                                <th>Time</th>
                                                <th>Message</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <template v-if="logs.length">
                                                <tr v-for="(log, index) in logs" :key="index">
                                                    <td>#{{ index + 1 }}</td>
                                                    <td class="bg-danger">{{ log.type }}</td>
                                                    <td class="text-nowrap">{{ log.time_gmt | fromNow }}</td>
                                                    <td>{{ log.message }}</td>
                                                </tr>
                                            </template>
                                            <template v-else>
                                                <tr>
                                                    <td colspan="4">
                                                        <p>Very good. No log item today!</p>
                                                    </td>
                                                </tr>
                                            </template>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
    import { mapActions, mapState, mapGetters } from 'vuex'
    import { imageUrl } from '../../../helpers/url'
    import { today, fromNow, format as dateFormat } from '../../../helpers/datetime'
    import canDirective from '../../../directives/can'
    import button from '../../components/button'
    import breadcrumb from '../../common/breadcrumb'
    import buttonToggleColumnLeft from '../../common/buttonToggleColumnLeft'
    import columnLeft from '../../common/columnLeft'
    import layout from '../../layouts/layout'
    import toastr from '../../../plugins/toastr'
    import vue from 'vue'

    vue.filter('dateFormat', dateFormat)
    vue.filter('fromNow', fromNow)
    vue.directive('can', canDirective)

    export default {
        components: {
            appButton: button,
            breadcrumb,
            buttonToggleColumnLeft,
            layout
        },

        data () {
            return {
                visible: false,
                dateActive: today('YYYY-MM-DD')
            }
        },
        
        computed: {
            totalFiles () {
                return this['logSystem/collections'].total
            },

            files () {
                return this['logSystem/collections'].data  
            },

            logs () {
                return this['logSystem/detail'].log  
            },

            totalLogs () {
                return this['logSystem/detail'].total
            },

            ...mapState(['pageTitle']),
            ...mapGetters(['logSystem/collections', 'logSystem/detail'])
        },

        created () {
            this.fetchData(['files', 'logs'])
        },

        mounted () {
            this.setPageTitle('Log system')
            this['menu/setActive']('log-system')
            this.setBreadcrumb([
                {route: { name: 'home' }, name: 'Home'},
                {route: { name: 'log-system.index' }, name: 'Logs system'}
            ])
        },

        methods: {
            setVisible (visible) {
                this.visible = visible
                if (visible == true) {
                    this.setAppLoading(false)
                } else {
                    this.setAppLoading(true)
                }
            },

            fetchData (include) {
                const requests = []

                if (include.indexOf('files') != -1) {
                    requests.push(this['logSystem/all']())
                }

                if (include.indexOf('logs') != -1) {
                    requests.push(this['logSystem/get'](this.dateActive))
                }

                this.setAppLoading(true)
                $.when.apply($, requests).done(() => {
                    this.setVisible(true)
                })
            },

            showDate (date) {
                this.dateActive = date
            },

            clearAll () {
                if (!confirm('Are you sure?')) {
                    return false
                }

                const files = []
                this.files.forEach(item => {
                    files.push(item.date)
                })

                this['logSystem/delete']({ data: {file: files} }).then(() => {
                    this.fetchData(['files', 'logs'])
                }).fail(xhr => {
                    var res = xhr.responseJSON
                    for (var error in res.errors) break
                    toastr.error(res.errors[error])
                })
            },

            ...mapActions(['setBreadcrumb', 'setAppLoading', 'setPageTitle', 'menu/setActive']),
            ...mapActions(['logSystem/all', 'logSystem/get', 'logSystem/delete'])
        },

        watch: {
            dateActive () {
                this.fetchData(['logs'])
            },
        }
    }
</script>