@media (max-width: $screen-sm) {
    .modal {
        padding-right: 0px !important;
        padding-left: 0px !important;

        .modal-dialog {
            margin: 0;

            .modal-content {
                border-radius: 0;
                border-width: 0;
                
                .modal-footer,
                .modal-header {
                    white-space: nowrap;
                }

                .modal-body {
                    height: calc(100vh - 56px - 65px);
                    overflow-y: scroll;
                }
            }
        }

        .modal-open {
            .modal {
                overflow: hidden;
            }
        }
    }
}