<template>
    <layout>
        <div id="content">
            <div class="page-header">
                <div class="container">
                    <button-toggle-column-left></button-toggle-column-left>
                    <div class="pull-right">
                        <app-button status="default" icon="reply">Back</app-button>
                        <app-button :loading="saving" @click="save" status="primary" icon="save">Save</app-button>
                    </div>
                    <h1>{{ pageTitle }}</h1>
                    <breadcrumb></breadcrumb>
                </div>
            </div>
            <div class="container">
                <form method="post" @submit.prevent>
                    <div class="panel panel-default form">
                        <div class="panel-heading"><h3 class="panel-title">Setting general</h3></div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Logo</label>
                                    <div class="col-sm-10">
                                        <input-image :value="logo" name="logo" @change="inputLogo" :default-preview="defaultPreview"></input-image>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Register new account</label>
                                    <div class="col-sm-10">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="register" value="1" :checked="register == 1" @change="inputReigster($event)" />
                                                Enable
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="register" value="0" :checked="register == 0" @change="inputReigster($event)" />
                                                Disable            
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">User's role when registered</label>
                                    <div class="col-sm-10">
                                        <app-select name="default_user_role_id" :style="{ width: 'auto' }" @change="inputDefaultUserRoleId">
                                            <option value="">-- Select --</option>
                                            <option v-for="role in roles.data" :value="role.id" :selected="role.id === defaultUserRoleId">{{ role.name }}</option>
                                        </app-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer text-right">
                            <app-button status="default" icon="reply">Back</app-button>
                            <app-button :loading="saving" @click="save" status="primary" icon="save">Save</app-button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </layout>
</template>

<script>
    import { mapActions, mapState, mapGetters } from 'vuex'
    import { imageUrl } from '../../../helpers/url'
    import button from '../../components/button'
    import breadcrumb from '../../common/breadcrumb'
    import buttonToggleColumnLeft from '../../common/buttonToggleColumnLeft'
    import columnLeft from '../../common/columnLeft'
    import layout from '../../layouts/layout'
    import inputImage from '../../components/inputImage'
    import select from '../../components/select'
    import toastr from '../../../plugins/toastr'
    import validateForm from '../../../mixins/validateForm'

    export default {
        components: {
            appButton: button,
            breadcrumb,
            buttonToggleColumnLeft,
            layout,
            inputImage,
            appSelect: select
        },

        mixins: [validateForm],

        data () {
            const setting = _.cloneDeep(this.$store.state.setting)
            return {
                visible: false,
                saving: false,
                logo: setting.logo,
                register: setting.register,
                defaultUserRoleId: setting.default_user_role_id,

                statusBags: {
                    logo: 'normal',
                    register: 'normal',
                    defaultUserRoleId: 'normal'
                },

                messageBags: {
                    logo: '',
                    register: '',
                    defaultUserRoleId: ''
                },
            }
        },
        
        computed: {
            roles () {
                return this['user/role/collections']
            },

            defaultPreview () {
                if (this.logo) {
                    return imageUrl(this.logo, [100, 100])
                } else {
                    return imageUrl('storage/logo.png', [100, 100])
                }
            },

            ...mapState(['pageTitle']),
            ...mapGetters(['user/role/collections'])
        },

        created () {
            this.fetchData()
        },

        mounted () {
            this.setPageTitle('Setting')
            this['menu/setActive']('setting')
            this.setBreadcrumb([
                {route: { name: 'home' }, name: 'Home'},
                {route: { name: 'setting.index' }, name: 'Settings'}
            ])
        },

        methods: {
            setSaving (val) {
                this.saving = val
            },

            fetchData () {
                const requests = []
                this.setAppLoading(true)
                requests.push(this['user/role/paginate']({ query: { perpage: 999 } }))
                requests.push(this['setting/all']())
                $.when.apply($, requests).done(() => {
                    this.setAppLoading(false)
                })
            },

            inputLogo (val) {
                this.logo = val
            },

            inputReigster (event) {
                this.register = event.target.value
            },

            inputDefaultUserRoleId (val) {
                this.defaultUserRoleId = val
            },

            save () {
                this.setAppLoading(true)
                this.setSaving(true)
                this.resetStatusBags()
                this.resetMessageBags()
                
                this['setting/save']({
                    data: {
                        logo: {
                            value: this.logo,
                            autoload: 1,
                        },
                        register: {
                            value: this.register,
                            autoload: 1,
                        },
                        default_user_role_id: {
                            value: this.defaultUserRoleId,
                            autoload: 1,
                        },
                    }
                }).then(res => {
                    toastr.success(res.message)
                }).fail(xhr => {
                    this.formFail(xhr.responseJSON)
                }).always(() => {
                    this.setAppLoading(false)
                    this.setSaving(false)
                })
            },

            ...mapActions(['setBreadcrumb', 'setAppLoading', 'setPageTitle', 'menu/setActive']),
            ...mapActions(['user/role/paginate', 'setting/all', 'setting/save'])
        }
    }
</script>