.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
	background: #fff;
	box-shadow: 0 0 0 1px rgba(39,44,48,.05), 0 2px 7px 1px rgba(39,44,48,.16);
	border-radius: 3px;
}
.ui-datepicker:before {
	position: absolute;
	top: -10px;
	left: 10px;
	display: inline-block;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #eee;
	border-left: 10px solid transparent;
	content: '';
}
.ui-datepicker .ui-icon-circle-triangle-e,
.ui-datepicker .ui-icon-circle-triangle-w {
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20xmlns:sketch=%22http://www.bohemiancoding.com/sketch/ns%22%20width=%2217px%22%20height=%2230px%22%20viewBox=%220%200%2017%2030%22%20version=%221.1%22%3E%3Cstyle%20type=%22text/css%22%3Ecircle,ellipse,line,path,polygon,polyline,rect,text%7Bfill:%230078bd%20!important;%20%7D%3C/style%3E%3Ctitle%3EShape%3C/title%3E%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%3Cdefs/%3E%3Cg%20id=%22Page-1%22%20stroke=%22none%22%20stroke-width=%221%22%20fill=%22none%22%20fill-rule=%22evenodd%22%20sketch:type=%22MSPage%22%3E%3Cg%20id=%22chevron-left-thinner%22%20sketch:type=%22MSLayerGroup%22%20fill=%22%23000000%22%3E%3Cpath%20d=%22M13.7,29.6%20L0.6,16.1%20C-2.13162821e-14,15.5%20-2.13162821e-14,14.7%200.6,14.1%20L13.7,0.6%20C14.3,-2.84217094e-14%2015.1,-2.84217094e-14%2015.7,0.6%20C16.3,1.2%2016.3,2%2015.7,2.6%20L3.6,14.9%20L15.7,27.4%20C16.3,28%2016.3,28.8%2015.7,29.4%20C15.5,29.6%2015.1,29.8%2014.7,29.8%20C14.3,29.8%2013.9,29.6%2013.7,29.6%20L13.7,29.6%20Z%22%20id=%22Shape%22%20sketch:type=%22MSShapeGroup%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	height: 15px;
	width: 15px;
	background-size: contain;
}
.ui-datepicker .ui-icon-circle-triangle-e {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 2px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
	border-color: #e3e3e3;
	border-radius: 3px;
	padding: 0 5px;
	margin-right: 5px;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 45%;
}
.ui-datepicker table {
	width: 100%;
	border-collapse: collapse;
	margin: 0 0 .4em;
}

.ui-datepicker table tbody {
	border: 1px solid #eee;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: normal;
	border: 0;
}
.ui-datepicker td {
	border: 0;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .4em;
	text-align: center;
	text-decoration: none;
	color: #333;
	border: 1px solid #eee;
	border-top-width: 0;
	border-left-width: 0;
}
.ui-datepicker td:last-child span,
.ui-datepicker td:last-child a {
	border-right-width: 0;
}
.ui-datepicker table tbody tr:last-child td a,
.ui-datepicker table tbody tr:last-child td span {
	border-bottom-width: 0;
}
.ui-datepicker .ui-datepicker-other-month {
	background: #eee;
}
.ui-datepicker td.ui-datepicker-current-day a,
.ui-datepicker td.ui-datepicker-current-day span {
	color: #fff;
	background: #4189c7;
}
.ui-datepicker td:hover a,
.ui-datepicker td:hover span {
	color: #fff;
	background: #4899de;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}
.ui-datepicker .ui-datepicker-unselectable {
	opacity: .35;
	cursor: default !important;
    pointer-events: none;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}

/* Icons */
.ui-datepicker .ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	left: .5em;
	top: .3em;
}
