<template>
    <div class="modal fade media-browser" :id="id" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" @click="close">&times;</button>
                    <h4 class="modal-title">{{ modalTitle }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-9 col-sm-12 col-main">
                            <div role="tabpanel">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="borser-image">
                                        <div class="row tool">
                                            <div class="col-xs-12 col-sm-4">
                                                <input-search placeholder="Enter file name of folder name to search..." size="sm" :keyword="keyword" @input="inputKeyword"></input-search>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 text-right">
                                                <template v-if="showBackBtn"><button @click="back" type="button" class="btn btn-default btn-back">Back</button></template>
                                                <page-control @next="toPage" @prev="toPage" :current="page" :total="collections.totalPage"></page-control>
                                            </div>
                                        </div>
                                        <div class="bowser">
                                            <ul class="media-list">
                                                <li v-for="(item, index) in collections.data" :class="itemClases(item)" :key="index" @click.prevent="addSlectItem(item, $event)" @dblclick.prevent="openDir(item)">
                                                    <a href="">
                                                        <img :src="thumbnail(item)" alt="" class="thumb" />
                                                        <span v-if="isShowName(item)">{{ item.name }}</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-right">
                            <div class="option">
                                <template v-if="dirSelect">
                                    <div class="active">
                                        <span v-if="showUpdateDirBtn" role="button" class="btn btn-xs btn-link pull-right btn-save">(Update)</span>
                                        <label>Folder</label>
                                        <input-text :value="dirSelect.name" @focus="showUpdateDirBtn = true" @blur="saveDirName" @input="updateDirName" size="sm"></input-text>
                                        <div><small>Created at: {{ dirSelect.date_create | fromNow }}</small></div>
                                        <div><small><a href="" @click.prevent="remove" class="btn-remove-directory text-danger">Remove</a></small></div>
                                    </div>
                                </template>
                                <template v-else-if="imageSelect">
                                    <div class="active">
                                        <p>Image</p>
                                        <div style="min-height: 100px; min-width: 100px;" class="thumbnail">
                                            <img :src="imageUrl(imageSelect.path, [100, 100])">
                                        </div>
                                        <div class="detail">
                                            <div class="filename"><a target="_blank" :href="imageUrl(imageSelect.path)">{{ imageSelect.name }}</a></div>
                                            <div class="date_create">{{ imageSelect.date_create | fromNow }}</div>
                                            <div class="filesize">{{ imageSelect.size }}</div>
                                            <div class="filetype">{{ imageSelect.type }}</div>
                                            <div class="remove"><a href="#" @click.prevent="remove" class="text-danger remove-file">Remove</a></div>
                                        </div>
                                    </div>
                                </template>
                                <template v-else-if="multipleSlect">
                                    <div class="active">
                                        <div>Selected {{ multipleSlect.length }} items</div>
                                        <div class="items-selected">
                                            <template v-for="(item, index) in multipleSlect.slice(-5)">
                                                <div class="item-selected" :style="{ top: (index * 2) + 'px', left: (index * 2) + 'px' }" :key="index">
                                                    <div class="media">
                                                        <a class="pull-left" href="">
                                                            <img style="border: 1px solid #ddd; wid" class="media-object" :src="thumbnail(item, [45, 45])" alt="" />
                                                        </a>
                                                    </div>
                                                </div>
                                            </template>
                                        </div>
                                        <div class="items-action"><div class="remove"><a href="" @click.prevent="remove" class="text-danger">Remove</a></div></div>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-left">
                        <page-control @next="toPage" @prev="toPage" :current="page" :total="collections.totalPage"></page-control>
                    </div>
                    <form enctype="multipart/form-data" class="form-upload" style="display: inline-block;" method="post" action=""><input multiple="" type="file" :accept="accept" style="display: none;" name="file"></form>
                    <button @click="openUpload" type="button" class="btn btn-default btn-upload">Upload file</button>
                    <button @click="createDir" type="button" class="btn btn-default btn-create-directory">Create folder</button>
                    <button @click="close" type="button" class="btn btn-default">Cancel</button>
                    <button @click="insert" :disabled="disableInsert" :class="{ disabled: disableInsert }" type="button" class="btn btn-primary">{{ txtBtnInsert }}</button>
                </div>
            </div>
        </div>
    </div>
</template>

<style src="../../assets/sass/pages/media-browser.scss" lang="scss"></style>

<script>
    import { mapActions , mapState, mapGetters } from 'vuex'
    import { imageUrl, urlApi } from '../../helpers/url'
    import { strRandom } from '../../helpers/string'
    import { fromNow } from '../../helpers/datetime'
    import inputSearch from '../components/inputSearch'
    import inputText from '../components/inputText'
    import pageControl from '../components/pageControl'
    import toastr from '../../plugins/toastr'

    import vue from 'vue'

    vue.filter('fromNow', fromNow)

    export default {
        components: {
            pageControl,
            inputText,
            inputSearch
        },

        props: {
            modalTitle: {
                default: 'Insert media',
            },

            txtBtnInsert: {
                default: 'Insert',
            },

            open: {
                type: Boolean
            },

            insertDir: {
                type: Boolean,
                default: false,
            },

            mutipleInsert: {
                type: Boolean,
                default: true,  
            },

            type: {
                type: Array
            }
        },

        data () {
            return {
                page: 1,
                perpage: 15,
                directoryId: 0,
                keyword: '',

                thumb: {
                   folder: 'storage/icon/folder.png',
                   error: 'storage/icon/file-error.png',
                   application: 'storage/icon/application.png',
                   text: 'storage/icon/text.png',
                   audio: 'storage/icon/audio.png',
                   video: 'storage/icon/video.png',
                   other: 'storage/icon/file.png',
                   image: 'storage/icon/image.png',
                },

                showUpdateDirBtn: false,
                selected: [],
                selectedMeta: [],
                pathHistories: [],
            }
        },

        computed: {
            id () {
                return strRandom()
            },

            el () {
                return $('#' + this.id)
            },

            collections () {
                return this['mediaBrowser/collections']
            },

            accept () {
                const accept = []
                const allows = {
                    image: 'image/jpeg,.jpg,.jpeg,.jpe,image/gif,.gif,image/png,.png,image/bmp,.bmp,image/tiff,.tiff,.tif,.ico,.asf,.asx',
                    video: 'video/x-ms-wmv,.wmv,.wmx,.wm,video/avi,.avi,.divx,video/x-flv,.flv,video/quicktime,.mov,.qt,video/mpeg,.mpeg,.mpg,.mpe,video/mp4,.mp4,video/x-m4v,.m4v,video/ogg,.ogv,video/webm,.webm,video/x-matroska,.mkv,video/3gpp,.3gp,.3gpp,video/3gpp2,.3g2,.3gp2',
                    text: 'text/plain,.txt,.asc,.c,.cc,.h,.srt,text/csv,.csv,.tsv,.ics,.rtx,text/css,.css,text/html,.htm,.html,.vtt,.dfxp',
                    audio: 'audio/mpeg,.mp3,audio/x-m4a,.m4a,.m4b,.ra,.ram,audio/x-wav,.wav,audio/ogg,.ogg,.oga,.mid,.midi,audio/x-ms-wma,.wma,.wax,.mka,text/rtf,.rtf',
                    application: 'application/x-javascript,.js,application/pdf,.pdf,.class,.tar,application/zip,.zip,.gz,.gzip,.rar,.7z,image/photoshop,.psd,.xcf,application/msword,.doc,application/vnd.ms-powerpoint,.pot,.pps,.ppt,.wri,.xla,application/vnd.ms-excel,.xls,.xlt,.xlw,.mdb,.mpp,application/vnd.openxmlformats-officedocument.wordprocessingml.document,.docx,.docm,application/vnd.openxmlformats-officedocument.wordprocessingml.template,.dotx,.dotm,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.xlsx,.xlsm,.xlsb,.xltx,.xltm,.xlam,application/vnd.openxmlformats-officedocument.presentationml.presentation,.pptx,.pptm,application/vnd.openxmlformats-officedocument.presentationml.slideshow,.ppsx,.ppsm,application/vnd.openxmlformats-officedocument.presentationml.template,.potx,.potm,.ppam,.sldx,.sldm,.onetoc,.onetoc2,.onetmp,.onepkg,.oxps,.xps,.odt,.odp,.ods,.odg,.odc,.odb,.odf,.wp,.wpd,.key,.numbers,.pages',
                }

                // allow all
                if (!this.type) {
                    for (let type in allows) {
                        accept.push(allows[type])
                    }
                } else {
                    for (let type in allows) {
                        if (this.type.indexOf(type) !== -1) {
                            accept.push(allows[type])
                        }
                    }
                }

                return accept.join(',')
            },

            queries () {
                return {
                    page: this.page,
                    perpage: this.perpage,
                    directory_id: this.directoryId,
                    keyword: this.keyword,
                    type: this.type,
                }
            },

            disableInsert () {
                if (this.selected.length === 0) {
                    return true
                }

                if (this.insertDir === true) {
                    return this.selected.length === 0
                }

                const anyDir = this.selected.find(item => item.type === 'folder')

                if (anyDir) {
                    return true
                }

                if (!this.mutipleInsert) {
                    return this.selected.length !== 1
                }

                return false
            },

            showBackBtn () {
                return this.pathHistories.length !== 0
            },

            dirSelect () {
                if (this.selectedMeta.length === 1) {
                    let dirInfo =  this.selectedMeta[0].split('_')
                    if (dirInfo[0] === 'folder') {
                        return this.collections.data.find((item) => {
                            return item.type === 'folder' && dirInfo[1] === item.id
                        })
                    }
                }

                return null
            },

            imageSelect () {
                if (this.selectedMeta.length === 1) {
                    let imageInfo =  this.selectedMeta[0].split('_')
                    if (imageInfo[0].split('/')[0] === 'image') {
                        return this.collections.data.find((item) => {
                            return item.type.split('/')[0] === 'image' && imageInfo[1] === item.id
                        })
                    }
                }

                return null
            },

            multipleSlect () {
                if (this.selectedMeta.length > 1) {
                    return this.selected
                }

                return null
            },

            detail () {
                return this['mediaBrowser/detail']
            },

            ...mapGetters([
                'mediaBrowser/collections',
                'mediaBrowser/detail',
            ])
        },

        mounted () {
            var vm = this
            if (this.open) {
                this.fetchData()
                this.el.modal('show')
            }

            $('.form-upload input[type="file"]', this.el).on('change', function () {
                var $form = $('.form-upload', vm.el)
                var $files = this.files
                var totalFile = this.files.length
                var formData = new FormData($form[0])
                var data = []
                var collections = _.cloneDeep(vm.collections)

                var dirs = collections.data.filter((item, index) => {
                    return item.type === 'folder'
                })

                var indexEndDir = dirs.length

                formData.forEach(function (item, index) {
                    data.push(item)
                    collections.data.splice(indexEndDir, 0, {
                        id: -1,
                        name: item.name,
                        loading: true,
                        type: item.type,
                        pri_index: '1',
                        size: item.size,
                        date_create: '0000-00-00 00:00:00',
                    })
                    collections.total++
                });

                collections.totalPage = Math.ceil(collections.total/collections.perpage)

                vm['mediaBrowser/setState'](collections)
                
                function upload(i) {
                    if (data.length) {
                        var formData = new FormData();
                        var reader = new FileReader();
                        formData.append('file', data.shift());

                        vm['mediaBrowser/upload']({ directoryId: vm.directoryId, data: formData, options: { processData: false, contentType: false } }).done(res => {
                            let collections = _.cloneDeep(vm.collections)
                            let itemIndex = 0

                            for (i = collections.data.length - 1; i >= 0; i--) {
                                if (collections.data[i].loading === true) {
                                    itemIndex = i
                                    break
                                }
                            }

                            collections.data[itemIndex].id = res.file.id
                            collections.data[itemIndex].size = res.file.size
                            collections.data[itemIndex].date_create = res.file.uploaded_at
                            collections.data[itemIndex].date_create = res.file.uploaded_at
                            collections.data[itemIndex].path = res.file.path;
                            collections.data[itemIndex].name = res.file.name;
                            collections.data[itemIndex].loading = false;

                            vm['mediaBrowser/setState'](collections)
                        }).always(() => {
                            i++
                            upload(i)
                        })
                    }
                }
                upload(0);
            })
        },

        methods: {
            fetchData () {
                this.setAppLoading(true)
                this['mediaBrowser/paginate']({ query: this.queries }).done(res => {
                    this.setAppLoading(false)
                })
            },

            toPage (page) {
                this.page = page
            },

            close () {
                this.makeEmptySlectedItem()
                this.$emit('close')
            },

            insert () {
                this.$emit('insert', this.selected)
            },

            back () {
                var history = this.pathHistories.pop()
                this.page = history.page
                this.directoryId = history.directory_id
                this.keyword = history.keyword
                this.makeEmptySlectedItem()
            },

            openDir (item) {
                // fix for event dblclick
                this.selected.pop()
                this.selected.pop()
                this.selectedMeta.pop()
                this.selectedMeta.pop()

                if (item.type === 'folder') {
                    // save it before change
                    this.pathHistories.push(this.queries)
                    this.keyword = ''

                    this.directoryId = item.id
                }
            },

            addSlectItem (item, e) {
                if (e.ctrlKey === false) {
                    this.makeEmptySlectedItem()
                }

                var index = this.selectedMeta.indexOf(item.type + '_' + item.id)

                if (index !== -1) {
                    this.removeSlectItem(index)
                } else {
                    this.selected.push(item)
                    this.selectedMeta.push(item.type + '_' + item.id)
                }
            },

            makeEmptySlectedItem () {
                this.selected = []
                this.selectedMeta = []
            },

            removeSlectItem (index) {
                this.selected.splice(index, 1)
                this.selectedMeta.splice(index, 1)
            },

            openUpload () {
                $('.form-upload input[type="file"]', this.el).trigger('click')
            },

            remove () {
                const vm = this
                const selected = this.selected
                const requests = []

                var collectionData = _.cloneDeep(this.collections.data)
                collectionData = collectionData.map((item) => {
                    let type = item.type + '_' + item.id
                    if (vm.selectedMeta.indexOf(type) !== -1) {
                        item.removing = true
                    }

                    return item
                })

                this['mediaBrowser/setState']({ data: collectionData })

                selected.forEach((item, index) => {
                    let request = (item.type === 'folder' ? vm['mediaBrowser/removeDir']({ directoryId: item.id }) : vm['mediaBrowser/removeFile']({ fileId: item.id }))

                    request.done(res => {
                        collectionData = _.cloneDeep(collectionData).map(item2 => {
                            if (item2.id === item.id && item2.type === item.type) {
                                item2.hidden = true
                                let index = vm.selectedMeta.indexOf(item.type + '_' + item.id)
                                vm.removeSlectItem(index)
                            }
                            return item2
                        })

                        vm['mediaBrowser/setState']({ data: collectionData })
                    }).fail(xhr => {
                        var res = xhr.responseJSON
                        for (var error in res.errors) break
                        toastr.error(res.errors[error])

                        collectionData = _.cloneDeep(collectionData).map(item2 => {
                            if (item2.id === item.id && item2.type === item.type) {
                                item2.removing = false
                            }
                            return item2
                        })

                        vm['mediaBrowser/setState']({ data: collectionData })
                    })

                    requests.push(request)
                })

                $.when.apply($, requests).done(function () {
                    vm.makeEmptySlectedItem()
                    vm.fetchData()
                })
            },

            createDir () {
                const vm = this

                this.setAppLoading(true)
                this['mediaBrowser/createDir']({
                    data: {
                        name: 'New folder',
                        parent_id: vm.directoryId,
                    },
                }).done(res => {
                    vm.fetchData()
                }).fail(xhr => {
                    var res = xhr.responseJSON
                    for (var error in res.errors) break
                    toastr.error(res.errors[error])
                })
            },

            updateDirName (newName) {
                const dirSelect = this.dirSelect
                const collectionData = _.cloneDeep(this.collections.data)
                const dir = collectionData.find((item) => {
                    return item.id === dirSelect.id && item.type === 'folder'
                })

                dir.name = newName
                this['mediaBrowser/setState']({ data: collectionData })
            },

            saveDirName (event) {
                const newName = event.target.value
                const dirSelect = this.dirSelect
                this.showUpdateDirBtn = false
                this.setAppLoading(true)
                this['mediaBrowser/updateDir']({ directoryId: dirSelect.id, data: { name: newName } })
                .done(res => {
                    this.setAppLoading(false)
                }).fail(xhr => {
                    var res = xhr.responseJSON
                    for (var error in res.errors) break
                    toastr.error(res.errors[error])
                })
            },

            itemClases (item) {
                var classes = []
                var type = item.type.split('/')[0]
                classes.push(type)

                if (this.selectedMeta.indexOf(item.type + '_' + item.id ) !== -1) {
                    classes.push('active')
                }

                if (item.loading || item.removing) {
                    classes.push('loading')
                    classes.push('absolute')
                }

                if (item.hidden) {
                    classes.push('hide')
                }

                return classes
            },

            thumbnail (item, size) {
                const type = item.type.split('/')[0]
                
                if (!size) {
                    size = [100, 100]
                }

                if (type === 'image') {
                    if (item.loading) {
                        return imageUrl(this.thumb[type], size)
                    } else {
                        return imageUrl(item.path, size)
                    }
                }

                return imageUrl(this.thumb[type], size)
            },

            isShowName (item) {
                return item.type.split('/')[0] !== 'image'
            },

            inputKeyword (val) {
                const vm = this
                clearTimeout(this.timer);
                this.timer = setTimeout(function(object) {
                    vm.keyword = val
                }, 500, this);
            },

            imageUrl,
            ...mapActions([
                'setAppLoading',
                'mediaBrowser/paginate',
                'mediaBrowser/createDir',
                'mediaBrowser/upload',
                'mediaBrowser/removeFile',
                'mediaBrowser/removeDir',
                'mediaBrowser/updateDir',
                'mediaBrowser/setState',
            ])
        },

        watch: {
            open () {
                if (this.open === true) {
                    this.fetchData()
                    this.el.modal('show')
                } else {
                    this.el.modal('hide')
                }
            },

            queries: {
                handler () {
                    this.fetchData()
                },
                deep: true,
            },
        }
    }
</script>