<template>
    <div id="container">
        <div id="content">
            <div class="container">
                <br><br><br><br><br><br>
                <div class="row">
                    <div class="col-md-offset-4 col-sm-offset-3 col-md-4 col-sm-6">
                        <div class="text-center" style="margin-bottom: 10px;">
                            <img style="max-width: 200px" :src="logo" alt="">
                        </div>
                        <slot></slot>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</template>

<script>
    import { urlStorage } from '../../helpers/url'
    import appFooter from '../common/footer'

    export default {
        components: {
            appFooter,
        },
        computed: {
            logo () {
                return urlStorage('storage/logo.png')
            },
        }
    }
</script>