<template>
    <div class="wrapper">
        <div class="flex-center position-ref full-height">
            <slot></slot>
        </div>
    </div>
</template>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Raleway:100,600');
    .wrapper {
        background-color: #fff;
        color: #fff;
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        height: 100vh;
        margin: 0;
        background: linear-gradient(to right, rgb(86, 204, 242), rgb(47, 128, 237));
    }

    .full-height {
        height: 100vh;
    }

    .flex-center {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .position-ref {
        position: relative;
    }

    .top-right {
        position: absolute;
        right: 10px;
        top: 18px;
    }

    .content {
        text-align: center;
    }

    .title {
        font-size: 60px;
    }

    .links > a {
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        padding: 15px;
        border: 2px solid transparent;
        border-radius: 25px;
        min-width: 120px;
        transition: all .3s;
    }

    .links > a:hover {
        border-color: #fff;
    }

    .m-b-md {
        margin-bottom: 30px;
    }
</style>
