<template>
    <div id="container">
        <app-header>
            <slot name="header-tab"></slot>
        </app-header>
        <div id="content">
            <column-left></column-left>
            <column-left-under></column-left-under>
            <div class="container" style="max-width: 830px;">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
    import appFooter from '../common/footer'
    import appHeader from '../common/header'
    import columnLeft from '../common/columnLeft'
    import columnLeftUnder from '../common/columnLeftUnder'

    export default {
        components: {
            appHeader,
            appFooter,
            columnLeft,
            columnLeftUnder
        }
    }
</script>