<template>
    <div id="container">
        <column-left></column-left>
        <column-left-under></column-left-under>
        <slot></slot>
        <app-footer></app-footer>
    </div>
</template>

<script>
    import { mapActions } from 'vuex'
    import appFooter from '../common/Footer'
    import columnLeft from '../common/columnLeft'
    import columnLeftUnder from '../common/columnLeftUnder'

    export default {
        components: {
            appFooter,
            columnLeft,
            columnLeftUnder
        }
    }
</script>